@import gt.GuildTools
@(state: String, token: Option[String])(implicit environment: play.api.Environment)
<!DOCTYPE html>
<meta charset="UTF-8">
<title>Guild Tools</title>
<link rel="shortcut icon" href='@routes.Assets.versioned("images/favicon.ico")'>

@* Background and nothing else *@
<style>
	body {
		overflow: hidden;
		background-color: #2e3740;
	}

	.cloak {
		opacity: 0;
	}

	#borders {
		position: absolute;
		z-index: -1;
		top: 0; left: 0; right: 0; bottom: 0;
		display: none;
	}

	.app #borders {
		border: 1px solid rgb(17, 17, 17);
		display: block;
	}

	.app #borders::after {
		content: "";
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		border: 1px solid rgba(200, 200, 200, 0.20);
	}
</style>

@* Loading cover spinner *@
<div id="loader" class="cloak">
	<div class="spinner"><b></b><b></b><b></b><b></b><b></b><b></b></div>
</div>
<div id="loader-titlebar" class="cloak">
	<i onclick="window.close();">close</i>
</div>

@*  Application utility divs *@
<div id="borders"></div>
<div id="background"></div>
<div id="app-loader" class="cloak"><img src="/assets/images/spinner.svg"></div>

@* Load the loading stylesheet *@
<script>
@if(token.isDefined) {
	localStorage.setItem("auth.session", "@token");
}

	var APP = typeof require == "function";
	if (APP) document.querySelector("html").classList.add("app");

@if(GuildTools.dev) {
	var DEV = true;
} else {
	var DEV = false;
}

	function sso_url() {
		var cont = encodeURIComponent(document.location.pathname);
		var root = "https://auth.fromscratch.gg/oauth2/authorize";
		var client = DEV ? "bb7dda1d-a958-11e6-80ad-fa163ea5ee1a" : "02c2c612-4c32-48a4-b505-a9954847068c";
		var permissions = "id profile.edit permissions.admin";
		return root + "?client_id=" + client + "&response_type=code&scope=" + permissions + "&state=@state:" + cont;
	}

	var ready = new Promise(function(res, rej) {
		if (!localStorage.getItem("auth.session")) {
			// Fail fast if authentication data is not available
			(function() {
				document.location.href = sso_url();
			})();
		} else {
			var xhr = new XMLHttpRequest();
			xhr.open("GET", '@routes.Assets.versioned("less/loading.css")', true);
			xhr.responseType = "text";
			xhr.onload = function() {
				var style = document.createElement("style");
				style.type = "text/css";
				style.appendChild(document.createTextNode(this.response));
				document.head.appendChild(style);
				res();
			};
			xhr.send();
		}
	});
</script>

@* Check browser compatibility and load polyfills *@
<script src='@routes.Assets.versioned("javascripts/bowser.js")'></script>
<script>
	var COMPAT, pfready;
	(function() {
		var acquire, release;
		pfready = new Promise(function(done) {
			var count = 0;
			acquire = function() { ++count; };
			release = function() { if(--count < 1) done(); };
		});

		var imports = '@routes.Assets.versioned("javascripts/polyfills/imports.js")';

		function load(polyfill) {
			acquire();
			var script = document.createElement("script");
			script.type = "text/javascript";
			script.src = polyfill;
			script.async = true;
			script.onload = release;
			document.head.appendChild(script);
		}

		var bowser = this.bowser || module.exports;
		var valid = (function() {
			var version = parseInt(bowser.version.split(".")[0]);
			if (bowser.chrome) return version >= 51;
			//else if (bowser.firefox) return version >= 41;
			else return false;
		})();

		COMPAT = !valid;

		if (!valid && localStorage.getItem("unsupported.ignored") != navigator.userAgent) {
			document.location.href = "/unsupported";
		} else if (bowser.firefox || bowser.msedge) {
			load(imports);
		} else {
			release();
		}
	})();
</script>

@* Base framework *@
<script src='@routes.Assets.versioned("javascripts/prefixfree.js")'></script>
<script src='@routes.Assets.versioned("javascripts/moment.js")'></script>
@playscalajs.html.selectScript("client", environment.mode == play.api.Mode.Prod, filename => s"/assets/$filename")

@* Launcher *@
<script>
	pfready.then(function() {
		var scripts = document.querySelectorAll("body > script");
		for (var i = 0; i < scripts.length; i++) scripts[i].parentNode.removeChild(scripts[i]);
		gt.App().main();
	});
</script>
