logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.worksheet
/.cache
/bin
/conf/application.conf
/public/javascripts/compiler.jar
/public/javascripts/compiler.sh
.vscode
guild-tools.eml
/public/tools/tools.js
/public/tools/tools.js.map
