@()
<link rel="stylesheet" href='@routes.Assets.versioned("webtools/charter.css")'>
<ol id="charter">
	<li>
		<div class="title">1. Performances</div>
		<ul>
			<li>Maîtriser autant sur le plan théorique que pratique tous les aspects de votre classe.</li>
			<li>Avoir la meilleure optimisation possible (race, métier, etc...).</li>
			<li>Avoir une UI optimisée, qui vous permet en temps réel d'avoir accès à toutes les infos utiles en raid.</li>
			<li>Jouer au minimum trois rerolls (donc 4 personnages), et ce de manière compétitive.</li>
			<li>Jouer avec le client World of Warcraft en anglais.</li>
			<li>Utiliser et maîtriser Weak Auras.</li>
			<li>Utiliser et maîtriser Big Wigs.</li>
		</ul>
		<button>
			<i class="material-icons">check</i>
			Lu et Approuvé
		</button>
	</li>
	<li>
		<div class="title">2. Attitude</div>
		<ul>
			<li>Respecter vos mates.</li>
			<li>Arriver à l'heure en raid et ne pas le quitter avant la fin.</li>
			<li>Arriver en raid full consos.</li>
			<li>Une fois en raid, ne pas AFK à répétition entre les pauses officielles.</li>
			<li>Accepter la critique, souvent celle-ci ne sera pas là pour vous descendre, mais pour vous aider à vous améliorer.</li>
			<li>Être prêt à progresser, ne pas arriver en conquérant, on a tous toujours des choses à apprendre.</li>
			<li>Être prêt à ne pas participer à tous les boss en progress, les compositions sont faites en fonction du niveau des joueurs disponibles mais également des besoins des fights, penser à la guilde avant tout.</li>
		</ul>
		<button>
			<i class="material-icons">check</i>
			Lu et Approuvé
		</button>
	</li>
	<li>
		<div class="title">3. Relationnel</div>
		<ul>
			<li>Être présent sur Teamspeak en dehors des raid pour améliorer la cohésion du groupe.</li>
			<li>Participer le plus possible à la vie de la guilde que ça soit IG ou sur le forum / tools, à visiter quotidiennement.</li>
			<li>Les gens feront toujours l'amalgame entre vous et votre tag, il vous sera donc demandé de le représenter au mieux.</li>
			<li>Aucun whine ne sera toléré quant à l'attribution des loot, ces derniers seront gérés par les Officiers de manière à optimiser le raid le mieux possible.</li>
		</ul>
		<button>
			<i class="material-icons">check</i>
			Lu et Approuvé
		</button>
	</li>
	<li>
		<div class="title">4. Disponibilités</div>
		<ul>
			<li>Toute absence devra être annoncée au minimum 48 heures à l'avance.</li>
			<li>Le farming faisant partie intégrante du PVE HL, tout dépop pendant cette période sera définitif.</li>
			<li>En période de rush intensif (au minimum 1 semaine, et au maximum 2 semaines en fonction des disponibilités) nous vous demanderons d'être disponible de 12h00 à 03h00, il faut que vous soyez en mesure de poser des jours si vous travaillez.</li>
			<li>Une fois la période de rush terminée (reprise du boulot...) nous continuerons à raid 7/7 de 20h00 à 02h00 ainsi que les week-ends de 12h00 à 03h00 et ce, jusqu'à la fin du progress.</li>
			<li>Nous attendons 100% de taux de présence de la part de nos membres en progress.</li>
			<li>En période de farm, une présence de 1 à 4 soirs par semaine sera nécessaire, soirs qui seront désigné en fonction des membres.</li>
		</ul>
		<button>
			<i class="material-icons">check</i>
			Lu et Approuvé
		</button>
	</li>
	<li style="padding-bottom: 1px;">
		<div class="title">5. Objectifs</div>
		<ul>
			<li>Comme vous l'aurez compris, nous sommes une guilde à ambition "Top World" et nous nous en donnons les moyens, sachez donc dans quoi vous vous embarquez avant de tenter l'expérience à nos côtés.</li>
			<li>Si vous n'êtes pas sûrs à 100% de respecter la charte ci-dessus, ou n'êtes pas capables de vous projeter dans votre vie, merci de ne pas nous faire perdre de temps et de passer votre chemin.</li>
		</ul>
		<button>
			<i class="material-icons">check</i>
			Lu et Approuvé
		</button>
	</li>
</ol>
