@import models._
@(section: String)(content: Html)(implicit user: User)
<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href='@routes.Assets.versioned("webtools/webtools.css")'>

<script src='@routes.Assets.versioned("javascripts/seamless.js")'></script>
<script>
seamless.frame({
	"allowed_domains": ["http://www.fs-guild.net"],
	"target_origin": '*'
});
</script>

@menu_item(title: String, icon: String, href: String, sec: String) = {
	<li @if(section == sec) { class="active" }><a href="@href"><i class="material-icons">@icon</i> @title</a></li>
}

<aside>
	<h1>From Scratch WebTools</h1>
	<ul>
		@if(user == null) {
			@menu_item("Accès limité", "lock", "#", "")
		} else {
			@menu_item("Personnages", "account_circle", "/wt/chars", "chars")
			@menu_item("Événements", "event", "/wt/events", "events")

			@if(user.member && false) {
			} else {
				@menu_item("Candidature", "assignment_ind", "/wt/apply", "apply")
			}

			@menu_item("Candidatures", "assignment", "/wt/applys", "apply")

			@if(user.roster) {
				@menu_item("Wishlists", "favorite", "/wt/whishlist", "wishlist")
			}
		}
	</ul>
</aside>

<div id="content">
@content
</div>
