@import controllers.WebTools.UserRequest
@(section: String)(content: Html)(implicit req: UserRequest[AnyContent])
<!DOCTYPE html>
<meta charset="utf-8">

<style>
body {
overflow: hidden;
display: flex;
min-height: 600px;
}

aside {
background: #395066;
width: 250px;
}
</style>

<link rel="stylesheet" href='@routes.Assets.versioned("webtools/webtools.css")'>
<link type="text/css" href="//wowcss.zamimg.com/css/basic.css?9" rel="stylesheet">

<script src='@routes.Assets.versioned("javascripts/jquery.js")'></script>
<script>
	window.onload = function() {
		window.parent.postMessage(JSON.stringify({
			height: document.body.offsetHeight,
			href: location.href
		}), "*");
	};

	window.onunload = function() {
		window.parent.postMessage(JSON.stringify({
			navigate: true
		}), "*");
	}
</script>

@menu_item(title: String, icon: String, href: String, sec: String) = {
	<li @if(section == sec) { class="active" }><a href="@href"><i class="material-icons">@icon</i> @title</a></li>
}

<aside>
	<h1>From Scratch WebTools</h1>
	<ul>
		@if(req.user == null) {
			@menu_item("Accès limité", "lock", "#", "")
		} else {
			@menu_item("Personnages", "account_circle", "/wt/chars", "chars")

			@if(req.chars.nonEmpty) {
				@menu_item("Événements", "event", "/wt/events", "events")
				@menu_item("Candidature", "assignment_ind", "/wt/application", "apply")
			}

			@if(req.user.roster) {
				@menu_item("Wishlist", "favorite", "/wt/wishlist", "wishlist")
			}
		}
	</ul>
</aside>

<div id="content">
@content
</div>
