@import controllers.webtools.WtController.UserRequest
@()(implicit req: UserRequest[AnyContent])
@wt.layout("chars") {
	<h2>Mes personnages</h2>
	<link rel="stylesheet" href='@routes.Assets.versioned("webtools/profile.css")'>

	<p>
		<i class="material-icons">account_circle</i>
		Associer vos personnages en jeu avec votre compte From Scratch vous permet de profiter des fonctionnalités des WebTools.<br>
		Cette étape est nécessaire avant de pouvoir accéder aux événements ou utiliser la fonction de postulation.
	</p>

	<div class="chars">
		@for(char <- req.chars) {
			<div class="char">
				<div class="thumb">
					<img src="http://eu.battle.net/static-render/eu/@char.thumbnail" @if(!char.active) { style="opacity: 0.3" }>
				</div>
				<div class="top">
					<span class="name c@char.clazz">@char.name</span>
					@if(char.main) {
						<i class="material-icons">star</i>
					} else {
						@if(!char.active) { <i class="material-icons">cloud_off</i> }
					}
					<span class="realm">@req.names.s(char.server)</span>
				</div>
				<div class="middle">
					<strong>@char.level</strong>
					@req.names.r(char.race)
					@req.names.c(char.clazz)
						&ndash;
					@char.ilvl ilvl
				</div>
				<div class="actions">
					@if(char.main) { <span>Personnage principal</span> }
					@if(char.active && !char.main) { <a href="/wt/profile?action=set-main&char=@char.id">Définir main</a> }
					@if(char.active && !char.main) { <a href="/wt/profile?action=disable&char=@char.id">Désactiver</a> }
					@if(!char.active) { <a href="/wt/profile?action=enable&char=@char.id">Activer</a> }
					@if(!char.active) { <a href="/wt/profile?action=remove&char=@char.id">Supprimer</a> }
				</div>
			</div>
		}

		@if(req.chars.isEmpty) {
			<div id="no-char-box">
				Aucun personnage n'est associé à votre compte pour le moment !
			</div>
		}
	</div>

	<button disabled>
		<i class="material-icons">link</i> Associer un personnage
	</button>
}
