@import controllers.WebTools.UserRequest
@()(implicit req: UserRequest[AnyContent])
@wt.layout("") {
	<div class="fullpage">
		<div>
			<i class="material-icons">lock</i>
			Vous n'êtes pas connecté !
			<div style="font-size: 14px; color: #eee">
				L'utilisation des WebTools requiert un compte From Scratch
			</div>
			<div style="margin-top: 24px;">
				<a class="button" href="http://www.fs-guild.net/forum/ucp.php?mode=login" target="_parent" style="margin-right: 24px;">
					<i class="material-icons">vpn_key</i> Se connecter
				</a>
				<a class="button" href="http://www.fs-guild.net/forum/ucp.php?mode=register" target="_parent">
					<i class="material-icons">verified_user</i> Créer un compte
				</a>
			</div>
		</div>
	</div>
}(null)
