@import controllers.webtools.WtController.UserRequest
@(bosses: Seq[String], data: String)(implicit req: UserRequest[AnyContent])
@wt.layout("wishlist") {

	<h2>Wishlist Hellfire Citadel</h2>
	<link rel="stylesheet" href='@routes.Assets.versioned("webtools/wishlist.css")'>

	<div class="box" id="wishes">
		<div class="boss title">
			<div class="name"></div>
			<div>Need Mythic (non WF / Socket)</div>
			<div>Le coineriez vous si vous ne faisiez pas Archimonde&nbsp;?</div>
		</div>
		@for(boss <- bosses) {
			<div class="boss">
				<div class="name">
					<a href="/wt/wishlist/@boss">@boss</a>
				</div>
				<div class="need">
					<label><input type="radio" value="Oui" name="@boss-need"> Oui</label>
					<label><input type="radio" value="Non" name="@boss-need"> Non</label>
				</div>
				<div class="coins">
					<label><input type="radio" value="Oui" name="@boss-coin"> Oui</label>
					<label><input type="radio" value="Non" name="@boss-coin"> Non</label>
				</div>
			</div>
		}
	</div>

	<script>
			var data = @Html(data);

			function do_save() {
				var bosses = document.querySelectorAll("#wishes .boss:not(.title)");
				var data = {};

				for (var i = 0; i < bosses.length; i++) {
					var boss = bosses[i];
					var name = $(boss.querySelector("a")).text();
					var need = boss.querySelector(".need input:checked").value;
					var coin = boss.querySelector(".coins input:checked").value;

					data[name] = {
						need: need,
						coin: coin
					};
				}

				$("#saved").hide();
				$.post("/wt/wishlist", { data: JSON.stringify(data) }, function(res) {
					$("#saved").css("display", "inline");
				});
			}

			var bosses = document.querySelectorAll("#wishes .boss:not(.title)");
			for (var i = 0; i < bosses.length; i++) {
				var boss = bosses[i];
				var name = $(boss.querySelector("a")).text();

				var boss_data = data[name];

				if (!boss_data) {
					$("input[value='Non']", boss).attr("checked", true);
					continue;
				}

				if (boss_data.need == "Oui") {
					$(".need input[value='Oui']", boss).attr("checked", true);
				} else {
					$(".need input[value='Non']", boss).attr("checked", true);
				}

				if (boss_data.coin == "Oui") {
					$(".coins input[value='Oui']", boss).attr("checked", true);
				} else {
					$(".coins input[value='Non']", boss).attr("checked", true);
				}
			}
	</script>

	<button id="sub-btn" onclick="do_save();"><i class="material-icons">archive</i> Sauvegarder</button>
	<i class="material-icons" id="saved">check</i>

}
