<dom-module id="gt-about">
	<link rel="stylesheet/less" href="/assets/less/about.less">
	<template>
		<gt-box #about>
			<p #logo>
				<img src="/assets/images/about/guild-tools.png">
			</p>
			<p>
				<strong>Guild-Tools 6.0</strong> &mdash; <em>Build <b>{{version}}</b></em><br>
				&copy; 2014-2015 Bastien Clément (<strong>Blash</strong>)
			</p>
			<p>
				A handcrafted <strong>From Scratch</strong> software
			</p>
			<p>
				Based on the <strong>BlowTools</strong> project<br>
				&copy; 2013-2014 <strong>Blash</strong> / <strong>Räzen</strong>
			</p>
		</gt-box>
		<gt-box dark #powered>
			<div .layout>
				<img src="/assets/images/about/chrome.png">
				<img src="/assets/images/about/polymer.png">
				<img src="/assets/images/about/play.png">
				<img src="/assets/images/about/scala.png">
				<img src="/assets/images/about/battlenet.png">
			</div>
		</gt-box>
	</template>
</dom-module>
