<style>
	#about {
		padding: 15px;
		align-items: center;
		justify-content: center;
	}

	#about-main {
		background: url("/assets/images/about/background.png");
		width: 400px;
		height: 400px;
		padding: 60px 70px;
	}

	#about-logo {
		margin-bottom: 50px;
	}

	#about-powered {
		height: 400px;
		width: 180px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	#about-powered img {
		display: block;
	}
</style>

<div id="about" class="tools-main">
	<div>
		<div class="box" id="about-main">
			<p id="about-logo">
				<img src="/assets/images/about/guild-tools.png">
			</p>
			<p id="about-copyright">
				<strong>Guild-Tools 5.0</strong> &mdash; Build {{ $.rev.substr(0, 7) }}<br>
				&copy; 2014-2015 Bastien Clément (<strong>Blash</strong>)
			</p>
			<p>
				An handcrafted <strong>From Scratch</strong> software
			</p>
			<p>
				Design contributions from <strong>Manaberry</strong>
			</p>
			<p>
				Based on the <strong>BlowTools</strong> project<br>
				&copy; 2013-2014 <strong>Blash</strong> / <strong>Räzen</strong>
			</p>
		</div>
	</div>
	<div style="margin-left: 15px">
		<div class="box" id="about-powered">
			<img src="/assets/images/about/chrome.png">
			<img src="/assets/images/about/angularjs.png">
			<img src="/assets/images/about/jquery.png">
			<img src="/assets/images/about/scala.png">
			<img src="/assets/images/about/play.png">
			<img src="/assets/images/about/battlenet.png">
		</div>
	</div>
</div>
