<style>
	#absences-edit form {
		width: 400px;
	}

	#absences-edit span.date {
		display: flex;
	}

	#absences-edit select.day {
		flex: 1;
		margin-right: 6px;
	}

	#absences-edit select.month {
		flex: 3;
	}

	#absences-edit textarea {
		width: 100%;
	}

	#absences-edit button {
		float: right;
		margin-left: 15px;
	}
</style>

<div id="absences-edit" ng-controller="AbsencesEditCtrl">
	<form class="box" ng-submit="save()">
		<label>
			From
			<span class="date">
				<select class="day" ng-model="from.day" ng-options="day.value as day.label for day in days" ng-disabled="ctx.current"></select>
				<select class="month" ng-model="from.month" ng-options="month.value as month.label for month in months" ng-disabled="ctx.current"></select>
			</span>
		</label>
		<label>
			To
			<span class="date">
				<select class="day" ng-model="to.day" ng-options="day.value as day.label for day in days"></select>
				<select class="month" ng-model="to.month" ng-options="month.value as month.label for month in months"></select>
			</span>
		</label>
		<p>
			<i class="awe-info-circled"></i>
			Absence periods are inclusive
		</p>
		<label>
			Reason
			<textarea id="absences-edit-reason" ng-model="reason" maxlength="255"></textarea>
		</label>
		<div class="overflow">
			<button type="submit" ng-disabled="inflight">{{ ctx.create ? 'Create' : 'Save' }}</button>
			<button ng-disabled="inflight" ng-click="modal()" type="button">Cancel</button>
		</div>
	</form>
	<script>
		_("#absences-edit-reason").elastic();
	</script>
</div>
