<dom-module id="gt-apply">
	<style type="text/less">
		:host {
			display: flex;
		}
		
		.col {
			display: flex;
			flex-direction: column;
		}
		
		#actives {
			width: 330px;
			margin-right: 6px;
			transition: all .2s ease-out;
			#do-apply { position: absolute; top: 6px; right: 0; }
		}
		
		@media (max-width: 1500px) {
			#actives { width: 280px; }
		}
		
		apply-list-item:not(:last-child) {
			margin-bottom: 6px;
		}
		
		#main-box {
			flex: 1;
			position: relative;
		}
		
		apply-details {
			.pos(absolute);
			z-index: 15;
			animation: apply-slide-in .4s ease-out;
			animation-fill-mode: both;
			animation-delay: .2s;
		}
		
		@keyframes apply-slide-in {
			0% { transform: translateX(50px); opacity: 0; }
			100% { transform: translateX(0px); opacity: 1; }
		}
		
		#placeholder {
			.pos(absolute);
			z-index: 10;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all .2s ease-out;
			
			i {
				font-size: 100px;
				color: fade(@light-blue, 60%);
				background: rgba(17, 17, 17, 0.08);
				border: 2px dashed fade(@light-blue, 25%);
				border-radius: 100%;
				padding: 24px 22px 20px;
				width: auto;
				height: auto;
			}
			
			&[hide] {
				opacity: 0;
			}
		}
	</style>
	<template>
		<gt-box #actives heading="Open applications" scrollable>
			<gt-alert dark icon="error_outline" [if]="!app.user.member">
				Your current guild rank only let you access your own application
			</gt-alert>
			<gt-alert dark icon="done" [if]="!applys.length">
				There is no open application to review at the moment
			</gt-alert>
			<apply-list-item [repeat]="applys" [apply]="item" (click)="SelectApply" {selected}="equals(selected, item)"></apply-list-item>
		</gt-box>
		<div #main-box>
			<apply-details [apply]="selected" [if]="selected"></apply-details>
			<div #placeholder {hide}="selected">
				<i>assignment_ind</i>
			</div>
		</div>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="apply-list-item">
	<style type="text/less">
		:host {
			display: block;
		}
		
		gt-box {
			padding: 6px;
			overflow: hidden;
			transition: all .2s ease-out;
			:host([selected]) & {
				background: fade(@fs-blue, 10%);
				border: 1px solid fade(@fs-blue, 10%);
			}
		}
		
		#layout {
			display: flex;
			align-items: center;
		}
		
		bnet-thumb {
			width: 40px;
			height: 40px;
			margin-right: 8px;
			transition: all .2s ease-out;
		}
		
		@media (max-width: 1500px) {
			bnet-thumb {
				opacity: 0;
				margin-left: -40px;
				margin-right: 2px;
			}
		}
		
		#infos {
			flex: 1;
			padding-right: 6px;
		}
		
		#name {
			font-size: 16px;
			margin-bottom: 3px;
			display: block;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		#stage {
			color: @fs-gray;
			font-weight: 300;
			//font-family: "Roboto Condensed"
		}
		
		#update {
			text-align: right;
			font-weight: 300;
		}
		
		gt-timeago {
			display: block;
			margin-bottom: 3px;
		}
		
		#unread {
			color: @light-blue;
			margin: 0;
			transition: all .2s ease-out;
			&:not([unread]) {
				margin-bottom: -19px;
				opacity: 0;
			}
		}
		
		#chevron {
			font-size: 24px;
			margin-left: 6px;
			color: @fs-gray;
			display: block;
			margin-top: 4px;
			margin-right: -2px;
			
			opacity: 0.5;
			transition: all .2s ease-out;
			:host(:hover) & { opacity: 1; }
			:host([selected]) & { opacity: 0.75; color: #fff; }
		}
	</style>
	<template>
		<meta is="apply-data" [apply] [data]>
		<meta is="apply-stage-name" [stage]="data.stage" [name]="stage_name">
		<meta is="apply-unread" [apply] [unread]>
		<meta is="roster-main" [user]="data.user" [main]>
		<gt-box dark>
			<div #layout>
				<bnet-thumb [char]="main"></bnet-thumb>
				<div #infos>
					<b #name {class-color}="main.class">{{main.name}}</b>
					<b #stage>{{stage_name}}</b>
				</div>
				<div #update>
					<gt-timeago [date]="data.updated"></gt-timeago>
					<div #unread {unread}>Unread posts</div>
				</div>
				<i #chevron>chevron_right</i>
			</div>
		</gt-box>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="apply-details">
	<style type="text/less">
		:host {
			display: block;
			position: relative;
		}
		
		:host > gt-box { .gpu;
			.pos(absolute);
		}
		
		#tabs {
			position: absolute;
			top: 6px;
			left: 0px;
			display: flex;
			
			gt-button {
				color: mix(@light-blue, white, 50%);
				opacity: 0.8;
				transition: all .2s ease-out;
				margin-right: 0;
				
				&:hover, &[active] {
					opacity: 1;
					color: white;
				}
			}
		}
		
		#links {
			position: absolute;
			top: 6px;
			right: 0;
		}
		
		#side {
			position: absolute;
			top: 50px;
			right: 0;
			bottom: 0;
			width: 270px;
			background: none;
			border: 0;
			border-left: 2px solid fade(#426585, 50%);
			
			h2 {
				font: 300 18px "Roboto Condensed";
				margin: 0 0 12px 0;
			}
			
			ul {
				margin: 12px 0;
				padding: 0;
				list-style: none;
				font-weight: 300;
				
				li {
					margin: 6px 0;
				}
				
				span {
					color: @light-blue;
					display: inline-block;
					width: 80px;
				}
			}
			
			apply-details-char {
				margin: 6px 0 0;
			}
		}
		
		#discussion, #details {
			position: absolute;
			top: 50px;
			left: 0px;
			bottom: 0;
			right: 270px;
			border: 0;
			background: none;
			opacity: 0;
			z-index: 10;
			transition: all .2s ease-out;
			&[active] {
				opacity: 1;
				z-index: 15;
			}
		}
		
		#discussion > * {
			max-width: 900px;
		}
		
		apply-details-message {
			margin: 0 auto 12px auto;
		}
	</style>
	<template>
		<meta is="apply-data" [apply] [data]>
		<meta is="apply-stage-name" [stage]="data.stage" [name]="stage_name">
		<meta is="roster-user" [id]="data.user" [user]>
		<meta is="roster-main" [user]="data.user" [main]>
		<meta is="roster-chars" [user]="data.user" [chars] active>
		<gt-box #main heading=" " scrollable>
			<div #tabs>
				<gt-button (click)="ShowDiscussion" {active}="equals(tab, 1)">Discussion</gt-button>
				<gt-button (click)="ShowDetails" {active}="equals(tab, 2)">Details</gt-button>
			</div>
			<div #links>
				<gt-button [goto]="profileLink">View profile</gt-button>
			</div>
			<gt-box #side scrollable dark>
				<h2>Application</h2>
				<ul #meta>
					<li>
						<span>Username</span>
						<b>{{user.name}}</b>
					</li>
					<li>
						<span>Applied</span>
						<gt-timeago [date]="data.date"></gt-timeago>
					</li>
					<li>
						<span>Stage</span>
						<b>{{stage_name}}</b>
					</li>
				</ul>
				<h2>Characters</h2>
				<apply-details-char [repeat]="chars" [id]="item"></apply-details-char>
			</gt-box>
			<gt-box #discussion scrollable dark {active}="equals(tab, 1)">
				<apply-details-message [repeat]="feed" [message]="item"></apply-details-message>
			</gt-box>
			<gt-box #details scrollable dark {active}="equals(tab, 2)">
			</gt-box>
		</gt-box>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="apply-details-char">
	<style type="text/less">
		:host {
			display: block;
			padding: 6px;
			background: rgba(17, 17, 17, 0.1);
			border: 1px solid rgba(17, 17, 17, 0.1);
			transition: all .2s ease-out;
			position: relative;
			overflow: hidden;
		}
		
		#name {
			font: 300 18px "Roboto Condensed";
		}
		
		#server {
			font-weight: 300;
		}
		
		#ilvl {
			position: absolute;
			top: 8px;
			right: 8px;
			font-weight: 300;
			color: @fs-gray;
		}
		
		#outlink-icon {
			position: absolute;
			bottom: 8px;
			right: 8px;
			color: @light-blue;
			opacity: 0;
			font-size: 11px;
			transition: all .2s ease-out;
			transform: translateY(20px);
			
			:host(:hover) & {
				opacity: 0.9;
				transform: translateY(0px);
			}
		}
	</style>
	<template>
		<meta is="roster-char" [id] [char]>
		<meta is="roster-race" [id]="char.race" [name]="race-name">
		<meta is="roster-class" [id]="char.class" [name]="class-name">
		<div #name {class-color}="char.class">{{char.name}}</div>
		<div #server>{{serverName}}</b></div>
		<div #ilvl><b>{{char.ilvl}}</b> ilvl</div>
		<div #outlink-icon>Battle.net <i>open_in_new</i></div>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="apply-details-message">
	<style type="text/less">
		:host {
			display: block;
		}
		
		#layout {
			display: flex;
		}
		
		#poster {
			min-width: 135px;
			padding: 6px 16px 6px 0;
			position: relative;
		}
		
		#name {
			font: 400 18px "Roboto Condensed";
			overflow: hidden;
   			text-overflow: ellipsis;
			white-space: nowrap;
		}
		
		#date {
			font-weight: 300;
			color: @fs-gray;
		}
		
		#message {
			flex: 1;
			display: flex;
			align-items: center;
		}
		
		gt-box {
			flex: 1;
			box-shadow: none;
			&:not([dark]) {
				background: fade(@fs-blue, 10%);
				border-color: fade(@fs-blue, 10%);
			}
		}
		
		#layout[system] {
			padding: 6px 0;
			
			#poster, gt-box {
				padding: 0;
				display: inline-block;
				flex: none;
				position: static;
			}
			
			#poster {
				min-width: 0;
				margin-right: 4px;
				display: flex;
				flex-direction: row-reverse;
			}
			
			#name {
				font: 400 1em "Roboto";
			}
			
			#date {
				width: 135px;
			}
			
			#message {
				flex: none;
			}
			
			gt-box {
				border: 0;
				background: none;
				font-weight: 300;
				margin-right: 12px;
			}
			
			.line {
				flex: 1;
				margin-top: 8px;
				border-top: 1px dashed fade(@light-blue, 30%);
			}
		}
	</style>
	<template>
		<meta is="roster-main" [user]="message.user" [main]>
		<div #layout {system}="message.system">
			<div #poster>
				<div #name {class-color}="main.class">{{main.name}}</div>
				<gt-timeago #date [date]="message.date"></gt-timeago>
			</div>
			<div #message>
				<gt-box {dark}="message.secret">
					<gt-markdown [src]="message.text"></gt-markdown>
				</gt-box>
			</div>
			<div .line></div>
		</div>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="gt-apply-redirect">
	<style type="text/less">
		:host {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		#layout { display: flex;}
		#right { width: 400px; }
		
		i {
			font-size: 100px;
			margin-right: 30px;
   			margin-top: 10px;
			color: @light-blue;
		}
		
		#title {
			font: 300 24px "Roboto Condensed";
			color: @light-blue;
			margin-bottom: 8px;
		}
		
		gt-button {
			background: fade(@fs-blue, 15%);
			border: 1px solid fade(@fs-blue, 10%);
			padding: 0 12px;
			margin: 0;
			margin-top: 8px;
			border-radius: 3px;
			color: #fff !important;
			transition: all .2s ease-out;
			
			&:hover {
				background: fade(@fs-blue, 20%);
				border: 1px solid fade(@fs-blue, 15%);
			}
		}
	</style>
	<template>
		<div #layout>
			<div #left>
				<i>assignment_ind</i>
			</div>
			<div #right>
				<div #title>Applying for a raider spot</div>
				<p>From Scratch is always looking for awesome players wanting to join our main roster and attempt top-world ranking.</p>
				<p>Everything you need to know about the recruiting process is available on the WebTools application on the main web site.</p>
				<p><gt-button #apply>Apply now</gt-button></p>
			</div>
		</div>
	</template>
</dom-module>
