<dom-module id="gt-apply">
	<link rel="stylesheet/less" href="/assets/less/apply.less" ns="gt-apply">
	<template>
		<gt-box #actives heading="Open applications" scrollable>
			<gt-alert dark icon="error_outline" *if="!app.user.member">
				Your current guild rank only let you access your own application
			</gt-alert>
			<gt-alert dark icon="done" *if="!applys.length">
				There is no open application to review at the moment
			</gt-alert>
			<apply-list-item *for="applys" [apply]="item" (click)="SelectApply" {selected}="equals(selected, item)"></apply-list-item>
		</gt-box>
		<div #main-box>
			<apply-details [apply]="selected" *if="selected"></apply-details>
			<div #placeholder {hide}="selected">
				<i>assignment_ind</i>
			</div>
		</div>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="apply-list-item">
	<link rel="stylesheet/less" href="/assets/less/apply.less" ns="apply-list-item">
	<template>
		<meta is="apply-data" [apply] [data]>
		<meta is="apply-stage-name" [stage]="data.stage" [name]="stage_name">
		<meta is="apply-unread" [apply] [unread]>
		<meta is="roster-main" [user]="data.user" [main]>
		<gt-box dark>
			<div #layout>
				<bnet-thumb [char]="main"></bnet-thumb>
				<div #infos>
					<b #name {class-color}="main.class">{{main.name}}</b>
					<b #stage>{{stage_name}}</b>
				</div>
				<div #update>
					<gt-timeago [date]="data.updated"></gt-timeago>
					<div #unread {unread}>Unread posts</div>
				</div>
				<i #chevron>chevron_right</i>
			</div>
		</gt-box>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="apply-details">
	<link rel="stylesheet/less" href="/assets/less/apply.less" ns="apply-details">
	<template>
		<meta is="apply-data" [apply] [data]>
		<meta is="apply-stage-name" [stage]="data.stage" [name]="stage_name">
		<meta is="roster-user" [id]="data.user" [user]>
		<meta is="roster-main" [user]="data.user" [main]>
		<meta is="roster-chars" [user]="data.user" [chars]>
		<gt-box #main heading=" " scrollable>
			<div #tabs>
				<gt-button collapse-right (click)="ShowDiscussion" {active}="tab == 1">Discussion</gt-button>
				<gt-button collapse-right (click)="ShowDetails" {active}="equals(tab, 2)">Details</gt-button>
			</div>
			<div #links>
				<gt-button collapse-right (click)="ShowManage" *if="app.user.promoted">Manage</gt-button>
				<gt-button collapse-right [goto]="profileLink">View profile</gt-button>
			</div>
			<gt-box #side scrollable dark>
				<h2>Application</h2>
				<ul #meta>
					<li>
						<span>Username</span>
						<b>{{user.name}}</b>
					</li>
					<li>
						<span>Applied</span>
						<gt-timeago [date]="data.date"></gt-timeago>
					</li>
					<li>
						<span>Stage</span>
						<b>{{stage_name}}</b>
					</li>
				</ul>
				<h2>Characters</h2>
				<apply-details-char *for="chars" [id]="item"></apply-details-char>
			</gt-box>
			<gt-box #discussion scrollable dark {active}="equals(tab, 1)" {editor-open}="editOpen">
				<apply-details-message *for="feed" [message]="item"></apply-details-message>
				<div #preview-separator *if="editOpen"></div>
				<apply-details-message [message]="messagePreview" *if="editOpen"></apply-details-message>
			</gt-box>
			<div #reply {visible}="equals(tab, 1)" {open}="editOpen">
				<div #reply-wrapper (click)="OpenEdit">
					<gt-button><i>edit_mode</i> New message</gt-button>
				</div>
				<div #reply-form>
					<gt-textarea #reply-textarea [value]="messageBody" {disabled}="editorDisabled"></gt-textarea>
					<div #reply-options>
						<gt-label #reply-private {hidden}="!app.user.member">
							<gt-checkbox [radio]="messageType" value="private" {disabled}="privateMessageDisabled"></gt-checkbox>
							<span>Hidden message</span>
							<div .help>
								Only officers and guild members will be able to read the message.
							</div>
						</gt-label>
						<gt-label #reply-public>
							<gt-checkbox [radio]="messageType" value="public" {disabled}="editorDisabled"></gt-checkbox>
							<span>Public message</span>
							<div .help>
								Everyone will be able to read the message, including the apply.
							</div>
						</gt-label>
						<div>
							<gt-button fat collapse-left (click)="SendMessage" {disabled}="editorDisabled">Send</gt-button>
							<gt-button collapse-left (click)="CloseEdit" {disabled}="editorDisabled">Cancel</gt-button>
						</div>
					</div>
				</div>
			</div>
			<gt-box #details scrollable dark {active}="equals(tab, 2)">
				<div .no-data *if="body_type == 0">
					<i>highlight_off</i>
					<div>Details are not available for this application...</div>
				</div>
				<div .json-data *if="body_type == 1">
					<div .json-item *for="body" {heading}="equals(item.0, '-')">
						<h3>{{item.1}}</h3>
						<div .row>
							<div .label>{{item.0}}</div>
							<gt-markdown .data [src]="item.1"></gt-markdown>
						</div>
					</div>
				</div>
			</gt-box>
		</gt-box>
		<gt-dialog #manage escape>
			<apply-manage #manage-dialog [data] [stage]="data.stage"></apply-manage>
		</gt-dialog>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="apply-manage">
	<link rel="stylesheet/less" href="/assets/less/apply.less" ns="apply-manage">
	<template>
		<meta is="apply-stage-name" [stage] [name]="stage_name">
		<gt-box heading="Change application stage" scrollable>
			<div #layout>
				<gt-progress-circular [progress]="stage" min="-0.3" max="3" gap="60" rotate="2">
					<b .name>{{stage_name}}</b>
					<span .label>
						Current<br>
						stage
					</span>
				</gt-progress-circular>
				<div #right>
					<h3>Select the new stage for this application</h3>
					<gt-label>
						<gt-checkbox [radio]="stage" value="1"></gt-checkbox>
						Review
					</gt-label>
					<gt-label>
						<gt-checkbox [radio]="stage" value="2"></gt-checkbox>
						Trial
					</gt-label>
					<gt-label>
						<gt-checkbox [radio]="stage" value="3"></gt-checkbox>
						Accepted
					</gt-label>
					<br>
					<gt-label>
						<gt-checkbox [radio]="stage" value="4"></gt-checkbox>
						Refused
					</gt-label>
					<gt-label>
						<gt-checkbox [radio]="stage" value="5"></gt-checkbox>
						Archived
					</gt-label>
					<gt-label>
						<gt-checkbox [radio]="stage" value="6"></gt-checkbox>
						Spam
					</gt-label>
					<div #actions>
						<gt-button #close collapse-right>Cancel</gt-button>
						<gt-button #save {disabled}="locked">Save</gt-button>
					</div>
				</div>
			</div>
		</gt-box>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="apply-details-char">
	<link rel="stylesheet/less" href="/assets/less/apply.less" ns="apply-details-char">
	<template>
		<meta is="roster-char" [id] [char]>
		<meta is="roster-race" [id]="char.race" [name]="race-name">
		<meta is="roster-class" [id]="char.class" [name]="class-name">
		<div #name {class-color}="char.class">{{char.name}}</div>
		<div #server>{{serverName}}</b></div>
		<div #ilvl><b>{{char.ilvl}}</b> ilvl</div>
		<div #outlink-icon>Battle.net <i>open_in_new</i></div>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="apply-details-message">
	<link rel="stylesheet/less" href="/assets/less/apply.less" ns="apply-details-message">
	<template>
		<meta is="roster-main" [user]="message.user" [main]>
		<div #layout {system}="message.system">
			<div #poster>
				<div #name {class-color}="main.class">{{main.name}}</div>
				<gt-timeago #date [date]="message.date"></gt-timeago>
			</div>
			<div #message>
				<gt-box {dark}="message.secret">
					<gt-markdown [src]="message.text"></gt-markdown>
				</gt-box>
			</div>
			<div .line></div>
		</div>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="gt-apply-redirect">
	<link rel="stylesheet/less" href="/assets/less/apply.less" ns="gt-apply-redirect">
	<template>
		<div #layout>
			<div #left>
				<i>assignment_ind</i>
			</div>
			<div #right>
				<div #title>Applying for a raider spot</div>
				<p>
					From Scratch is always looking for awesome players wanting to join
					our main roster and attempt top-world ranking.
				</p>
				<p>
					Everything you need to know about the recruiting process is available on
					the WebTools application on the main web site.
				</p>
				<p>
					<gt-button #apply>Apply now</gt-button>
				</p>
			</div>
		</div>
	</template>
</dom-module>
