<dom-module id="gt-calendar">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="gt-calendar">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="gt-calendar-colors">
	<template>
		<!--<gt-calendar-overview></gt-calendar-overview>-->
		<gt-box #calendar>
			<div #layout>
				<gt-box #header>
					<div #top>
						<div #left>
							<gt-button (click)="CurrentMonth"><i>last_page</i></gt-button>
						</div>
						<div #center>
							<gt-button (click)="PrevMonth"><i>chevron_left</i></gt-button>
							<span>{{title}}</span>
							<gt-button (click)="NextMonth"><i>chevron_right</i></gt-button>
						</div>
						<div #right>
							<gt-button>New event</gt-button>
						</div>
					</div>
					<div #days>
						<span>Monday</span>
						<span>Tuesday</span>
						<span>Wednesday</span>
						<span>Thursday</span>
						<span>Friday</span>
						<span>Saturday</span>
						<span>Sunday</span>
					</div>
				</gt-box>
				<div #body-scroll>
					<div #body>
						<div .row *for="layout" *as="row">
							<div .column *for="row">
								<gt-calendar-cell [date]="item"></gt-calendar-cell>
							</div>
						</div>
					</div>
				</div>
				<gt-box #footer dark>
					<div #legend>
						<div state="0">Non-register</div>
						<div answer="1">Accepted</div>
						<div answer="2">Declined</div>
						<div state="1">Locked</div>
						<div state="2">Canceled</div>
						<div><i>priority_high</i> Announce</div>
						<div><i>local_offer</i> Guild</div>
						<div><i>vpn_key</i> Restricted</div>
						<div><i>public</i> Public</div>
					</div>
				</gt-box>
			</div>
		</gt-box>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="gt-calendar-cell">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="gt-calendar-cell">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="gt-calendar-colors">
	<template>
		<meta is="calendar-events" [date]="date.date" [events]>
		<div #day>
			<b>{{day}}</b>
		</div>
		<div #events>
			<gt-calendar-cell-event *for="events" [event]="item"></gt-calendar-cell-event>
		</div>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="gt-calendar-cell-event">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="gt-calendar-cell-event">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="gt-calendar-colors">
	<template>
		<meta is="calendar-icon" [type]="event.type" [icon]>
		<gt-tooltip>
			<gt-calendar-cell-event-tooltip [event] [time]></gt-calendar-cell-event-tooltip>
		</gt-tooltip>
		<gt-context-menu>
			<ul>
				<template *if="canAcceptDecline">
					<li (click)="AcceptEvent"><i>check</i> Accept</li>
					<li (click)="DeclineEvent"><i>clear</i> Decline</li>
					<li .separator></li>
				</template>
				<template *if="!announce">
					<li (click)="OpenEvent"><i>panorama_fish_eye</i> Open</li>
					<li (click)="CloseEvent"><i>lock_outline</i> Close</li>
					<li (click)="CancelEvent"><i>remove_circle_outline</i> Cancel</li>
					<li .separator></li>
				</template>
				<li (click)="EditEvent"><i>edit</i> Edit</li>
				<li (click)="DeleteEvent"><i>delete_forever</i> Delete</li>
			</ul>
		</gt-context-menu>
		<div #layout {type}="event.type" {state}="event.state" {answer}="event.answer.answer">
			<i #icon *if>{{icon}}</i>
			<b #title>{{event.title}}</b>
			<i #note *if="event.desc">edit</i>
			<b #time *if="showTime">{{time}}</b>
			<span #actions *if="event.state == 0">
				<i>check</i>
				<i>clear</i>
			</span>
			<span #actions *if="!equals(event.state, 0)">
				<i>lock_outline</i>
			</span>
		</div>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="gt-calendar-cell-event-tooltip">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="gt-calendar-cell-event-tooltip">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="gt-calendar-colors">
	<template>
		<meta is="roster-main" [user]="event.owner" [main]>
		<div .row>
			<b {state}="event.state" {type}="event.type" {answer}="event.answer.answer">{{event.title}}</b>
			<b *if="showTime">{{time}}</b>
		</div>
		<div .row>
			<b {class-color}="main.class">{{main.name}}</b>
			<b #type>{{eventType}}</b>
		</div>
		<div #desc *if="event.desc">{{event.desc}}</div>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="gt-calendar-overview">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="gt-calendar-overview">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="gt-calendar-colors">
	<template>
		<gt-box heading="Overview" scrollable>
			<h2 #this-lockout>
				This lockout
			</h2>
			<gt-alert dark icon="cloud_off">No data available</gt-alert>
			<h2 #next-lockout>
				Next lockout
			</h2>
			<gt-alert dark icon="cloud_off">No data available</gt-alert>
		</gt-box>
	</template>
</dom-module>
