<style>
	#calendar-add-event {
		display: flex;
	}

	#calendar-add-event table {
		font-size: 12px;
		display: inline-block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	#calendar-add-event table:first-of-type {
		margin-right: 10px;
	}
	
	#calendar-add-event table th {
		padding-bottom: 5px;
	}
	
	#calendar-add-event table .days th {
		font-weight: 300;
		padding-bottom: 0;
	}
	
	#calendar-add-event table td {
		text-align: center;
		width: 25px;
		height: 25px;
		vertical-align: middle;
		border-radius: 50px;
		font-weight: 600;
	}
	
	#calendar-add-event table td.selected:not(.old) {
		border: 2px solid #6ac0ff !important;
	}
	
	#calendar-add-event table td:hover:not(.old) {
		border: 2px solid #4a7ca2;
	}
	
	#calendar-add-event table td.today {
		color: #6ac0ff;
	}
	
	#calendar-add-event table td.old {
		opacity: .5;
	}
	
	#calendar-add-event .tip {
		font-size: 12px;
		font-weight: 300;
	}
	
	#calendar-add-event .box {
		overflow: hidden;
		width: 434px;
	}
	
	#calendar-add-event .slider {
		width: 2000px;
	}
	
	#calendar-add-event .panel {
		display: inline-block;
		margin-right: 30px;
		width: 400px;
		vertical-align: top;
		padding-bottom: 25px;
		height: 275px;
		transition: height ease .3s, opacity ease .3s;
		overflow: hidden;
	}
	
	#calendar-add-event .panel.panel2 {
		opacity: 0;
	}
	
	#calendar-add-event.step2 .slider {
		margin-left: -434px;
	}
	
	#calendar-add-event.step2 .panel {
		height: 365px;
	}
	
	#calendar-add-event.step2 .panel.panel1 {
		opacity: 0;
	}
	
	#calendar-add-event.step2 .panel.panel2 {
		opacity: 1;
	}
	
	#calendar-add-event .buttons {
		position: absolute;
		bottom: 0px;
		right: 0px;
	}
	
	#calendar-add-event .left {
		width: 190px;
		height: 235px;
		overflow: visible;
	}
	
	#calendar-add-event input[type=text], #calendar-add-event textarea {
		width: 190px;
		max-height: 90px;
	}
	
	#calendar-add-event .opts {
		float: left;
		margin: 0;
		margin-right: 15px;
	}
	
	#calendar-add-event .time {
		position: absolute;
		top: 28px;
		right: 0px;
		width: 190px;
	}
	
	#calendar-add-event .time label {
		margin-bottom: 10px;
	}
	
	#calendar-add-event .time-display {
		font-size: 20px;
		margin-top: 5px;
		font-weight: 400;
		text-align: center;
	}
	
	#calendar-add-event .time-display span {
		transition: color ease .3s;
	}
	
	#calendar-add-event .time-display span:hover {
		color: #64b4ff;
	}
	
	#calendar-add-event .clock {
		height: 160px;
		width: 160px;
		margin: auto;
		border: 2px solid #3B556E;
		border-radius: 50%;
		transition: border ease .3s;
		box-sizing: content-box;
	}
	
	#calendar-add-event .clock .digit {	
		position: absolute;
		width: 21px;
		height: 21px;
		text-align: center;
		font-weight: 600;
		font-weigth: 300;
		transition: color ease .3s;
	}
	
	#calendar-add-event .clock .digit:hover {
		color: #64b4ff;
	}
	
	#calendar-add-event .clock .digit.selected {
		color: #64b4ff;
	}
	
	#calendar-add-event .clock .face {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		overflow: visible;
		z-index: 70;
		transform: translate3d(0,0,0);
	}
	
	#calendar-add-event .clock .face.mini {
		transform: scale(0.6) translate3d(0,0,0);
		z-index: 50;
	}
	
	#calendar-add-event .clock .face.mini .digit {
		color: #3B556E;
	}
	
	#calendar-add-event .clock .face.morning {
		transform: scale(0.6) translate3d(0,0,0);
	}
	
	#calendar-add-event .clock .face.morning .digit {
		transform: scale(1.5);
		font-weigth: 300;
	}
	
	#calendar-add-event .clock .d0 { top: 5px; left: 70px; }
	#calendar-add-event .clock .d1 { top: 14px; left: 102px; }
	#calendar-add-event .clock .d2 { top: 37px; left: 126px; }
	#calendar-add-event .clock .d3 { top: 70px; left: 135px; }
	#calendar-add-event .clock .d4 { top: 102px; left: 126px; }
	#calendar-add-event .clock .d5 { top: 126px; left: 102px; }
	#calendar-add-event .clock .d6 { top: 135px; left: 70px; }
	#calendar-add-event .clock .d7 { top: 126px; left: 37px; }
	#calendar-add-event .clock .d8 { top: 102px; left: 14px; }
	#calendar-add-event .clock .d9 { top: 70px; left: 5px; }
	#calendar-add-event .clock .d10 { top: 37px; left: 14px; }
	#calendar-add-event .clock .d11 { top: 15px; left: 37px; }
	
	#calendar-add-event .back-zone {
		position: absolute;
		top: 30px;
		left: 30px;
		right: 30px;
		bottom: 30px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	#calendar-add-event .back-zone i {
		font-size: 21px;
		color: #3b556e;
	}
</style>

<div id="calendar-add-event" ng-controller="CalendarAddEventCtrl" ng-class="{ step2: (step == 2) }">
	<div class="box">
		<i class="awe-cancel close-btn" ng-click="modal()"></i>
		<div class="slider">
			<div class="panel panel1">
				<h3>New event date</h3>
				<table>
					<tr><th colspan="7">{{ thisMonthName }}</th></tr>
					<tr class="days">
						<th>Mon</th>
						<th>Tue</th>
						<th>Wed</th>
						<th>Thu</th>
						<th>Fri</th>
						<th>Sat</th>
						<th>Sun</th>
					</tr>
					<tr ng-repeat="row in thisMonth">
						<td ng-class="{ old: day.old, today: day.today, selected: isSelected(day.id) }" ng-repeat="day in row" ng-click="(!day.old) && select($event, day.id)">{{ day.text }}</td>
					</tr>
				</table>
				<table>
					<tr><th colspan="7">{{ nextMonthName }}</th></tr>
					<tr class="days">
						<th>Mon</th>
						<th>Tue</th>
						<th>Wed</th>
						<th>Thu</th>
						<th>Fri</th>
						<th>Sat</th>
						<th>Sun</th>
					</tr>
					<tr ng-repeat="row in nextMonth">
						<td ng-class="{ old: day.old, today: day.today, selected: isSelected(day.id) }" ng-repeat="day in row" ng-click="(!day.old) && select($event, day.id)">{{ day.text }}</td>
					</tr>
				</table>
				<div class="tip" ng-if="$.user.officer">
					<strong>Tip:</strong> hold shift or ctrl to create the same event on multiple days.
				</div>
				<div class="buttons">
					<button ng-click="nextStep()" ng-disabled="!canContinue()" disabled>Continue</button>
				</div>
			</div>
			<div class="panel panel2">
				<h3>Event informations</h3>
				<div class="time">
					<label>
						Time
						<div class="time-display">
							<span ng-click="clockMinutes = false">{{ eventHour < 10 ? '0' + eventHour : eventHour }}</span>
							:
							<span ng-click="clockMinutes = true">{{ eventMin < 10 ? '0' + eventMin : eventMin }}</span>
						</div>
					</label>
					<div class="clock">
						<div class="animated face hours" ng-class="{ mini: clockMinutes }">
							<div class="face">
								<div class="digit d0" ng-class="{ selected: eventHour == 12 }" ng-click="setHour(12)">12</div>
								<div class="digit d1" ng-class="{ selected: eventHour == 13 }" ng-click="setHour(13)">13</div>
								<div class="digit d2" ng-class="{ selected: eventHour == 14 }" ng-click="setHour(14)">14</div>
								<div class="digit d3" ng-class="{ selected: eventHour == 15 }" ng-click="setHour(15)">15</div>
								<div class="digit d4" ng-class="{ selected: eventHour == 16 }" ng-click="setHour(16)">16</div>
								<div class="digit d5" ng-class="{ selected: eventHour == 17 }" ng-click="setHour(17)">17</div>
								<div class="digit d6" ng-class="{ selected: eventHour == 18 }" ng-click="setHour(18)">18</div>
								<div class="digit d7" ng-class="{ selected: eventHour == 19 }" ng-click="setHour(19)">19</div>
								<div class="digit d8" ng-class="{ selected: eventHour == 20 }" ng-click="setHour(20)">20</div>
								<div class="digit d9" ng-class="{ selected: eventHour == 21 }" ng-click="setHour(21)">21</div>
								<div class="digit d10" ng-class="{ selected: eventHour == 22 }" ng-click="setHour(22)">22</div>
								<div class="digit d11" ng-class="{ selected: eventHour == 23 }" ng-click="setHour(23)">23</div>
							</div>
							<div class="face morning">
								<div class="digit d0" ng-class="{ selected: eventHour == 0 }" ng-click="setHour(0)">0</div>
								<div class="digit d1" ng-class="{ selected: eventHour == 1 }" ng-click="setHour(1)">1</div>
								<div class="digit d2" ng-class="{ selected: eventHour == 2 }" ng-click="setHour(2)">2</div>
								<div class="digit d3" ng-class="{ selected: eventHour == 3 }" ng-click="setHour(3)">3</div>
								<div class="digit d4" ng-class="{ selected: eventHour == 4 }" ng-click="setHour(4)">4</div>
								<div class="digit d5" ng-class="{ selected: eventHour == 5 }" ng-click="setHour(5)">5</div>
								<div class="digit d6" ng-class="{ selected: eventHour == 6 }" ng-click="setHour(6)">6</div>
								<div class="digit d7" ng-class="{ selected: eventHour == 7 }" ng-click="setHour(7)">7</div>
								<div class="digit d8" ng-class="{ selected: eventHour == 8 }" ng-click="setHour(8)">8</div>
								<div class="digit d9" ng-class="{ selected: eventHour == 9 }" ng-click="setHour(9)">9</div>
								<div class="digit d10" ng-class="{ selected: eventHour == 10 }" ng-click="setHour(10)">10</div>
								<div class="digit d11" ng-class="{ selected: eventHour == 11 }" ng-click="setHour(11)">11</div>
							</div>
						</div>
						<div class="animated face minutes" ng-if="clockMinutes">
							<div class="face">
								<div class="digit d0" ng-class="{ selected: eventMin == 0 }" ng-click="setMinutes(0)">0</div>
								<div class="digit d1" ng-class="{ selected: eventMin == 5 }" ng-click="setMinutes(5)">5</div>
								<div class="digit d2" ng-class="{ selected: eventMin == 10 }" ng-click="setMinutes(10)">10</div>
								<div class="digit d3" ng-class="{ selected: eventMin == 15 }" ng-click="setMinutes(15)">15</div>
								<div class="digit d4" ng-class="{ selected: eventMin == 20 }" ng-click="setMinutes(20)">20</div>
								<div class="digit d5" ng-class="{ selected: eventMin == 25 }" ng-click="setMinutes(25)">25</div>
								<div class="digit d6" ng-class="{ selected: eventMin == 30 }" ng-click="setMinutes(30)">30</div>
								<div class="digit d7" ng-class="{ selected: eventMin == 35 }" ng-click="setMinutes(35)">35</div>
								<div class="digit d8" ng-class="{ selected: eventMin == 40 }" ng-click="setMinutes(40)">40</div>
								<div class="digit d9" ng-class="{ selected: eventMin == 45 }" ng-click="setMinutes(45)">45</div>
								<div class="digit d10" ng-class="{ selected: eventMin == 50 }" ng-click="setMinutes(50)">50</div>
								<div class="digit d11" ng-class="{ selected: eventMin == 55 }" ng-click="setMinutes(55)">55</div>
								<div class="back-zone" ng-click="backToHours()">
									<i class="awe-ccw"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="left">
					<form ng-submit="doCreate()">
						<label>Title <input type="text" id="calendar-add-event-title" ng-model="eventTitle" required></label>
						<label>Description <textarea ng-model="eventDesc"></textarea></label>
						<button style="display: none">Dummy submit</button>
					</form>
				</div>
				<div>
					<label class="empty">Visibility</label>
					<label class="opts">
						<input type="radio" ng-model="eventType" value="1" ng-disabled="!$.user.officer"> Guild
					</label>
					<label class="opts">
						<input type="radio" ng-model="eventType" value="2" ng-disabled="!$.user.officer"> Public
					</label>
					<label class="opts">
						<input type="radio" ng-model="eventType" value="3"> Private
					</label>
					<label class="opts">
						<input type="radio" ng-model="eventType" value="4" ng-disabled="!$.user.officer"> Announce
					</label>
				</div>
				<div class="buttons">
					<button ng-click="step = 1" type="button">Back</button>
					<button ng-disabled="!eventTitle || working" ng-click="doCreate()">Create</button>
				</div>
			</div>
		</div>
		<script>
			_("#calendar-add-event textarea").elastic();
		</script>
	</div>
</div>
