<style>
	#calendar-add-tab form {
		width: 300px;
	}
	
	#calendar-add-tab input, #calendar-add-tab select {
		width: 100%;
	}
	
	#calendar-add-tab button {
		float: right;
		margin-left: 15px;
	}
</style>

<div id="calendar-add-tab" ng-controller="CalendarAddTabCtrl">
	<form class="box" ng-submit="create()">
		<label>
			Tab title
			<input type="text" id="add-tab-title" ng-model="title" required>
		</label>
		<div class="overflow">
			<button type="submit" ng-disabled="inflight">Create</button>
			<button ng-disabled="inflight" ng-click="modal()" type="button">Cancel</button>
		</div>
	</form>
	<script>
		_("#add-tab-title").focus();
	</script>
</div>
