<style>
	#calendar-container {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		/*background: rgba(99, 180, 255, 0.1);*/
		/*background: #32404d;*/
		background: rgba(99, 180, 255, 0.1);
		border: 2px solid #395066;
	}

	#calendar-navigator {
		background: rgba(99, 180, 255, 0.1);
		padding: 10px;
		padding-bottom: 0px;
		padding-top: 5px;
		text-align:center;
		font-size: 20px;
		font-family: "Roboto Condensed";
	}

	#calendar-navigator > div {
		display: inline-block;
	}

	#calendar-navigator-text {
		width: 200px;
		vertical-align: middle;
	}

	.calendar-navigator-action {
		color: #64b4ff;
		font-size: 16px;
		transition: color ease .3s;
		vertical-align: middle;
	}

	.calendar-navigator-action:hover {
		color: #fff;
	}

	.calendar-navigator-action.reset {
		position: absolute;
		top: 8px;
		left: 13px;
	}

	#calendar-header table {
		width: 100%;
		border-collapse: collapse;
		table-layout: fixed;
	}

	.calendar-navigator-action.buttons {
		font-size: 14px;
		position: absolute;
		top: 12px;
		right: 17px;
	}

	.calendar-navigator-action.buttons button {
		margin-top: 0;
	}

	#calendar-header th {
		background: rgba(99, 180, 255, 0.1);
		border: 0;
		border-bottom: 2px solid #64b4ff;
		width: 25%;
		font-size: 13px;
		padding: 10px;
	}

	#calendar-body {
		flex: 1;
		overflow: auto;
	}

	#calendar-body table {
		width: 100%;
		border-collapse: collapse;
		table-layout: fixed;
		float: left;
	}

	#calendar-body td {
		width: 100%;
		vertical-align: top;
		padding: 10px 15px;
		/*border: 1px solid #383f4c;*/
		height: 100px;
		opacity: .999;
		transition: opacity ease .3s;
	}

	#calendar-body td:not(.inactive) {
		/*background: #354657;*/
	}

	#calendar-body tr:first-child td {
		border-top: 0;
	}

	#calendar-body tr:last-child td {
		border-bottom: 0;
	}

	#calendar-body tr td:first-child {
		border-left: 0;
	}

	#calendar-body tr td:last-child {
		border-right: 0;
	}

	#calendar-body td.today {
		/*background: #212531;*/
	}

	#calendar-body td.today .day {
		color: #64b4ff;
	}

	/*#calendar-body td:not(.inactive) {
		background: rgba(99, 180, 255, 0.05);
	}*/

	#calendar-body td.inactive .day {
		opacity: 0.5;
	}

	#calendar .day {
		font-size: 18px;
	}

	#calendar .day i {
		font-size: 12px;
		top: -2px;
		opacity: .5;
	}

	#calendar .day-wrapper .event {
		display: flex;
		border-radius: 50px;
		transition: background ease .3s;
		padding: 2px 8px;
		margin: 0 -8px;
	}

	#calendar .day-wrapper .event:hover:not(.note) {
		background: rgba(255, 255, 255, .1);
	}

	#calendar .event .name {
		flex: 1;
		padding-right: 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #ffef64;
		transition: color ease .3s;
	}

	.tooltip .name {
		color: #ffef64;
	}

	#calendar .event.accepted .name,
	.tooltip .accepted .name {
		color: #70ea5c;
	}
	#calendar .event.declined .name,
	.tooltip .declined .name {
		color: #ff693b;
	}

	#calendar .event.closed .name,
	.tooltip .closed .name {
		color: #64b4ff;
	}

	#calendar .event.canceled .name,
	.tooltip .canceled .name {
		color: #aaa;
	}

	#calendar .event.note .name,
	.tooltip .note .name {
		color: #fff;
	}

	#calendar .event .name i {
		top: -1px;
		font-size: 14px;
	}

	#calendar .event .actions {
		display: none;
	}

	#calendar .event:hover:not(.note) .hour {
		display: none;
	}

	#calendar .event .actions i {
		top: -1px;
		font-size: 14px;
	}

	#calendar .event .actions i:not(.awe-lock):hover {
		color: #64B4FF;
	}

	#calendar .event:hover .actions {
		display: block;
	}

	#calendar-legend {
		display: flex;
		justify-content: space-around;
		padding: 10px;
		background: rgba(0, 0, 0, 0.1);
	}

	.tooltip i {
		top: -1px;
		font-size: 14px;
	}

	.tooltip i::before {
		margin-left: 0px;
	}
</style>

<div id="calendar" class="tools-main">
	<div id="calendar-container">
		<div id="calendar-header">
			<div id="calendar-navigator">
				<div class="calendar-navigator-action reset" ng-click="monthCurrent()"><i class="awe-arrows-cw"></i></div>
				<div class="calendar-navigator-action" ng-click="monthPrev()"><i class="awe-left-open"></i></div>
				<div id="calendar-navigator-text">{{ monthNames[month] }} {{ year }}</div>
				<div class="calendar-navigator-action" ng-click="monthNext()"><i class="awe-right-open"></i></div>
				<div class="calendar-navigator-action buttons">
					<button ng-click="modal('calendar-add-event')"><i class="awe-plus"></i> New event</button>
				</div>
			</div>
			<table>
				<tr>
					<th ng-repeat="day in dayNames">{{ day }}</th>
				</tr>
			</table>
		</div>
		<div id="calendar-body">
			<table>
				<tr ng-repeat="row in data">
					<td ng-repeat="data in row" ng-class="{ today: data.today, inactive: data.inactive }">
						<div class="day-wrapper">
							<div class="day">
								<span>
									{{ data.day }}
									<i class="awe-flash" ng-tooltip=".tooltip" ng-if="hasAbsentsOn(data.id)">
										<div class="tooltip">
											<div class="light">Absent players this day</div>
											<div class="spaced">
												<div class="c{{ abs.class }}" ng-repeat="abs in absentsForDay(data.id) | orderBy : ['class', 'name']">
													{{ abs.name }}
												</div>
											</div>
										</div>
									</i>
								</span>
							</div>
							<div class="events">
								<div class="event {{ stateClass(event) }}" ng-click="open(event.id, event.type)" ng-repeat="event in events[data.id] | orderBy : 'sortTime'" ng-contextmenu="eventMenu(event, $event)" ng-tooltip=".tooltip">
									<div class="tooltip">
										<div class="right">{{ formatTime(event.time) }}</div>
										<div class="nowrap {{ stateClass(event) }}" style="padding-right: 50px">
											<span class="name">{{ event.title }}</span>
										</div>
										<div class="light">
											<i ng-class="{ 'awe-star-empty': event.type == 2, 'awe-lock-open-alt': event.type == 3, 'awe-attention-alt': event.type == 4 }"></i>
											{{ typeLabel(event.type) }}
										</div>
										<div class="spaced" ng-if="event.desc">
											{{ event.desc }}
										</div>
										<!--<div class="spaced nowrap {{ stateClass(event, true) }}" ng-if="event.type !== 4">
											<span class="name">{{ stateLabel(event.answer) }}</span>
										</div>-->
									</div>
									<a class="name">
										<i ng-class="{ 'awe-star-empty': event.type == 2, 'awe-lock-open-alt': event.type == 3, 'awe-attention-alt': event.type == 4 }"></i>
										{{ event.title }}
									</a>
									<div class="hour" ng-if="event.type != 4">
										{{ formatTime(event.time) }}
									</div>
									<div class="actions" ng-if="event.type != 4">
										<a ng-if="event.state == 0" class="accept" ng-click="accept(event.id, $event)"><i class="awe-ok"></i></a>
										<a ng-if="event.state == 0" class="decline" ng-click="decline(event.id, $event)"><i class="awe-cancel"></i></a>
										<i ng-if="event.state != 0" class="awe-lock" title="Fermé"></i>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div id="calendar-legend">
			<div class="event"><span class="name">Non-register</span></div>
			<div class="event accepted"><span class="name">Accepted</span></div>
			<div class="event declined"><span class="name">Declined</span></div>
			<div class="event closed"><span class="name">Locked</span></div>
			<div class="event canceled"><span class="name">Canceled</span></div>
			<div class="event note"><span class="name">Announce</span></div>
		</div>
	</div>
</div>
