<style>
	#calendar-rename-tab form {
		width: 300px;
	}
	
	#calendar-rename-tab input, #calendar-rename-tab select {
		width: 100%;
	}
	
	#calendar-rename-tab button {
		float: right;
		margin-left: 15px;
	}
</style>

<div id="calendar-rename-tab" ng-controller="CalendarRenameTabCtrl">
	<form class="box" ng-submit="rename()">
		<label>
			Tab title
			<input type="text" id="rename-tab-title" ng-model="title" required>
		</label>
		<div class="overflow">
			<button type="submit" ng-disabled="inflight">Rename</button>
			<button ng-disabled="inflight" ng-click="modal()" type="button">Cancel</button>
		</div>
	</form>
	<script>
		_("#rename-tab-title").focus();
	</script>
</div>
