<style>
	#calendar-event-wrapper {
		display: flex;
		flex: 1;
	}

	#calendar-event h2 {
		flex-shrink: 0;
	}

	#calendar-event-left {
		width: 330px;
		display: flex;
		flex-direction: column;
		margin-right: 6px;
	}

	#calendar-event-infos button {
		float: right;
		z-index: 50;
	}

	#calendar-event-infos h3 {
		z-index: 40;
	}

	#calendar-event .chars {
		border-top: 2px solid #426585;
		padding: 16px 16px 0 16px;
		margin: 0px -16px;
		overflow: auto;
		flex: 1;
	}

	#calendar-event .row {
		display: flex;
	}

	#calendar-event .char-wrapper {
		flex: 1;
	}

	#calendar-event .char-wrapper + .char-wrapper {
		margin-left: 15px;
	}

	#calendar-event .char {
		background: rgba(0, 0, 0, 0.2);
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding: 0px 5px 1px 5px;
		margin-bottom: 5px;
		display: flex;
		transition: background ease-out .3s;
	}

	#calendar-event .char.mine {
		position: relative;
	}

	#calendar-event .char.mine::after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: -2px;
		color: inherit;
		border: 1px solid;
		opacity: 0.6;
		display: block;
		content: "";
	}

	#calendar-event .char img, #calendar-event .char .name {
		transition: all ease-out .3s;
	}

	#calendar-event .char.picked {
		background: rgba(0, 0, 0, 0.1);
	}

	#calendar-event .char.picked img, #calendar-event .char.picked .name {
		opacity: .5;
	}

	#calendar-event .char img {
		width: 11px;
		height: 11px;
		top: 4px;
	}

	#calendar-event .char .name {
		flex: 1;
		padding: 0px 5px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#calendar-event .char i {
		color: #4b79a4;
		margin: 0;
		right: -3px;
	}

	#calendar-event .char i.promote {
		opacity: 0.6;
	}

	#calendar-event-answers {
		width: 330px;
		padding-bottom: 0;
		flex: 1;
		display: flex;
		flex-direction: column;
		margin-top: 6px;
	}

	#calendar-event-answers .tabs, #calendar-event-answers h3 {
		flex-shrink: 0;
	}

	#calendar-event-answers .tabs button {
		margin-top: 5px;
		margin-bottom: -2px;
		border: 2px solid transparent;
		border-bottom: 0;
		padding: 5px 12px 5px 8px;
		transition: border ease .3s, color ease .3s, background ease .3s;
		z-index: 3;
	}

	#calendar-event-comp .tabs button i {
		float: left;
		top: 0;
	}

	#calendar-event-comp .tabs button i::before {
		margin-left: 0;
	}

	#calendar-event-answers button + button {
		margin-left: 5px;
	}

	#calendar-event-answers button.active {
		background-color: #334453;
	}

	#calendar-event-answers button.active, #calendar-event-answers button:hover {
		border-color: #426585;
	}

	#calendar-event-registering {
		margin-top: 6px;
	}

	#calendar-event-registering .opts {
		float: left;
		margin-top: 5px;
		margin-bottom: 0;
	}

	#calendar-event-registering .opts + .opts {
		margin-left: 16px;
	}

	#calendar-event-registering textarea {
		width: 100%;
	}

	#calendar-event-registering button {
		float: right;
	}

	#calendar-event-middle {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	#calendar-event-comp {
		min-width: 310px;
		padding-bottom: 0;
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	#calendar-event-comp h3 {
		margin-bottom: 5px;
	}

	#calendar-event-comp .tabs {
		flex-shrink: 0;
		margin: 0px -16px;
		padding: 0px 8px 4px 8px;
		border-bottom: 2px solid #426585;
	}

	#calendar-event-comp button {
		margin: 0px 8px 4px 8px;
	}

	#calendar-event-comp .bottom {
		display: flex;
		flex: 1;
	}

	#calendar-event-comp .inner {
		overflow: auto;
		width: 310px;
		margin-left: -16px;
		padding: 10px 16px 10px 16px;
	}

	#calendar-event-comp .row {
		flex: 1;
	}

	#calendar-event-comp .group {
		flex: 1;
	}

	#calendar-event .group + .group {
		margin-left: 16px;
	}

	#calendar-event-comp .group .label {
		text-align: center;
		margin-bottom: 5px;
		font-size: 12px;
		font-weight: 300;
	}

	.picked #calendar-event-comp .hover .char {
		box-shadow: 0px 0px 1px 2px #426585;
	}

	#calendar-event-comp .raidbuffs {
		display: flex;
		flex-direction: column;
		padding: 16px 20px 16px 8px;
		border-right: 2px solid #395066;
	}

	#calendar-event-comp .raidbuffs img {
		width: 25px;
		margin-bottom: 6px;
		border: 1px solid rgba(0, 0, 0, 0.3);
		opacity: 0.5;
		transition: opacity ease .3s;
	}

	#calendar-event-comp .raidbuffs img.active {
		opacity: 0.9;
	}

	#calendar-event-comp .raidbuffs img:last-child {
		margin-right: 0;
	}

	#calendar-event-comp .note {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	#calendar-char-picker.char {
		position: fixed;
		top: 5px;
		left: 5px;
		width: 130px;
		background: rgba(42, 54, 66, 0.9);
		z-index: 100;
	}

	#calendar-event-comp .note-lock {
		margin-right: -16px;
		padding: 5px 16px 0 0;
		background: #395066;
	}

	#calendar-event-comp .note-lock span {
		opacity: .75;
	}

	#calendar-event-comp .markdown {
		padding: 16px;
		margin: 0px -16px 0px 0px;
		overflow: auto;
		flex: 1;
	}

	#calendar-event-comp  .markdown .char {
		display: inline-block;
	}

	#calendar-event-comp .markdown .char i {
		top: -1px;
		right: 1px;
		margin: 0;
		margin-left: -3px;
		font-size: 10px;
	}

	.markdown p {
		margin-bottom: 5px;
	}

	.markdown iframe {
		width: 100%;
		height: 400px;
		border: 2px solid #426585;
		margin-bottom: 5px;
	}

	.markdown ol, .markdown ul {
		margin-left: 35px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.markdown pre, .markdown li {
		margin-bottom: 5px;
	}

	.markdown hr {
		border: 1px solid #395066;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	.markdown strong {
		font-weight: 600;
	}

	.markdown h1 {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 5px;
		line-height: 1em;
	}

	.markdown h2 {
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 5px;
		line-height: 1em;
	}

	.markdown a {
		color: #64B4FF;
		cursor: pointer;
		text-decoration: none;
	}

	.markdown a:hover {
		text-decoration: underline;
	}

	.icn-tank:before, .icn-heal:before, .icn-dps:before {
		display: inline-block;
		width: 11px;
		height: 11px;
		content: "";
		background-size: contain;
	}

	.icn-tank:before {
		background-image: url("/assets/images/roles/TANK.png");
	}

	.icn-heal:before {
		background-image: url("/assets/images/roles/HEALING.png");
	}

	.icn-dps:before {
		background-image: url("/assets/images/roles/DPS.png");
	}

	.cls-icon:before {
		display: inline-block;
		width: 9px;
		height: 9px;
		content: "";
		border-radius: 10px;
	}

	.cls-icon.c1:before { background-color:#C69B6D!important; }
	.cls-icon.c2:before { background-color:#F48CBA!important; }
	.cls-icon.c3:before { background-color:#AAD372!important; }
	.cls-icon.c4:before { background-color:#FFF468!important; }
	.cls-icon.c5:before { background-color:#FFF!important; }
	.cls-icon.c6:before { background-color:#DE2243!important; }
	.cls-icon.c7:before { background-color:#2B6CFF!important; }
	.cls-icon.c8:before { background-color:#68CCEF!important; }
	.cls-icon.c9:before { background-color:#9382C9!important; }
	.cls-icon.c10:before { background-color:#00A07D!important; }
	.cls-icon.c11:before { background-color:#FF7C0A!important; }
</style>

<div id="calendar-event" class="tools-main" ng-class="{ picked: picked }" ng-mouseup="dropPicker()">
	<div id="calendar-event-wrapper">
		<div id="calendar-char-picker" class="char" ng-if="picked">
			<img ng-src="/assets/images/roles/{{ picked.role }}.png">
			<span class="name c{{ picked.class }}">{{ picked.name | capitalize }}</span>
		</div>
		<div id="calendar-event-left">
			<div class="box" id="calendar-event-infos">
				<button ng-click="eventMenu($event)" ng-if="editable"><i class="awe-cog"></i></button>
				<h3>{{ event.title || "Loading..." }}</h3>
				<p style="margin-top: -5px" class="light" ng-if="event.title">
					{{ event.date.split(" ")[0].split("-").reverse().join("/") }}
					&#8942;
					{{ eventTimeFormat() }}
					&#8942;
					{{ eventStateFormat() }}
					<!-- &#8942;
					{{ eventOwnerFormat() }} -->
				</p>
				<p ng-if="event.desc">{{ event.desc }}</p>
			</div>
			<div class="box" id="calendar-event-answers">
				<div>
					<button class="box-right" ng-if="event.type == 3 && editable" ng-click="inviteModal()"><i class="awe-plus-squared"></i> Invite</button>
					<h3>Answers</h3>
					<span></span>
				</div>

				<div class="tabs">
					<button ng-class="{ active: roster_tab == 1 }" ng-click="roster_tab = 1">
						<i class="awe-ok"></i>
						{{ answers_tab[1].length || 0 }}
					</button>
					<button ng-class="{ active: roster_tab == 2 }" ng-click="roster_tab = 2">
						<i class="awe-cancel"></i>
						{{ answers_tab[2].length || 0 }}
					</button>
					<button ng-class="{ active: roster_tab == 0 }" ng-click="roster_tab = 0">
						<i class="awe-clock"></i>
						{{ answers_tab[0].length || 0 }}
					</button>
				</div>

				<div class="chars">
					<div class="row" ng-repeat="groups in getAnswersGroups(roster_tab)">
						<div class="char-wrapper" ng-repeat="row in groups">
							<div ng-if="!row.void" ng-tooltip=".tooltip">
								<div class="tooltip">
									<div class="fsblue">{{ $.roster.user(row.user).name | capitalize }}</div>
									<div class="light" ng-if="row.answer.date">{{ formatDate(row.answer.date) }}</div>
									<div class="light" ng-if="!row.answer.date">Non-register</div>
									<div class="spaced" ng-if="row.answer.note">
										{{ row.answer.note }}
									</div>
									<div class="spaced" ng-if="row.absence">
										<div class="fsblue"><i class="awe-flash" style="top: -2px; margin-left: -0.2em;"></i>Absent</div>
										<div ng-if="row.absence.reason">{{ row.absence.reason }}</div>
									</div>
								</div>
								<div class="char"
									 ng-mousedown="setPicker(row.char, $event)"
									 ng-contextmenu="answerMenu(row, $event)"
									 ng-class="{ picked: charDimmedInRoster(row.char) }">
									<img ng-src="/assets/images/roles/{{ row.char.role }}.png">
									<span class="name c{{ row.char.class }}">{{ row.char.name | capitalize }}</span>
									<i class="promote awe-{{ getPlayerStar(row) }}"></i>
									<i class="awe-{{ getPlayerIcon(row) }}"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="box" style="width: 100%;" ng-if="!answers_tab[roster_tab].length">
						Empty tab...
					</div>
				</div>
			</div>
			<div class="box" id="calendar-event-registering" ng-if="event.state === 0">
				<h3>Status</h3>
				<div class="clearfix">
					<label class="opts">
						<input type="radio" ng-model="answer" value="1"> Available
					</label>
					<label class="opts">
						<input type="radio" ng-model="answer" value="2"> Unavailable
					</label>
				</div>
				<label ng-show="chars">
					Character
					<select ng-model="answer_char" style="width: 100%;">
						<option class="c{{ char.class }}" ng-repeat="char in chars | filter : { active: true } | orderBy : ['-main', 'name']" value="{{ char.id }}">
							{{ char.name }}
						</option>
					</select>
				</label>
				<label>
					Note
					<textarea id="calendar-event-registering-note" ng-model="answer_note"></textarea>
					<script>_("#calendar-event-registering-note").elastic();</script>
				</label>
				<button ng-click="updateAnswer(answer, answer_note, answer_char)" ng-disabled="inflight">
					Save
				</button>
			</div>
		</div>

		<div id="calendar-event-middle">
			<div class="box" id="calendar-event-comp">
				<div id="calendar-event-comp-top">
				<div ng-if="editable">
						<button class="box-right" ng-click="modal('calendar-add-tab', event)"><i class="awe-plus"></i> Tab</button>
						<button class="box-right"><i class="awe-docs"></i> Import</button>
					</div>
					<h3>RaidComp</h3>
				</div>
				<div class="tabs">
					<button ng-repeat="tab in tabs | orderBy : 'order'"
							ng-click="setTab(tab.id)"
							ng-contextmenu="tabMenu(tab, $event)"
							ng-class="{ active: tab.id === tab_selected }">
						<i class="awe-lock" ng-if="tab.locked"></i>
						{{ tab.title }}
					</button>
				</div>
				<div class="bottom">
					<div class="inner">
						<div class="row" ng-repeat="row in [1,3,5]">
							<div class="group" ng-repeat="offset in [0,1]">
								<div class="label">Group {{ row + offset }}</div>
								<div ng-repeat="slot in [1,2,3,4,5]" ng-switch="charVisibleInComp(slots[tab_selected][(row+offset-1)*5+slot])"
										ng-class="{ hover: pickerTarget == (row+offset-1)*5+slot }"
										ng-mouseover="setPickerTarget((row+offset-1)*5+slot, slots[tab_selected][(row+offset-1)*5+slot])"
										ng-mouseout="setPickerTarget(null)"
										ng-mousedown="setPicker(slots[tab_selected][(row+offset-1)*5+slot], $event, (row+offset-1)*5+slot)">
									<div class="char c{{ slots[tab_selected][(row+offset-1)*5+slot].class }}"
									     ng-class="{ mine: slots[tab_selected][(row+offset-1)*5+slot].owner == $.user.id }"
									     ng-switch-when="1"
									     ng-contextmenu="slotMenu((row+offset-1)*5+slot, $event)">
										<img ng-src="/assets/images/roles/{{ slots[tab_selected][(row+offset-1)*5+slot].role }}.png">
										<span class="name">
											{{ slots[tab_selected][(row+offset-1)*5+slot].name }}
										</span>
										<i class="awe-attention" ng-if="!playerIsAvailable(slots[tab_selected][(row+offset-1)*5+slot].owner)" ng-tooltip="$This player does not seem to be available for this event"></i>
									</div>
									<div class="char" ng-switch-when="0">
										<span>&nbsp;</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="raidbuffs">
						<a rel="spell={{ raidbuffs.stats[0] }}&buff"><img ng-class="{ active: raidbuffs.stats[1] }" ng-src="{{ getBuffIcon('stats') }}"></a>
						<a rel="spell={{ raidbuffs.stamina[0] }}&buff"><img ng-class="{ active: raidbuffs.stamina[1] }" ng-src="{{ getBuffIcon('stamina') }}"></a>
						<a rel="spell={{ raidbuffs.ap[0] }}&buff"><img ng-class="{ active: raidbuffs.ap[1] }" ng-src="{{ getBuffIcon('ap') }}"></a>
						<a rel="spell={{ raidbuffs.sp[0] }}&buff"><img ng-class="{ active: raidbuffs.sp[1] }" ng-src="{{ getBuffIcon('sp') }}"></a>
						<a rel="spell={{ raidbuffs.crit[0] }}&buff"><img ng-class="{ active: raidbuffs.crit[1] }" ng-src="{{ getBuffIcon('crit') }}"></a>
						<a rel="spell={{ raidbuffs.haste[0] }}&buff"><img ng-class="{ active: raidbuffs.haste[1] }" ng-src="{{ getBuffIcon('haste') }}"></a>
						<a rel="spell={{ raidbuffs.mastery[0] }}&buff"><img ng-class="{ active: raidbuffs.mastery[1] }" ng-src="{{ getBuffIcon('mastery') }}"></a>
						<a rel="spell={{ raidbuffs.multistrike[0] }}&buff"><img ng-class="{ active: raidbuffs.multistrike[1] }" ng-src="{{ getBuffIcon('multistrike') }}"></a>
						<a rel="spell={{ raidbuffs.versatility[0] }}&buff"><img ng-class="{ active: raidbuffs.versatility[1] }" ng-src="{{ getBuffIcon('versatility') }}"></a>
					</div>
					<div class="note">
						<div ng-if="editable" class="note-lock">
							<div class="box-right">
								<span ng-if="lock">Currently being edited by <strong>{{ lock }}</strong></span>
								<button ng-disabled="lock" ng-click="editNote()"><i class="awe-pencil"></i> Edit</button>
							</div>
						</div>
						<div class="markdown selectable" ng-bind-html="cached_note"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
