<style>
	#calendar-edit-note form {
		width: 650px;
	}
	
	#calendar-edit-note textarea {
		width: 100%;
		min-height: 400px;
		font-family: "Source Code Pro";
	}
	
	#calendar-edit-note button:not(.left) {
		float: right;
		margin-left: 15px;
	}
	
	#tooltip code {
		float: left;
		margin: 2px;
		padding: 3px;
		border: 1px solid #426585;
	}
</style>

<div id="calendar-edit-note" ng-controller="CalendarEditNoteCtrl">
	<form class="box" ng-submit="save()">
		<label>
			Tab note
			<textarea type="text" id="calendar-edit-note-field" ng-model="note"></textarea>
		</label>
		<div class="overflow">
			<button class="left" ng-tooltip="#calendar-edit-note-tips" onclick="return false;"><i class="awe-help"></i> Tips</button>
			<button class="left"
				ng-tooltip="$Allows you to use the [Tab] key inside textareas for text formatting."
				onclick="window.open('https://chrome.google.com/webstore/detail/textarea-code-formatter/dgkbnngeehclnibbdblaimapibmmcdal');">
				Chrome Extension
			</button>
			<button type="submit" ng-disabled="inflight">Save</button>
			<button ng-disabled="inflight" ng-click="modal()" type="button">Cancel</button>
		</div>
		<div id="calendar-edit-note-tips" class="tooltip">
			<code>**<strong>Bold</strong>**</code>
			<code>*<em>Italic</em>*</code>
			<code>@<span class="c2">Character</span></code>
			<code>Title<br>=====</code>
			<code>Subtitle<br>--------</code>
			<code>* Bullet<br>* List</code>
			<code>* Main list<br>&nbsp;&nbsp;* Sub list</code>
			<code>1. Ordrered<br>2. List</code>
			<code>---------<br>Separator</code>
		</div>
	</form>
	<script>
		_("#calendar-edit-note-field").focus();
	</script>
</div>
