<style>
	#composer .char {
		background: rgba(0, 0, 0, 0.2);
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding: 0 5px 1px 5px;
		margin-bottom: 2px;
		margin-top: 2px;
		display: flex;
		margin-right: 6px;
		transition: opacity ease-out .3s;
		width: 110px;
	}

	#composer .char.picked {
		opacity: .5;
	}

	#composer .char img {
		width: 11px;
		height: 11px;
		top: 4px;
		margin-right: 4px;
	}

	#composer .char .name {
		flex: 1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#composer-char-picker {
		position: fixed;
		background: rgba(42, 54, 66, 0.9) !important;
		z-index: 100;
	}

	#composer-roster {
		width: 390px;
		margin-right: 12px;
	}

	#composer-roster .group {
		display: flex;
		flex-wrap: wrap;
		margin-right: -10px;
		margin-bottom: 12px;
	}

	#composer-roster h3 {
		font-size: 16px;
	}

	#composer-roster h3 .count {
		color: #A7AEB3;
	}

	#composer-lockouts {
		flex: 1;
		overflow: auto;
	}

	#composer-lockouts h2 i {
		font-size: 16px;
		margin-top: -6px;
		left: -4px;
		display: inline-block;
		transition: color ease-out .3s, opacity ease-out .3s;
	}

	#composer-lockouts h2.closed {
		border-bottom: 0;
		padding-bottom: 0;
	}

	#composer-lockouts h2 i.awe-eye:not(.fsblue) {
		opacity: .3;
	}

	#composer-lockouts h2 i.awe-eye:not(.fsblue):hover {
		opacity: 1;
	}

	#composer-lockouts .lockout {
		margin-bottom: 6px;
	}

	#composer-lockouts .group {
		margin-bottom: 12px;
		display: flex;
		flex-direction: column;
		padding: 12px;
	}

	#composer-lockouts .group .top {
		display: flex;
		margin-bottom: 12px;
	}

	#composer-lockouts .group .title {
		font-size: 14px;
		margin-left: 6px;
	}

	#composer-lockouts .group .stats {
		margin-right: 18px;
		text-align: right;
		flex: 1;
	}

	.picking #composer-lockouts .group.hover {
		border-color: #426585;
	}

	#composer-lockouts .group > i, #composer-lockouts .group .top > i {
		font-size: 15px;
		transition: opacity ease-out .3s, color ease-out .3s;
		opacity: .3;
		left: -2px;
	}

	#composer-lockouts .group .top > i {
		font-size: 14px;
	}

	#composer-lockouts .group > i.fsblue, #composer-lockouts .group .top > i.fsblue {
		opacity: 1;
	}

	#composer-lockouts .group > i:hover, #composer-lockouts .group .top > i:hover {
		opacity: 1;
	}

	#composer-lockouts .group > img {
		width: 24px;
		height: 24px;
		margin-right: 6px;
		margin-left: 6px;
	}

	#composer-lockouts .group.drop {
		text-align: center;
		display: block;
		margin: 0;
		padding: 4px 0 5px 0;
	}

	#composer-lockouts .comp {
		flex: 1;
		display: flex;
		flex-wrap: wrap;
		min-height: 24px;
		max-width: 1160px;
		margin: auto;
		width: 100%;
	}

	#composer-lockouts .actions {
		text-align: right;
		align-self: stretch;
		justify-content: flex-end;
	}

	#composer-lockouts .actions button {
		margin-top: 0;
		margin-bottom: 0;
		text-align: right;
	}

	#composer-lockouts .stats > span {
		margin-right: 12px;
		font-weight: 600;
	}

	#composer-lockouts .stats > span span {
		margin-left: 2px;
		color: #A7AEB3;
	}

	#composer-lockouts .stats img {
		width: 13px;
		height: 13px;
		top: -1px;
	}

	#composer .drop {
		opacity: .5;
		transition: opacity ease-out .2s;
		transform: translateZ(1px);
	}

	#composer .drop:hover, #composer .drop:hover i {
		opacity: 1;
	}

	#composer-lockouts .char:after {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		outline: solid 1px;
		outline-offset: 1px;
		opacity: .7;
	}

	#composer-lockouts .char.conflict-none:after {
		outline: none;
	}

	#composer-lockouts .char.conflict-duplicate:after {
		/*outline-color: orangered;*/
	}
</style>


<div id="composer" class="tools-main" ng-mouseup="dropChar()" ng-class="{ picking: pickedChar }">
	<div id="composer-char-picker" class="char c{{ pickedChar.class }}" ng-show="pickedChar">
		<img ng-src="/assets/images/roles/{{ pickedChar.role }}.png">
		<span class="name">{{ pickedChar.name }}</span>
	</div>

	<div class="box parted" id="composer-roster">
		<div>
			<div class="btns">
				<button ng-click="modal('composer-new')"><i class="awe-plus"></i> New lockout</button>
			</div>
			<h2>Roster</h2>
		</div>
		<div class="panel">
			<div ng-repeat="group in roster">
				<h3>{{ group.title }} <span class="count">({{ group.chars.length }})</span></h3>
				<div class="group">
					<span ng-repeat="char in group.chars"
						  class="char c{{ char.class }}"
						  ng-mousedown="pickChar(char, null, null)"
						  ng-class="{ picked: isCharPicked(char.id) }"
						  ng-tooltip=".tooltip">
						<img ng-src="/assets/images/roles/{{ char.role }}.png">
						<span class="name">
							{{ char.name }}<span ng-if="$.roster.isCrossRealm(char)">*</span>
						</span>
						<div class="tooltip">
							<div style="display: flex">
								<span class="c{{ char.class }}">
									{{ char.name }}
								</span>
								<div class="light" style="margin-left: 12px;">{{ char.ilvl }} ilvl</div>
							</div>
							<div class="blue" ng-if="$.roster.isCrossRealm(char)">{{ gameData.realms[char.server].name }}</div>
							<div class="light">{{ $.roster.user(char.owner).name }}</div>
						</div>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div id="composer-lockouts">
		<div ng-repeat="lockout in lockouts | orderBy : 'id'" class="box lockout parted">
			<div>
				<div class="btns animated" ng-hide="hidden[lockout.id]">
					<button ng-click="exportLockout(lockout)"><i class="awe-export-alt"></i> Export all</button>
					<button ng-click="renameLockout(lockout)"><i class="awe-pencil"></i> Rename</button>
					<button ng-click="deleteLockout(lockout.id)"><i class="awe-cancel"></i> Delete</button>
				</div>
				<h2 ng-click="toggleHidden(lockout.id)" ng-class="{ closed: hidden[lockout.id] }">
					<i class="awe-sort"></i>
					<i class="awe-eye" ng-class="{ fsblue: focus == lockout.id }" ng-click="setFocus(lockout.id, $event)"></i>
					{{ lockout.title }}
				</h2>
			</div>
			<div class="panel" ng-hide="hidden[lockout.id]">
				<div class="group box" ng-repeat="(id, group) in groupsForLockout(lockout.id) | orderBy : 'id'"
				     ng-class="{ hover: hover.group == group.id }"
				     ng-mouseenter="(!pickedLockout || pickedLockout == lockout.id) && (hover.group = group.id)"
					 ng-mouseleave="hover.group = null">
					<div class="top">
						<i class="awe-link" ng-class="{ fsblue: linked[group.id] }" ng-click="toggleLinked(group.id)"></i>
						<div class="title">{{ group.title || "Untitled" }}</div>
						<div class="stats">
							<span>{{ stats[group.id].total }} <span style="font-weight: 300">({{ stats[group.id].total_ilvl }})</span></span>
							<span><img src="/assets/images/roles/TANK.png"> {{ stats[group.id].tank }} <span style="font-weight: 300">({{ stats[group.id].tank_ilvl }})</span></span>
							<span><img src="/assets/images/roles/HEALING.png"> {{ stats[group.id].heal }} <span style="font-weight: 300">({{ stats[group.id].heal_ilvl }})</span></span>
							<span><img src="/assets/images/roles/DPS.png"> {{ stats[group.id].dps }} <span style="font-weight: 300">({{ stats[group.id].dps_ilvl }})</span></span>
						</div>
						<div class="actions">
							<button ng-click="exportLockout(lockout, group.id)"><i class="awe-export-alt"></i> Export</button>
							<button ng-click="renameGroup(group)"><i class="awe-pencil"></i> Rename</button>
							<button ng-click="deleteGroup(group.id)"><i class="awe-cancel"></i> Delete</button>
						</div>
					</div>
					<div class="comp">
						<span ng-repeat="slot in slotsForGroup(group.id) | orderBy : ['-role', 'class', 'name']"
						      class="char c{{ slot.char.class }} conflict-{{ conflictForSlot(slot, group) }}"
						      ng-mousedown="pickChar(slot.char, group.id, lockout.id)"
						      ng-tooltip=".tooltip">
							<img ng-src="/assets/images/roles/{{ slot.role }}.png">
							<span class="name">
								{{ slot.char.name }}<span ng-if="$.roster.isCrossRealm(slot.char)">*</span>
							</span>
							<div class="tooltip">
								<div style="display: flex">
									<span class="c{{ slot.char.class }}">{{ slot.char.name }}</span>
									<div class="light" style="margin-left: 12px;">{{ slot.char.ilvl }} ilvl</div>
								</div>
								<div class="blue" ng-if="$.roster.isCrossRealm(slot.char)">{{ gameData.realms[slot.char.server].name }}</div>
								<div class="light">{{ $.roster.user(slot.char.owner).name }}</div>
							</div>
						</span>
					</div>
				</div>
				<div class="group box drop" ng-click="createGroup(lockout.id)" ng-if="groupsForLockout(lockout.id).length < 8">
					<i class="awe-plus"></i>
				</div>
			</div>
		</div>
	</div>
</div>
