<style>
	#composer-new form {
		width: 300px;
	}

	#composer-new input, #calendar-add-tab select {
		width: 100%;
	}

	#composer-new button {
		float: right;
		margin-left: 15px;
	}
</style>

<div id="composer-new" ng-controller="ComposerNewCtrl">
	<form class="box" ng-submit="create()">
		<label>
			Lockout title
			<input type="text" id="composer-new-title" ng-model="title" required>
		</label>
		<div class="overflow">
			<button type="submit" ng-disabled="inflight">Create</button>
			<button ng-disabled="inflight" ng-click="modal()" type="button">Cancel</button>
		</div>
	</form>
	<script>
		_("#composer-new-title").focus();
	</script>
</div>
