<style>
	#composer-export {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
	}

	#composer-export form {
		width: 600px;
	}

	#composer-export .selector {
		display: flex;
	}

	#composer-export .selector .left, #composer-export .selector .right {
		flex: 1;
		border: 1px solid #395066;
		padding: 8px;
		background: rgba(17, 17, 17, 0.1);
		box-shadow: inset 0 0 3px 1px rgba(17, 17, 17, 0.1);
		height: 300px;
		overflow: auto;
		position: relative;
	}

	#composer-export .selector .left > div:not(:first-child), #composer-export .selector .right > div:not(:first-child) {
		margin-top: 8px;
	}

	#composer-export .selector .right {
		text-align: right;
	}

	#composer-export .selector .right input[type=checkbox] {
		float: right;
		margin-right: 0;
		margin-left: 15px;
	}

	#composer-export .selector label {
		display: flex;
		align-items: center;
	}

	#composer-export .selector label > span {
		flex: 1;
	}

	#composer-export .loading {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#composer-export .selector .middle {
		font-size: 36px;
		padding: 12px;
	}

	#composer-export input[type=checkbox] {
		float: none;
	}

	#composer-export button {
		float: right;
		margin-left: 15px;
	}

	#composer-export .event-time {
		font-weight: 300;
		color: #A7AEB3;
	}

	#composer-export .opts {
		float: left;
		margin: 0 15px 0 0;
		font-weight: 400;
	}
</style>

<div id="composer-export" ng-controller="ComposerExportCtrl">
	<form class="box" ng-submit="execute()">
		<h2>Export composer groups</h2>
		<div class="selector">
			<div class="left">
				<div ng-repeat="group in ctx.groups">
					<label>
						<input type="checkbox" ng-disabled="!group.available" ng-model="group.selected">
						<span>
							<span ng-if="!group.available" class="fsblue">
								<i class="awe-attention" ng-tooltip="$You cannot export a group with more than 30 characters in it."></i>
							</span>
							{{ group.title }}
						</span>
					</label>
				</div>
			</div>
			<div class="middle"><i class="awe-right-dir"></i></div>
			<div class="right">
				<div ng-repeat="event in upcoming">
					<label>
						<span class="event-infos">
							{{ event.title }}<br>
							<span class="event-time">
								{{ event.datestr }} {{ event.timestr }} - {{ $.roster.user(event.owner).name }}
							</span>
						</span>
						<input type="checkbox" ng-model="event.selected">
					</label>
				</div>
				<div class="loading" ng-if="!upcoming.length">
					Loading ...
				</div>
			</div>
		</div>
		<div class="overflow">
			<label class="empty no-collapse">Tabs creation mode</label>
			<label class="opts" ng-tooltip="$Replace existing tabs with the same name">
				<input type="radio" ng-model="opts.creation" value="0"> Replace same
			</label>
			<label class="opts" ng-tooltip="$Replace every existing tabs">
				<input type="radio" ng-model="opts.creation" value="1"> Replace all
			</label>
			<label class="opts" ng-tooltip="$Don't replace any existing tab">
				<input type="radio" ng-model="opts.creation" value="2"> Don't replace
			</label>
		</div>
		<div class="overflow">
			<label class="empty no-collapse">New tabs visibility</label>
			<label class="opts">
				<input type="radio" ng-model="opts.locked" value="0"> Unlocked
			</label>
			<label class="opts">
				<input type="radio" ng-model="opts.locked" value="1"> Locked
			</label>
		</div>
		<div class="overflow">
			<button type="submit" ng-disabled="inflight">Export</button>
			<button ng-disabled="inflight" ng-click="modal()" type="button">Cancel</button>
		</div>
	</form>
</div>
