<style>
	#composer .char {
		background: rgba(0, 0, 0, 0.2);
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding: 0 5px 1px 5px;
		margin-bottom: 2px;
		margin-top: 2px;
		display: flex;
		margin-right: 6px;
		transition: opacity ease-out .3s;
		width: 110px;
	}

	#composer .char.picked {
		opacity: .5;
	}

	#composer .char img {
		width: 11px;
		height: 11px;
		top: 4px;
		margin-right: 4px;
	}

	#composer .char .name {
		flex: 1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#composer-char-picker {
		position: fixed;
		background: rgba(42, 54, 66, 0.9) !important;
		z-index: 100;
	}

	#composer-roster {
		width: 390px;
		margin-right: 12px;
	}

	#composer-roster .group {
		display: flex;
		flex-wrap: wrap;
		margin-right: -10px;
		margin-bottom: 12px;
	}

	#composer-roster h3 {
		font-size: 16px;
	}

	#composer-lockouts {
		flex: 1;
		overflow: auto;
	}

	#composer-lockouts h2 i {
		font-size: 16px;
		margin-top: -6px;
		left: -4px;
		display: inline-block;
		transition: color ease-out .3s, opacity ease-out .3s;
	}

	#composer-lockouts h2 i.awe-eye:not(.fsblue) {
		opacity: .3;
	}

	#composer-lockouts h2 i.awe-eye:not(.fsblue):hover {
		opacity: 1;
	}

	#composer-lockouts .lockout {
		margin-bottom: 6px;
	}

	#composer-lockouts .group {
		margin-bottom: 12px;
		display: flex;
		align-items: center;
	}

	.picking #composer-lockouts .group.hover {
		border-color: #426585;
	}

	#composer-lockouts .group > i {
		font-size: 15px;
		margin-right: 6px;
		transition: opacity ease-out .3s, color ease-out .3s;
		opacity: .3;
	}

	#composer-lockouts .group > i.fsblue {
		opacity: 1;
	}

	#composer-lockouts .group > i:hover {
		opacity: 1;
	}

	#composer-lockouts .group > img {
		width: 24px;
		height: 24px;
		margin-right: 6px;
		margin-left: 6px;
	}

	#composer-lockouts .group.drop {
		text-align: center;
		display: block;
		margin: 0;
		padding: 4px 0 5px 0;
	}

	#composer-lockouts .comp {
		flex: 1;
		margin-left: 12px;
		display: flex;
		flex-wrap: wrap;
		min-height: 24px;
	}

	#composer-lockouts .actions {
		text-align: right;
		display: flex;
		flex-direction: column;
		align-self: stretch;
		justify-content: flex-end;
	}

	#composer-lockouts .actions button {
		margin: 0;
		text-align: right;
	}

	#composer-lockouts .spacing {
		flex: 1;
		min-height: 12px;
	}

	#composer-lockouts .stats span {
		margin-left: 2px;
		font-weight: 600;
	}

	#composer-lockouts .stats img {
		width: 14px;
		height: 14px;
		top: -1px;
	}

	#composer .drop {
		opacity: .5;
		transition: opacity ease-out .2s;
		transform: translateZ(1px);
	}

	#composer .drop:hover {
		opacity: 1;
	}

	#composer-lockouts .char:after {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		outline: solid 1px;
		outline-offset: 1px;
		opacity: .7;
	}

	#composer-lockouts .char.conflict-none:after {
		outline: none;
	}

	#composer-lockouts .char.conflict-duplicate:after {
		/*outline-color: orangered;*/
	}
</style>


<div id="composer" class="tools-main" ng-mouseup="dropChar()" ng-class="{ picking: pickedChar }">
	<div id="composer-char-picker" class="char c{{ pickedChar.class }}" ng-show="pickedChar">
		<img ng-src="/assets/images/roles/{{ pickedChar.role }}.png">
		<span class="name">{{ pickedChar.name }}</span>
	</div>

	<div class="box parted" id="composer-roster">
		<div>
			<div class="btns">
				<button ng-click="modal('composer-new')"><i class="awe-plus"></i> New lockout</button>
			</div>
			<h2>Roster</h2>
		</div>
		<div class="panel">
			<div ng-repeat="group in roster">
				<h3>{{ group.title }}</h3>
				<div class="group">
					<span ng-repeat="char in group.chars"
						  class="char c{{ char.class }}"
						  ng-mousedown="pickChar(char, null, null)"
						  ng-class="{ picked: isCharPicked(char.id) }">
						<img ng-src="/assets/images/roles/{{ char.role }}.png">
						<span class="name">{{ char.name }}</span>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div id="composer-lockouts">
		<div ng-repeat="lockout in lockouts | orderBy : 'id'" class="box lockout parted">
			<div>
				<div class="btns">
					<button class="animated" ng-hide="hidden[lockout.id]"><i class="awe-export-alt"></i> Export all</button>
					<button ng-click="deleteLockout(lockout.id)"><i class="awe-cancel"></i> Delete</button>
				</div>
				<h2 ng-click="toggleHidden(lockout.id)">
					<i class="awe-sort"></i>
					<i class="awe-eye" ng-class="{ fsblue: focus == lockout.id }" ng-click="setFocus(lockout.id, $event)"></i>
					{{ lockout.title }}
				</h2>
			</div>
			<div class="panel" ng-hide="hidden[lockout.id]">
				<div class="group box" ng-repeat="(id, group) in groupsForLockout(lockout.id) | orderBy : 'id'"
				     ng-class="{ hover: hover.group == group.id }"
				     ng-mouseenter="(!pickedLockout || pickedLockout == lockout.id) && (hover.group = group.id)"
					 ng-mouseleave="hover.group = null">
					<i class="awe-link" ng-class="{ fsblue: linked[group.id] }" ng-click="toggleLinked(group.id)"></i>
					<img ng-src="/assets/images/raidm/{{ icons[id] }}.png">
					<div class="comp">
						<span ng-repeat="slot in slotsForGroup(group.id) | orderBy : ['-role', 'class', 'name']"
						      class="char c{{ slot.char.class }} conflict-{{ conflictForSlot(slot, group) }}"
						      ng-mousedown="pickChar(slot.char, group.id, lockout.id)">
							<img ng-src="/assets/images/roles/{{ slot.role }}.png">
							<span class="name">{{ slot.char.name }}</span>
						</span>
					</div>
					<div class="actions">
						<div>
							<button><i class="awe-export-alt"></i></button>
							<button ng-click="deleteGroup(group.id)"><i class="awe-cancel"></i></button>
						</div>
						<div class="spacing"></div>
						<div class="stats">
							<span>2 <img src="/assets/images/roles/TANK.png"></span>
							<span>4 <img src="/assets/images/roles/HEALING.png"></span>
							<span>12 <img src="/assets/images/roles/DPS.png"></span>
							<span>(25)</span>
						</div>
					</div>
				</div>
				<div class="group box drop" ng-click="createGroup(lockout.id)" ng-if="groupsForLockout(lockout.id).length < 8">
					<i class="awe-plus"></i>
				</div>
			</div>
		</div>
	</div>
</div>
