<dom-module id="gt-dashboard">
	<style type="text/less">
		@right-column-width: 320px;
		@col1-width: 37%;
	
		#layout {
			height: 100%;
			width: 100%;
			position: relative;
		}
		
		#left, #right, #col1, #col2 {
			position: absolute;
		}
		
		#left {
			top: 0; left: 0; bottom: 0;
			right: @right-column-width + 6px;
		}

		#col1 {
			top: 0; left: 0; bottom: 0;
			width: @col1-width;
			
			dashboard-news {
				height: 100%;
			}
		}

		#col2 {
			top: 0; right: 0; bottom: 0;
			width: 100% - @col1-width;
			padding-left: 6px;
			
			display: flex;
			flex-direction: column;
			
			& > :first-child {
				margin-bottom: 6px;
				min-height: 200px;
			}
			
			& > :last-child {
				flex: 1;
			}
		}
		
		#right {
			top: 0; right: 0; bottom: 0;
			width: @right-column-width;
			
			display: flex;
			flex-direction: column;
			
			& > :not(:last-child) {
				margin-bottom: 6px;
				flex-shrink: 0;
			}
			
			& > :last-child {
				flex: 1;
			}
		}
	</style>
	<template>
		<div #layout>
			<div #left>
				<div #col1>
					<dashboard-news></dashboard-news>
				</div>
				<div #col2>
					<gt-box #activity heading="Guild activity" scrollable>
						<div style="position: absolute; top: 60px; left: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center; font-size: 60px;">
							<i>build</i>
						</div>
					</gt-box>
					<dashboard-shoutbox #shoutbox></dashboard-shoutbox>
				</div>
			</div>
			<div #right>
				<profile-user #profile [user]="app.user.id"></profile-user>
				<gt-box #informations heading="Informations"></gt-box>
				<dashboard-onlines #onlines></dashboard-onlines>
			</div>
		</div>
	</template>
</dom-module>

<dom-module id="dashboard-news">
	<style type="text/less">
		:host {
			display: block;
		}

		#feed {
			height: 100%;
		}

		#actions {
			position: absolute;
			top: 16px;
			right: 16px;
			line-height: 24px;
		}
		
		#disconnected {
			position: absolute;
			top: 12px;
			left: 130px;
			line-height: 24px;
			font-size: 18px;
			color: @light-blue;
		}

		#list {
			margin-bottom: -6px;
		}

		.news { .gpu;
			height: 0px;
			opacity: 0;

			display: flex;
			transition: all .2s ease-out;

			&:hover {
				background-color: fade(@fs-blue, 10%);
			}

			&[visible] {
				height: 25px;
				opacity: 1;

				padding: 3px 5px;
				margin: 0 -10px 0 -5px;
			}

			img {
				height: 15px;
				margin-right: 10px;
			}

			b {
				flex: 1;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				&[source=MMO] {
					color: #90E055;
				}

				&[tags*=BLIZZ] {
					color: #00B4FF;
				}
			}

			gt-timeago {
				color: @light-blue;
				margin-left: 12px;
			}
		}
	</style>
	<template>
		<gt-box #feed heading="News Feed" scrollable>
			<div #disconnected {hidden}="available">
				<i>cloud_off</i>
			</div>
			<div #actions>
				<dashboard-news-filter key="MMO" [active]="filters.MMO"></dashboard-news-filter>
				<dashboard-news-filter key="BLUE" [active]="filters.BLUE"></dashboard-news-filter>
				<dashboard-news-filter key="WOW" [active]="filters.WOW"></dashboard-news-filter>
			</div>
			<gt-alert #none {hidden}="!noVisible" icon="cloud_off">
				No news to display.<br>
				The news feed may be temporarily unavailable.
			</gt-alert>
			<div #list>
				<div .news [repeat]="news" {visible}="visible(item.source, filters.*)" (click)="open">
					<img [src]="icon(item)">
					<b {tags}="item.tags" {source}="item.source">{{item.title}}</b>
					<gt-timeago [date]="item.time"></gt-timeago>
				</div>
			</div>
		</gt-box>
	</template>
</dom-module>

<dom-module id="dashboard-news-filter">
	<style type="text/less">
		gt-button {
			padding: 0;
			height: auto;
			padding-bottom: 4px;
			border-bottom: 2px solid transparent;
			opacity: .5;
			transition: border .2s ease-out, opacity .2s ease-out;

			&[active] {
				opacity: 1;
				border-bottom-color: @fs-blue;
			}
		}
	</style>
	<template>
		<gt-button {active}><img [src]="icon"></gt-button>
	</template>
</dom-module>

<dom-module id="dashboard-shoutbox">
	<style type="text/less">
		:host { display: block; position: relative; }
		gt-box { .pos(absolute); }
	</style>
	<template>
		<gt-box #shoutbox heading="Shoutbox" scrollable>
			<div .message [repeat]="messages">
				<span .left>
					<gt-timeago .time [date]="item.date"></gt-timeago>
					<span .actions>
					</span>
				</span>
				<span .author>{{item.from}}</span>
				<span .message>{{item.text}}</span>
			</div>
		</gt-box>
	</template>
</dom-module>

<dom-module id="dashboard-onlines">
	<style type="text/less">
		:host {
			display: block;
			position: relative;
		}
		
		gt-box {
			.pos(absolute);
		}
		
		dashboard-onlines-user {
			margin: 6px 0px;
		}
	</style>
	<template>
		<gt-box #onlines heading="Onlines" scrollable>
			<dashboard-onlines-user [user]="item" [repeat]="onlines"></dashboard-onlines-user>
		</gt-box>
	</template>
</dom-module>

<dom-module id="dashboard-onlines-user">
	<style type="text/less">
		@size: 40px;
		@radius: 10px;
	
		:host {
			display: block;
		}
		
		#layout {
			display: flex;
			align-items: center;
			background: fade(@fs-blue, 10%);
			border: 1px solid fade(@fs-blue, 10%);
			transition: all .2s ease-out;
			
			&:hover {
				background: fade(@fs-blue, 12%);
				border-color: fade(@fs-blue, 20%);
			}
		}
		
		#name {
			flex: 1;
			padding: 10px;
		}
		
		#state-container {
			background: rgba(17, 17, 17, 0.1);
			background-clip: padding-box;
			border: 1px solid fade(@fs-blue, 10%);
			border-width: 0 1px 0 1px;
			height: @size;
			padding: (@size - @radius) / 2;
			margin-left: 10px;
		}
		
		#state {
			height: @radius;
			width: @radius;
			border-radius: @radius;
			background: #41c32b;
			transition: background .2s ease-out;
			
			[away] & {
				background: #f4d736;
			}
		}
		
		bnet-thumb {
			width: @size;
			height: @size;
			transition: opacity .2s ease-out;
			transform: scaleX(-1);
			
			[away] & {
				opacity: .5;
			}
		}
	</style>
	<template>
		<meta is="data-main" [user] [main]>
		<div #layout {away}>
			<b #name>{{main.name}}</b>
			<div #state-container>
				<div #state></div>
			</div>
			<bnet-thumb [char]="main"></bnet-thumb>
		</div>
	</template>
</dom-module>
