<style>
	#dashboard-live {
		flex: 1;
		margin-right: 6px;
	}

	#dashboard-center {
		flex: 1.7;
		display: flex;
		flex-direction: column;
	}

	#dashboard-events {
		/*flex: 1;*/
		min-height: 250px;
	}

	#dashboard-shoutbox {
		flex: 1;
		margin-top: 6px;
	}

	#dashboard-right {
		width: 300px;
		margin-left: 6px;
		display: flex;
		flex-direction: column;
	}

	#dashboard-right > div {
		margin-bottom: 6px;
	}

	#dashboard-connected {
		flex: 1;
		margin-bottom: 0 !important;
	}

	#dashboard-feed-filter {
		float: right;
		top: 2px;
	}

	#dashboard-feed-filter button {
		padding-bottom: 4px;
		border-bottom: 2px solid #64B4FF;
		z-index: 50;
	}

	#dashboard-feed-filter button.disabled {
		opacity: .3;
		border-bottom: 2px solid transparent;
	}

	#dashboard-feed-filter button:hover {
		opacity: 1;
	}

	#dashboard-feed .entry {
		display: flex;
		padding: 3px 5px;
		margin: 0 -10px 0 -5px;
	}

	#dashboard-feed .entry:hover {
		background: rgba(99, 180, 255, 0.1);
	}

	#dashboard-feed div:first-child {
		margin-top: -5px;
	}

	#dashboard-feed div:last-child {
		margin-bottom: -5px;
	}

	#dashboard-feed .entry img {
		height: 15px;
		margin-right: 10px;
		top: 1px;
	}

	#dashboard-feed .entry .title {
		flex: 1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#dashboard-feed .entry.blizz .title {
		color: #00B4FF;
	}

	#dashboard-feed .entry.mmo .title {
		color: #90E055;
	}

	#dashboard-feed .entry .time {
		opacity: .75;
		margin-left: 10px;
	}

	#dashboard-feed .entry.animated.ng-enter {
		transform: translateX(10px);
	}

	#dashboard-feed .entry.animated.ng-enter-active {
		transform: translateX(0px);
	}

	#dashboard-feed .entry.animated.ng-leave {
		transform: translateX(0px);
	}

	#dashboard-feed .entry.animated.ng-leave-active {
		transform: translateX(10px);
	}

	#dashboard-events .panel {
		display: flex;
		padding: 0 !important;
		overflow: hidden !important;
	}

	#dashboard-events .panel > div {
		padding: 15px;
		width: 50%;
	}

	#dashboard-events .panel .events {
		border-right: 2px solid #426585;
		padding-right: 5px;
	}

	#dashboard-events .event-list {
		display: table;
		table-layout: fixed;
		width: 100%;
		box-sizing: content-box;
		margin: 0px -5px;
	}

	#dashboard-events .event {
		display: table-row;
		transition: background ease-out .3s;
	}

	#dashboard-events .event:not(.announce):hover {
		background: rgba(99, 180, 255, 0.1);
	}

	#dashboard-events .event > span {
		display: table-cell;
		padding: 3px 5px;
	}

	#dashboard-events .event .date {
		width: 35px;
	}

	#dashboard-events .event .title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #ffef64;
	}

	#dashboard-events .event .title i {
		top: -1px;
		font-size: 14px;
		margin-left: -0.2em;
	}

	#dashboard-events .event.accepted .title {
		color: #70ea5c;
	}
	#dashboard-events .event.declined .title {
		color: #ff693b;
	}

	#dashboard-events .event.closed .title {
		color: #64b4ff;
	}

	#dashboard-events .event.canceled .title {
		color: #aaa;
	}

	#dashboard-events .event.note .title {
		color: #fff;
	}

	#dashboard-events .event .time {
		opacity: .5;
		width: 35px;
	}

	#dashboard-events .log .title {
		color: #64B4FF;
	}

	#dashboard-events .log .uploader {
		margin-left: 10px;
		color: #fff;
		opacity: 0.5;
	}

	#dashboard-user img {
		width: 60px;
		height: 60px;
		margin-right: 15px;
		float: left;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}

	#dashboard-user h2 {
		font-weight: 300;
		margin-bottom: 0;
	}

	#dashboard-user .rank {
		opacity: .5;
	}

	#dashboard-shoutbox .panel {
		margin-bottom: 0;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	#dashboard-shoutbox .message {
		padding: 2px 0;
	}

	#dashboard-shoutbox .message:first-child {
		padding-top: 0;
	}

	#dashboard-shoutbox .message:last-child {
		padding-bottom: 0;
	}

	#dashboard-shoutbox .date {
		color: rgb(142, 175, 206);
	}

	#dashboard-shoutbox .author {
		padding: 0 2px;
	}

	#dashboard-shoutbox .author span {
		font-weight: 400;
		padding: 0 1px;
	}

	#dashboard-shoutbox-composer {
		border-top: 2px solid rgb(66, 101, 133);
		margin: 0 -16px -16px -16px;
		display: flex;
		align-items: center;
	}

	#dashboard-shoutbox-composer i {
		font-size: 16px;
		margin-left: 8px;
		color: rgb(142, 175, 206);
	}

	#dashboard-shoutbox-composer input {
		flex: 1;
		margin: 0;
		padding: 16px 8px;
		box-sizing: border-box;
		border: 0;
	}

	#dashboard-shoutbox a {
		color: #64B4FF;
		cursor: pointer;
		text-decoration: none;
		transition: color ease-out .3s;
	}
</style>

<div id="dashboard" class="tools-main">
	<div class="box parted" id="dashboard-live">
		<div>
			<div id="dashboard-feed-filter">
				<button ng-click="toggleFilter('MMO')" ng-class="{ disabled: !filters.MMO }"><img src="/assets/images/feed/mmo.png"></button>
				<button ng-click="toggleFilter('BLUE')" ng-class="{ disabled: !filters.BLUE }"><img src="/assets/images/feed/blue.png"></button>
				<button ng-click="toggleFilter('WOW')" ng-class="{ disabled: !filters.WOW }"><img src="/assets/images/feed/wow.png"></button>
			</div>
			<h2>News Feed</h2>
		</div>
		<div id="dashboard-feed" class="panel">
			<div class="box" style="margin-bottom: 10px;" ng-if="!feed.length">
				News unavailable
			</div>
			<div ng-repeat="entry in feed" class="animated entry {{ getEntryClasses(entry) }}" ng-click="openURL(entry.link)">
				<img ng-src="/assets/images/feed/{{ src }}.png" ng-repeat="src in getEntryImages(entry)">
				<span class="title">{{ entry.title | capsfirst }}</span>
				<span class="time" am-time-ago="entry.time" title="{{ entry.time }}"></span>
			</div>
		</div>
	</div>

	<div id="dashboard-center">
		<div class="box parted" id="dashboard-events">
			<h2>Guild activity</h2>
			<div class="panel">
				<div class="events">
					<h3>Calendar events</h3>
					<div class="event-list">
						<div class="event {{ stateClass(entry) }}"
							ng-repeat="entry in formattedEventsList()"
							ng-click="entry.event.type != 4 && goto('/calendar/event/' + entry.id)"
							ng-class="{ announce: entry.event.type == 4 }">
							<span class="date">{{ entry._datestr }}</span>
							<span class="title">
								<i class="awe-attention-alt" ng-if="entry.event.type == 4"></i>
								{{ entry.event.title }}
							</span>
							<span class="time">{{ entry.event.type != 4 ? entry.timestr : '' }}</span>
						</div>
					</div>
				</div>
				<div>
					<h3>WarcraftLogs</h3>
					<div class="box" style="margin-bottom: 10px;" ng-if="!logs.length">
						Logs unavailable
					</div>
					<div class="event-list">
						<div class="event log" ng-repeat="log in logs" ng-click="openURL('http://www.warcraftlogs.com' + log.url)">
							<span class="date">{{ formatLogDate(log.start) }}</span>
							<span class="title">
								{{ extractLogTitle(log.title) }}
								<span class="uploader">{{ extractLogUploader(log.title) }}</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="box parted" id="dashboard-shoutbox">
			<h2>Shoutbox</h2>
			<div class="panel" scroll-glue>
				<div ng-repeat="msg in $.shoutbox" class="message">
					<span class="date">{{ moment(msg.date).format("DD.MM HH:mm") }}</span>
					<span class="author">
						<span class="c{{ msg.user ? $.roster.mainForUser(msg.user).class : 99 }}">{{ msg.user ? $.roster.mainForUser(msg.user).name : msg.from }}</span>
					</span>
					<span class="message" ng-bind-html="formatShoutboxMessage(msg.text)"></span>
				</div>
			</div>
			<form id="dashboard-shoutbox-composer" ng-submit="sendShoutbox()">
				<i class="awe-comment-empty"></i>
				<input type="text" ng-model="forms.shoutbox" placeholder=". . .">
			</form>
		</div>
	</div>

	<div id="dashboard-right">
		<div id="dashboard-user" class="box">
			<img ng-src="http://eu.battle.net/static-render/eu/{{ main.thumbnail }}">
			<h2 class="c{{ main.class }}">{{ main.name }}</h2>
			<div class="sub">
				{{ main.level }} {{ gameData.races[main.race].name }}
				{{ gameData.classes[main.class].name }}
			</div>
			<div class="rank">
				{{ groupNames[$.user.group] }}
			</div>
		</div>

		<div class="box">
			<h2>Informations</h2>
			<div class="dashboard-connected-user" contenteditable>
				Message de guilde de la part des officiers
			</div>
		</div>

		<div class="box" id="dashboard-connected">
			<h2>Online</h2>
			<div class="dashboard-connected-user" ng-repeat="player in $.online | orderBy:onlineSort">
				<div class="status-dot"></div> {{ $.roster.user(player).name }}
			</div>
			<!--<div class="dashboard-connected-user">
				<div class="status-dot away"></div> Kkcx
			</div>
			<div class="dashboard-connected-user">
				<div class="status-dot busy"></div> Reya
			</div>-->
		</div>
	</div>
</div>
