<style>
	#login-container {
		height: 100%;
		width: 100%;
		margin-top: -52px;
		padding-top: 52px;
		box-sizing: content-box;
	}
	
	#login-block {
		width: 300px;
		box-sizing: border-box;
		background: rgba(99,180,255,0.06);
	}
	
	#login-block input {
		width: 100%;
	}
	
	#login-block img {
		width: 100%;
		margin: 10px 0 10px 0;
	}
	
	#login-block button {
		float: right;
	}
</style>

<div id="login-container" class="flex-center">
	<div id="login-block" class="box">
		<form ng-submit="do_login()" autocomplete="off">
			<img src="/assets/images/login_logo.png">
			<label>
				From Scratch ID
				<input id="login-user" type="text" ng-model="user" required>
			</label>
			<input style="display:none">
			<label>
				Password
				<input id="login-pass"  type="password" ng-model="pass" required>
			</label>
			<button ng-disabled="inflight">Login</button>
		</form>
	</div>
</div>

<script>
	Pace.once("hide", function() {
		if (_("#login-user").val()) {
			_("#login-pass").focus();
		} else {
			_("#login-user").focus();
		}
	}, 500);
</script>
