<dom-module id="gt-profile">
	<style type="text/less">
		@left-width: 300px;
		@right-width: 220px;
		
		#left, #right, #middle {
			position: absolute;
		}
		
		#left {
			top: 0;
			left: 0;
			bottom: 0;
			width: @left-width;
			display: flex;
			flex-direction: column;
			
			#stats {
				flex: 1;
			}
		}
		
		#middle {
			top: 0;
			left: @left-width + 6px;
			right: @right-width + 6px;
			bottom: 0;
			
			#chars {
				height: 100%;
			}
		}
		
		#right {
			top: 0;
			right: 0;
			bottom: 0;
			width: @right-width;
		}
		
		#profile, #infos {
			margin-bottom: 6px;
		}
		
		#actions {
			padding-bottom: 0;
			
			gt-button {
				margin: 0 -12px;
				padding: 12px;
				border-top: 1px solid fade(@fs-blue, 10%);
				display: block;
				height: auto;
				font-weight: 400;
				transition: all 0.2s ease-out;
				
				&:first-child {
					margin-top: -12px;
					border-top: 0;
				}
				
				&:hover {
					background: fade(@fs-blue, 10%);
					color: #fff;
				}
				
				i {
					font-size: 18px;
					margin: -3px 8px -3px 0;
				}
			}
		}
		
		#actions gt-button:hover + gt-button {
			border-top-color: fade(@fs-blue, 20%);
		}
	</style>
	<template>
		<div #left>
			<profile-user [user] #profile></profile-user>
			<profile-infos #infos [user]></profile-infos>
			<gt-box #stats heading="Statistics" scrollable>
				<div style="display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; position: absolute; top: 0; left: 0;">
					<i style="color: #64B4FF; opacity: 0.5; font-size: 60px;">build</i>
				</div>
			</gt-box>
		</div>
		<div #middle>
			<profile-chars [user] #chars></profile-chars>
		</div>
		<div #right>
			<gt-box heading="Actions" #actions scrollable>
				<div .buttons>
					<gt-button><i>mail</i> Send message</gt-button>
					<gt-button><i>textsms</i> Open talk</gt-button>
					<gt-button><i>settings</i> Settings</gt-button>
					<gt-button [if]="app.user.promoted"><i>build</i> Manage</gt-button>
				</div>
			</gt-box>
		</div>
	</template>
</dom-module>

<dom-module id="profile-user">
	<style type="text/less">
		:host {
			display: block;
			font-weight: 300;
		}
		
		#name {
			font-family: "Roboto Condensed";
			font-size: 24px;
		}
		
		#rank {
			color: @fs-gray;
		}
		
		#layout {
			display: flex;
			align-items: center;
		}
		
		bnet-thumb {
			line-height: 0;
			overflow: hidden;
			border-right: 1px solid fade(@fs-blue, 10%);
			margin-right: 12px;
			height: 60px;
			width: 60px;
		}
	</style>
	<template>
		<meta is="data-user" [id]="user" [user]="infos">
		<meta is="data-main" [user] [main]>
		<meta is="data-race" [id]="main.race" [name]="race_name">
		<meta is="data-class" [id]="main.class" [name]="class_name">
		<meta is="data-rank" [id]="infos.group" [name]="rank_name">
		<gt-box>
			<div #layout>
				<bnet-thumb [char]="main"></bnet-thumb>
				<div #infos>
					<div #name {class-color}="main.class">{{main.name}}</div>
					<div #main>
						<b>{{main.level}}</b>
						<b>{{race_name}}</b>
						<b>{{class_name}}</b>
					</div>
					<div #rank>
						<b>{{rank_name}}</b>
					</div>
				</div>
			</div>
		</gt-box>
	</template>
</dom-module>

<dom-module id="profile-infos">
	<style type="text/less">
		:host {
			display: block;
		}
		
		div {
			margin: 4px 0;
			
			i {
				margin-right: 8px;
			}
			
			span {
				display: inline-block;
				width: 30%;
				font-family: "Roboto Condensed";
			}
		}
		
		gt-button {
			position: absolute;
			top: 6px;
			right: 0;
			z-index: 10;
		}
		
		#btag {
			margin-top: 16px;
		}
	</style>
	<template>
		<meta is="data-user" [id]="user" [user]="infos">
		<meta is="data-rank" [id]="infos.group" [name]="rank_name">
		<gt-box heading="Profile" scrollable>
			<gt-button [if]="editable"><i>edit</i> Edit</gt-button>
			<div #username>
				<i>face</i>
				<span>Username</span>
				<b>{{infos.name}}</b>
			<div>
			<div #rank>
				<i>grade</i>
				<span>Rank</span>
				<b>{{rank_name}}</b>
			<div>
			<div #bday>
				<i>cake</i>
				<span>Birthday</span>
				<b>&mdash;</b>
			<div>
			<div #btag>
				<i>gamepad</i>
				<span>BattleTag</span>
				<b>&mdash;</b>
			<div>
			<div #mail>
				<i>local_post_office</i>
				<span>E-mail</span>
				<b>&mdash;</b>
			<div>
			<div #phone>
				<i>local_phone</i>
				<span>Phone</span>
				<b>&mdash;</b>
			<div>
		</gt-box>
	</template>
</dom-module>

<dom-module id="profile-chars">
	<style type="text/less">
		:host {
			display: block;
		}
		
		gt-box {
			height: 100%;
		}
		
		gt-button {
			position: absolute;
			top: 6px;
			right: 0;
		}
		
		#layout {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -3px;
			
			profile-chars-card, .padding {
				margin: 3px;
				flex: 1;
				min-width: 310px;
				max-width: 500px;
			}
			
			.padding {
				margin: 0 3px;
				height: 0px;
			}
		}
	</style>
	<template>
		<gt-box heading="Characters" scrollable>
			<gt-button [if]="editable" (click)="AddChar"><i>person_add</i> Add character</gt-button>
			<div #layout>
				<profile-chars-card [repeat]="chars" [id]="item" [editable]></profile-chars-card>
				<div .padding></div>
				<div .padding></div>
				<div .padding></div>
			</div>
			<gt-dialog #addchar-dialog>
				Hello World
			</gt-dialog>
		</gt-box>
	</template>
</dom-module>

<dom-module id="profile-chars-card">
	<style type="text/less">
		:host {
			display: block;
			overflow: hidden;
		}
		
		gt-box {
			background: fade(@fs-blue, 5%);
		}
		
		#layout {
			display: flex;
			align-items: center;
		}
		
		bnet-thumb {
			height: 55px;
			width: 55px;
			transition: all .25s ease-out;
			
			[inactive] & {
				opacity: 0;
				width: 0;
				margin-right: -10px;
			}
		}
		
		#icon {
			font-size: 20px;
			
			i {
				display: none;
				color: @light-blue;
			}
			
			&[main] #main { display: block; }
			&[active]:not([main]) #active { display: block; }
			&:not([active]) #inactive { display: block; }
			
			#inactive {
				 transform: scaleX(-1);
			}
		}
		
		#name {
			font-size: 18px;
			font-family: "Roboto Condensed";
		}
		
		#infos {
			flex: 1;
			margin: 0 12px;
		}
		
		#meta {
			color: @fs-gray;
		}
		
		#actions {
			margin: 12px -12px -12px -12px;
			padding: 2px 8px;
			border-top: 1px solid fade(@fs-blue, 20%);
			display: flex;
			justify-content: flex-end;
			
			gt-button {
				margin: 0;
			}
		}
	</style>
	<template>
		<meta is="data-char" [id] [char]>
		<meta is="data-race" [id]="char.race" [name]="race-name">
		<meta is="data-class" [id]="char.class" [name]="class-name">
		<gt-box {inactive}="!char.active">
			<div #layout>
				<bnet-thumb [char]></bnet-thumb>
				<div #infos>
					<div #name {class-color}="char.class">{{char.name}}</div>
					<div>
						<b>{{char.level}}</b>
						<b>{{race-name}}</b>
						<b>{{class-name}}</b>
					</div>
					<div #meta>
						<gt-timeago [date]="char.last_update"></gt-timeago>
						&ndash;
						<b>{{char.ilvl}}</b> ilvl
					</div>
				</div>
				<div #icon {main}="char.main" {active}="char.active">
					<i #main>star</i>
					<i #active>star_border</i>
					<i #inactive>brightness_3</i>
				</div>
			</div>
			<div #actions {hidden}="!editable">
				<span {hidden}="!char.active">
					<gt-button #btn-main {hidden}="char.main">Main</gt-button>
					<gt-button #btn-disable {hidden}="char.main">Disable</gt-button>
					<gt-button #btn-update {disabled}="!updatable">Update</gt-button>
				</span>
				<gt-button #btn-enable {hidden}="char.active">Enable</gt-button>
				<gt-button #btn-remove {hidden}="char.active">Remove</gt-button>
			</div>
		</gt-box>
	</template>
</dom-module>
