<dom-module id="gt-profile">
	<style type="text/less">
		@left-width: 300px;
		@right-width: 220px;
		
		#left, #right, #middle {
			position: absolute;
		}
		
		#left {
			top: 0;
			left: 0;
			bottom: 0;
			width: @left-width;
			display: flex;
			flex-direction: column;
			
			#stats {
				flex: 1;
			}
		}
		
		#middle {
			top: 0;
			left: @left-width + 6px;
			right: @right-width + 6px;
			bottom: 0;
			
			#chars {
				height: 100%;
			}
		}
		
		#right {
			top: 0;
			right: 0;
			bottom: 0;
			width: @right-width;
		}
		
		#profile, #infos {
			margin-bottom: 6px;
		}
		
		#actions {
			padding-bottom: 0;
			
			gt-button {
				margin: 0 -12px;
				padding: 12px;
				border-top: 1px solid fade(@fs-blue, 10%);
				display: block;
				height: auto;
				font-weight: 400;
				transition: all 0.2s ease-out;
				
				&:first-child {
					margin-top: -12px;
					border-top: 0;
				}
				
				&:hover {
					background: fade(@fs-blue, 10%);
					color: #fff;
				}
				
				i {
					font-size: 18px;
					margin: -3px 8px -3px 0;
				}
			}
		}
		
		#actions gt-button:hover + gt-button {
			border-top-color: fade(@fs-blue, 20%);
		}
	</style>
	<template>
		<div #left>
			<profile-user [user] #profile></profile-user>
			<profile-infos #infos [user]></profile-infos>
			<gt-box #stats heading="Statistics" scrollable>
				<div style="display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; position: absolute; top: 0; left: 0;">
					<i style="color: #64B4FF; opacity: 0.5; font-size: 60px;">build</i>
				</div>
			</gt-box>
		</div>
		<div #middle>
			<profile-chars [user] #chars></profile-chars>
		</div>
		<div #right>
			<gt-box heading="Actions" #actions scrollable>
				<div .buttons>
					<gt-button disabled><i>mail</i> Send message</gt-button>
					<gt-button disabled><i>textsms</i> Open talk</gt-button>
					<gt-button disabled><i>settings</i> Settings</gt-button>
					<gt-button [if]="app.user.promoted" disabled><i>build</i> Manage</gt-button>
				</div>
			</gt-box>
		</div>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="profile-user">
	<style type="text/less">
		:host {
			display: block;
			font-weight: 300;
		}
		
		#name {
			font-family: "Roboto Condensed";
			font-size: 24px;
		}
		
		#rank {
			color: @fs-gray;
		}
		
		#layout {
			display: flex;
			align-items: center;
		}
		
		bnet-thumb {
			line-height: 0;
			overflow: hidden;
			border-right: 1px solid fade(@fs-blue, 10%);
			margin-right: 12px;
			height: 60px;
			width: 60px;
		}
	</style>
	<template>
		<meta is="roster-user" [id]="user" [user]="infos">
		<meta is="roster-main" [user] [main]>
		<meta is="roster-race" [id]="main.race" [name]="race_name">
		<meta is="roster-class" [id]="main.class" [name]="class_name">
		<meta is="roster-rank" [id]="infos.group" [name]="rank_name">
		<gt-box>
			<div #layout>
				<bnet-thumb [char]="main"></bnet-thumb>
				<div #infos>
					<div #name {class-color}="main.class">{{main.name}}</div>
					<div #main>
						<b>{{main.level}}</b>
						<b>{{race_name}}</b>
						<b>{{class_name}}</b>
					</div>
					<div #rank>
						<b>{{rank_name}}</b>
					</div>
				</div>
			</div>
		</gt-box>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="profile-infos">
	<style type="text/less">
		:host {
			display: block;
		}
		
		div {
			margin: 4px 0;
			
			i {
				margin-right: 8px;
			}
			
			span {
				display: inline-block;
				width: 35%;
				font-family: "Roboto Condensed";
			}
		}
		
		gt-button {
			position: absolute;
			top: 6px;
			right: 0;
			z-index: 10;
		}
		#access {
			margin-top: 12px;
   			margin-bottom: -4px;
		}
		
		#access b {
			background: rgba(17, 17, 17, 0.2);
			border-radius: 50%;
			border: 2px dotted fade(@fs-blue, 50%);
			display: inline-block;
			padding: 1px 2px 3px;
			height: 1em;
			width: 1em;
			box-sizing: content-box;
			font-family: "Roboto Condensed";
			color: @light-blue;
			text-align: center;
			vertical-align: middle;
			
			&:first-of-type {
				margin-left: -2px;
			}
		}
		
		#rlname, #btag {
			margin-top: 16px;
		}
	</style>
	<template>
		<meta is="roster-user" [id]="user" [user]="infos">
		<meta is="roster-rank" [id]="infos.group" [name]="rank_name">
		<gt-box heading="Profile" scrollable>
			<gt-button [if]="editable"><i>edit</i> Edit</gt-button>
			<div #username>
				<i>person</i>
				<span>Username</span>
				<b>{{infos.name}}</b>
			</div>
			<div #rank>
				<i>grade</i>
				<span>Rank</span>
				<b>{{rank_name}}</b>
			</div>
			<div #access>
				<i>security</i>
				<span>Access tags</span>
				<b [if]="infos.developer">D</b>
				<b [if]="infos.officer">O</b>
				<!--<b [if]="infos.promoted">P</b>-->
				<b [if]="infos.member">M</b>
				<b [if]="infos.roster">R</b>
				<b [if]="infos.fs">G</b>
				<span [if]="!infos.fs">&mdash;</b>
			</div>
			<div #rlname>
				<i>face</i>
				<span>Real-life name</span>
				<b>&mdash;</b>
			</div>
			<div #bday>
				<i>cake</i>
				<span>Birthday</span>
				<b>&mdash;</b>
			</div>
			<div #btag>
				<i>gamepad</i>
				<span>BattleTag</span>
				<b>&mdash;</b>
			</div>
			<div #mail>
				<i>local_post_office</i>
				<span>E-mail</span>
				<b>&mdash;</b>
			</div>
			<div #phone>
				<i>local_phone</i>
				<span>Phone</span>
				<b>&mdash;</b>
			</div>
		</gt-box>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="profile-chars">
	<style type="text/less">
		:host {
			display: block;
		}
		
		gt-box {
			height: 100%;
		}
		
		gt-button {
			position: absolute;
			top: 6px;
			right: 0;
		}
		
		#layout {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -3px;
			
			profile-chars-card, .padding {
				margin: 3px;
				flex: 1;
				min-width: 310px;
				max-width: 500px;
			}
			
			.padding {
				margin: 0 3px;
				height: 0px;
			}
		}
		
		#no-char {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: center;
			padding: 100px 0;
			color: @light-blue;
			font-size: 24px;
			
			i {
				margin-right: 20px;
				font-size: 48px;
				position: relative;
				top: 1px;
			}
			
			.smaller {
				font-size: 16px;
			}
		}
	</style>
	<template>
		<gt-box heading="Characters" scrollable>
			<gt-button [if]="editable" (click)="AddChar"><i>person_add</i> Add character</gt-button>
			<div #layout>
				<div #no-char [if]="!chars.length">
					<i>error_outline</i>
					<div [if]="!me">
						There is no registered character for this user<br>
						<span .smaller>If he's a new guild member, maybe you could help him get started!</span>
					</div>
					<div [if]="me">
						You have no registered character<br>
						<span .smaller>Click on the Add Character button to register your first character</span>
					</div>
				</div>
				<profile-chars-card [repeat]="chars" [id]="item" [editable]></profile-chars-card>
				<div .padding></div>
				<div .padding></div>
				<div .padding></div>
			</div>
			<profile-add-char #addchar [owner]="user"></profile-add-char>
		</gt-box>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="profile-chars-card">
	<style type="text/less">
		:host {
			display: block;
			overflow: hidden;
		}
		
		#layout {
			display: flex;
			align-items: center;
		}
		
		bnet-thumb {
			height: 55px;
			width: 55px;
			transition: all .25s ease-out;
			
			[inactive] & {
				opacity: 0;
				width: 0;
				margin-right: -10px;
			}
		}
		
		#icon {
			font-size: 20px;
			
			i {
				display: none;
				color: @light-blue;
			}
			
			&[main] #main { display: block; }
			&[active]:not([main]) #active { display: block; }
			&:not([active]) #inactive { display: block; }
			
			#inactive {
				 transform: scaleX(-1);
			}
		}
		
		#name {
			font-size: 18px;
			font-family: "Roboto Condensed";
		}
		
		#infos {
			flex: 1;
			margin: 0 12px;
		}
		
		#meta {
			color: @fs-gray;
		}
		
		#actions {
			margin: 12px -12px -12px -12px;
			border-top: 1px solid fade(@fs-blue, 10%);
			padding: 2px 8px;
			display: flex;
			justify-content: flex-end;
			
			gt-button {
				margin: 0;
			}
			
			#roles {
				flex: 1;
				display: flex;
				align-items: center;
				transition: opacity .2s ease-out;
				
				&[disabled] {
					opacity: 0;
				}
				
				img { .gpu;
					width: 20px;
					height: 20px;
					opacity: 0.75;
					transition: all .2s ease-out;
					border-bottom: 2px solid transparent;
					box-sizing: content-box;
					padding: 9px 3px;
					margin: -2px 0;
					
					&:hover:not([active]) {
						border-color: fade(@fs-blue, 30%);
					}
					
					&[active] {
						opacity: 1;
						border-color: fade(@fs-blue, 50%);
					}
				}
			}
		}
	</style>
	<template>
		<meta is="roster-char" [id] [char]>
		<meta is="roster-race" [id]="char.race" [name]="race-name">
		<meta is="roster-class" [id]="char.class" [name]="class-name">
		<gt-box {inactive}="!char.active" dark>
			<div #layout>
				<bnet-thumb [char]></bnet-thumb>
				<div #infos>
					<div #name {class-color}="char.class">{{char.name}}</div>
					<div>
						<b>{{char.level}}</b>
						<b>{{race-name}}</b>
						<b>{{class-name}}</b>
					</div>
					<div #meta>
						<gt-timeago [date]="char.last_update"></gt-timeago>
						&ndash;
						<b>{{char.ilvl}}</b> ilvl
					</div>
				</div>
				<div #icon {main}="char.main" {active}="char.active">
					<i #main>star</i>
					<i #active>star_border</i>
					<i #inactive>brightness_3</i>
				</div>
			</div>
			<div #actions {hidden}="!editable">
				<div #roles {disabled}="!char.active">
					<img #role-tank src="/assets/images/roles/TANK.png" {active}="equals(char.role, 'TANK')">
					<img #role-healing src="/assets/images/roles/HEALING.png" {active}="equals(char.role, 'HEALING')">
					<img #role-dps src="/assets/images/roles/DPS.png" {active}="equals(char.role, 'DPS')">
				</div>
				<span {hidden}="!char.active">
					<gt-button #btn-main {hidden}="char.main">Main</gt-button>
					<gt-button #btn-disable {hidden}="char.main">Disable</gt-button>
					<gt-button #btn-update {disabled}="!updatable">Update</gt-button>
				</span>
				<gt-button #btn-enable {hidden}="char.active">Enable</gt-button>
				<gt-button #btn-remove {hidden}="char.active">Remove</gt-button>
			</div>
		</gt-box>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="profile-add-char">
	<style type="text/less">
		:host {
			display: block;
		}
		
		gt-box {
			width: 550px;
			height: 450px;
			overflow: hidden;
		}
		
		#background {
			.pos(absolute);
			z-index: 1;
			filter: opacity(80%) saturate(75%);
			
			img {
				opacity: 0;
				position: absolute;
				top: -70px;
				left: -10px;
				transition: opacity .2s ease-out;
				
				&[default], &.loaded {
					opacity: 1;
				}
			}
		}
		
		#middle {
			.pos(absolute);
			z-index: 2;
		}
		
		#foreground {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 45%;
			z-index: 3;
			padding: 16px;
			
			
			@box-background: mix(#334352, @fs-blue, 96%);
			//background: linear-gradient(to right, fade(@box-background, 98%) 0%, fade(@box-background, 95%) 45%, fade(@box-background, 0%) 75%);
			background: fade(@box-background, 90%);
			border-right: 1px solid mix(#395066, @fs-blue, 97%);
		}		
			
		h3 {
			font-family: "Roboto Condensed";
			font-size: 24px;
			font-weight: 400;
			margin: -16px -16px 12px -16px;
			padding: 16px;
			line-height: 24px;
		}
		
		#load {
			margin: 0 -16px;
			text-align: center;
			position: absolute;
			top: 250px;
			width: 100%;
			
			&::before, &::after {
				border-top: 2px solid fade(@fs-blue, 20%);
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -1px;
				width: 84px;
			}
			
			&::before { left: 0; }
			&::after { right: 0; }
			
			#load-btn {
				margin: 0;
				width: 64px;
				height: 24px;
				padding: 3px;
				box-sizing: content-box;
			}
		}
		
		#bottom {
			position: absolute;
			left: 12px;
			bottom: 6px;
			right: 12px;
		}
		
		#roles-label {
			font: 400 13px Roboto;
   			margin-bottom: 16px;
			transition: opacity .2 ease-out;
			   
			[disabled] & {
				opacity: 0.5;
			}
		}
		
		#roles {
			display: flex;
			justify-content: space-around;
			width: 75%;
			margin: auto;
			
			img {
				width: 24px;
				height: 24px;
				opacity: 0.6;
				transition: all .2s ease-out;
				border: 2px solid fade(@fs-blue, 30%);
				border-radius: 100%;
				padding: 3px;
				box-sizing: content-box;
				filter: saturate(50%);
				
				[disabled] & {
					opacity: 0.5 !important;
					filter: saturate(50%) !important;
					border-color: fade(@fs-blue, 50%);
				}
				
				&:hover:not([active]) {
					opacity: 0.8;
					filter: saturate(100%);
				}
				
				&[active] {
					opacity: 1;
					filter: saturate(100%);
					border-color: fade(@fs-blue, 60%);
				}
			}
		}
		
		#actions {
			margin: 32px 0 0 0 !important;
			display: flex;
			justify-content: flex-end;
			
			gt-button {
				margin: 0;
			}
		}
	</style>
	<template>
		<gt-dialog #dialog>
			<gt-box>
				<div #background>
					<img default src="/assets/images/profile/addchar-default.jpg">
				</div>
				<div #middle></div>
				<div #foreground>
					<h3>Add character</h3>
					<gt-form (submit)="load">
						<gt-input #server type="text" label="Server name" [value]="server" [disabled]="char"></gt-input>
						<gt-input #name type="text" label="Character name" [value]="name" [disabled]="char"></gt-input>
					</gt-form>
					<div #load>
						<gt-button #load-btn [disabled]="!canLoad" (click)="load"><i>file_download</i> Load</gt-button>
					</div>
					<div #bottom {disabled}="confirmDisabled">
						<div #roles-label>
							Character main role
						</div>
						<div #roles>
							<img src="/assets/images/roles/TANK.png" role="TANK" (click)="roleClicked" {active}="equals(role, 'TANK')">
							<img src="/assets/images/roles/HEALING.png" role="HEALING" (click)="roleClicked" {active}="equals(role, 'HEALING')">
							<img src="/assets/images/roles/DPS.png" role="DPS" (click)="roleClicked" {active}="equals(role, 'DPS')">
						</div>
						<div #actions>
							<gt-button (click)="close">Cancel</gt-button>
							<gt-button [disabled]="confirmDisabled" (click)="confirm">Confirm</gt-button>
						</div>
					</div>
				</div>
			</gt-box>
		</gt-dialog>
	</template>4
</dom-module>
