<style>
	#roster-container {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		background: rgba(99, 180, 255, 0.1);
		border: 2px solid #395066;
		overflow: hidden;
	}

	#roster-head {
		background: rgba(99, 180, 255, 0.1);
		box-shadow: 0 0 10px rgba(17, 17, 17, 0.15);
	}

	#roster-filters {
		padding: 6px;
	}

	#roster .row.headers {
		font-weight: 600;
		border-bottom: 2px solid #64b4ff;
		padding: 6px;
		padding-right: 22px;
		font-size: 14px;
	}

	#roster .row {
		display: flex;
		padding: 3px 6px;
	}

	#roster .row.main {
		border-top: 1px solid rgba(57, 80, 102, 0.8);

	}

	#roster .user:first-child .row.main {
		border-top: 0;
	}

	#roster .row.reroll .player {
		left: 18px;
	}

	#roster .row.inactive {
		opacity: 0.4;
	}

	#roster .row .player i {
		font-size: 11px;
		top: -1px;
		color: rgb(75, 121, 164);
	}

	#roster .row .player img {
		width: 20px;
		height: 20px;
	}

	#roster .row .player { flex: 1; }
	#roster .row .server { flex: 1; }
	#roster .row .level { flex: 0.8; }
	#roster .row .race { flex: 1; }
	#roster .row .class { flex: 1; }
	#roster .row .ilvl { flex: 0.8; }

	#roster-body {
		flex: 1;
		padding-top: 3px;
		overflow-y: scroll;
	}
</style>

<div class="tools-main" id="roster">
	<div id="roster-container">
		<div id="roster-head">
			<div id="roster-filters">
				<em>Work in progress...</em>
			</div>
			<div class="row headers">
				<span class="player">Player</span>
				<span class="server">Server</span>
				<span class="level">Level</span>
				<span class="race">Race</span>
				<span class="class">Class</span>
				<span class="ilvl">Item Level</span>
			</div>
		</div>
		<div id="roster-body">
			<div class="user" ng-repeat="user in $.roster.users track by $index | orderBy: ['name']" ng-if="user">
				<div class="row"
				     ng-repeat="char in $.roster.charsByUser(user.id) | orderBy: ['-main', '-active', '-ilvl']"
					 ng-class="{ main: char.main, reroll: !char.main, inactive: !char.active }">
					<span class="player c{{ char.class }}">
						<img ng-src="http://eu.battle.net/static-render/eu/{{ char.thumbnail }}">
						{{ char.name }}
						<i class="awe-attention" ng-if="char.invalid" ng-tooltip="$An error prevented this character from being updated."></i>
					</span>
					<span class="server">{{ formatServer(char.server) | capitalize }}</span>
					<span class="level">{{ char.level }}</span>
					<span class="race">{{ gameData.races[char.race].name }}</span>
					<span class="class">{{ gameData.classes[char.class].name }}</span>
					<span class="ilvl">{{ char.ilvl }}</span>
				</div>
			</div>
		</div>
	</div>
</div>
