<dom-module id="gt-roster">
	<link rel="stylesheet/less" href="/assets/less/roster.less" ns="gt-roster">
	<template>
		<div #layout>
			<gt-box #search-box>
				<div #search-layout>
					<i>search</i>
					<input #search type="text" spellcheck="false" (keyup)="UpdateSearch">
				</div>
			</gt-box>
			<div #bottom-layout>
				<div #main-box>
					<gt-box heading="Guild roster" scrollable {view}>
						<div #roster-view-opt>
							<span #matching>
								Matching: <b>{{matching}}</b>
							</span>
							<gt-button {active}="players_view" (tap)="ViewPlayers" collapse-right><i>face</i> Players</gt-button>
							<gt-button {active}="!players_view" (tap)="ViewChars" collapse-right><i>supervisor_account</i> Characters</gt-button>
						</div>
						<div #results>
							<gt-roster-item [repeat]="results" [data]="item" [player]="players_view"></gt-roster-item>
						</div>
						<div #empty [if]="equals(results.length, 0)">
							<gt-alert icon="search" dark>
								Your search has not yielded any results.<br>
								You should try removing some filters.
							</gt-alert>
						</div>
					</gt-box>
				</div>
				<gt-roster-filters #filters-box [filters]></gt-roster-filters>
			</div>
		</div>
	</template>
</dom-module>

<dom-module id="gt-roster-filters">
	<link rel="stylesheet/less" href="/assets/less/roster.less" ns="gt-roster-filters">
	<template>
		<gt-box heading="Filters" scrollable {visible}="show_filters">
			<gt-roster-filters-dropdown icon="star" title="Guild rank">
				<gt-label>
					<gt-checkbox [checked]="rank_officer" (click)="Update"></gt-checkbox> Officer
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="rank_member" (click)="Update"></gt-checkbox> Member
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="rank_apply" (click)="Update"></gt-checkbox> Apply
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="rank_casual" (click)="Update"></gt-checkbox> Casual
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="rank_veteran" (click)="Update"></gt-checkbox> Veteran
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="rank_guest" (click)="Update"></gt-checkbox> Guest
				</gt-label>
			</gt-roster-filters-dropdown>

			<gt-roster-filters-dropdown icon="filter_tilt_shift" title="Character class">
				<gt-label>
					<gt-checkbox [checked]="class_warrior" (click)="Update"></gt-checkbox> <span class-color="1">Warrior</span>
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="class_paladin" (click)="Update"></gt-checkbox> <span class-color="2">Paladin</span>
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="class_hunter" (click)="Update"></gt-checkbox> <span class-color="3">Hunter</span>
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="class_rogue" (click)="Update"></gt-checkbox> <span class-color="4">Rogue</span>
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="class_priest" (click)="Update"></gt-checkbox> <span class-color="5">Priest</span>
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="class_dk" (click)="Update"></gt-checkbox> <span class-color="6">Death Knight</span>
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="class_shaman" (click)="Update"></gt-checkbox> <span class-color="7">Shaman</span>
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="class_mage" (click)="Update"></gt-checkbox> <span class-color="8">Mage</span>
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="class_warlock" (click)="Update"></gt-checkbox> <span class-color="9">Warlock</span>
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="class_monk" (click)="Update"></gt-checkbox> <span class-color="10">Monk</span>
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="class_druid" (click)="Update"></gt-checkbox> <span class-color="11">Druid</span>
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="class_dh" (click)="Update"></gt-checkbox> <span class-color="12">Demon Hunter</span>
				</gt-label>
			</gt-roster-filters-dropdown>

			<gt-roster-filters-dropdown icon="trending_up" title="Character level">
				<gt-label>
					<gt-checkbox [checked]="level_1_99" (click)="Update"></gt-checkbox> 1 - 99
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="level_100" (click)="Update"></gt-checkbox> 100
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="level_101_109" (click)="Update"></gt-checkbox> 101 - 109
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="level_110" (click)="Update"></gt-checkbox> 110
				</gt-label>
			</gt-roster-filters-dropdown>

			<gt-roster-filters-dropdown icon="poll" title="Character item-level">
				<gt-label>
					<gt-checkbox [checked]="ilvl_0_699" (click)="Update"></gt-checkbox> 0 - 699
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="ilvl_700_714" (click)="Update"></gt-checkbox> 700 - 714
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="ilvl_715_729" (click)="Update"></gt-checkbox> 715- 729
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="ilvl_730_plus" (click)="Update"></gt-checkbox> 730+
				</gt-label>
			</gt-roster-filters-dropdown>

			<gt-roster-filters-dropdown icon="flag" title="Character attribute">
				<gt-label>
					<gt-checkbox [checked]="flag_main" (click)="Update"></gt-checkbox> Main
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="flag_alt" (click)="Update"></gt-checkbox> Alt
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="flag_active" (click)="Update"></gt-checkbox> Active
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="flag_inactive" (click)="Update"></gt-checkbox> Inactive
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="flag_valid" (click)="Update"></gt-checkbox> Valid
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="flag_invalid" (click)="Update"></gt-checkbox> Invalid
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="flag_guilded" (click)="Update"></gt-checkbox> Guilded
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="flag_unguilded" (click)="Update"></gt-checkbox> Unguilded
				</gt-label>
			</gt-roster-filters-dropdown>

			<gt-roster-filters-dropdown icon="whatshot" title="Character role">
				<gt-label>
					<gt-checkbox [checked]="role_tank" (click)="Update"></gt-checkbox> Tank
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="role_healer" (click)="Update"></gt-checkbox> Healer
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="role_dps" (click)="Update"></gt-checkbox> Melee
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="role_dps" (click)="Update"></gt-checkbox> Ranged
				</gt-label>
			</gt-roster-filters-dropdown>

			<gt-roster-filters-dropdown icon="local_offer" title="Character armor type">
				<gt-label>
					<gt-checkbox [checked]="armor_cloth" (click)="Update"></gt-checkbox> Cloth
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="armor_leather" (click)="Update"></gt-checkbox> Leather
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="armor_mail" (click)="Update"></gt-checkbox> Mail
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="armor_plate" (click)="Update"></gt-checkbox> Plate
				</gt-label>
			</gt-roster-filters-dropdown>

			<gt-roster-filters-dropdown icon="adjust" title="Character race">
				<gt-label>
					<gt-checkbox [checked]="race_orc" (click)="Update"></gt-checkbox> Orc
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="race_human" (click)="Update"></gt-checkbox> Human
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="race_undead" (click)="Update"></gt-checkbox> Undead
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="race_dwarf" (click)="Update"></gt-checkbox> Dwarf
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="race_tauren" (click)="Update"></gt-checkbox> Tauren
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="race_ne" (click)="Update"></gt-checkbox> Night Elf
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="race_troll" (click)="Update"></gt-checkbox> Troll
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="race_gnome" (click)="Update"></gt-checkbox> Gnome
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="race_be" (click)="Update"></gt-checkbox> Blood Elf
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="race_draenei" (click)="Update"></gt-checkbox> Draenei
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="race_goblin" (click)="Update"></gt-checkbox> Goblin
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="race_worgen" (click)="Update"></gt-checkbox> Worgen
				</gt-label>
				<gt-label>
					<gt-checkbox [checked]="race_pandaren" (click)="Update"></gt-checkbox> Pandaren
				</gt-label>
			</gt-roster-filters-dropdown>
		</gt-box>
	</template>
</dom-module>

<dom-module id="gt-roster-filters-dropdown">
	<link rel="stylesheet/less" href="/assets/less/roster.less" ns="gt-roster-filters-dropdown">
	<template>
		<h3 (tap)="Toggle">
			<i {hidden}="!open">keyboard_arrow_down</i>
			<i {hidden}="open">keyboard_arrow_right</i>
			<i #icon>{{icon}}</i>
			<b>{{title}}</b>
		</h3>
		<div #content {hidden}="!open">
			<content></content>
		</div>
	</template>
</dom-module>

<dom-module id="gt-roster-item">
	<link rel="stylesheet/less" href="/assets/less/roster.less" ns="gt-roster-item">
	<template>
		<gt-box dark>
			<div #flex>
				<!--<bnet-thumb [char]="data.main"></bnet-thumb>-->
				<div #name>
					<b [if]="player" {class-color}="data.main.class">{{data.user.name}}</b>
					<b [if]="!player" {class-color}="data.class">{{data.name}}</b>
					<span [if]="!player">
						<i #invalid [if]="data.invalid">cloud_off</i>
					</span>
				</div>
				<div #chars [if]="player">
					<div .char [repeat]="alts_list">
						<b .name {class-color}="item.class">{{item.name}}</b>
						<span .infos>
							<b>{{item.level}}</b> (<b>{{item.ilvl}}</b>)
						</span>
					</div>
				</div>
				<div #infos [if]="!player">
					<meta is="roster-user" [id]="data.owner" [user]="infos">
					<meta is="roster-main" [user]="data.owner" [main]>
					<div .info>
						<span .label>Level:</span>
						<b>{{data.level}}</b>
					</div>
					<div .info>
						<span .label>Item level:</span>
						<b>{{data.ilvl}}</b>
					</div>
					<!--<div .info>
						<span .label>Updated:</span>
						<gt-timeago [date]="data.last_update"></gt-timeago>
					</div>-->
					<div .info>
						<b {class-color}="main.class">{{main.name}}</b>
					</div>
				</div>
			</div>
		</gt-box>
	</template>
</dom-module>
