<dom-module id="gt-server-status">
	<link rel="stylesheet/less" href="/assets/less/server-status.less">
	<template>
		<div .col #left [if]="channel_ready">
			<gt-box .infos heading="Server" scrollable>
				<gt-button disabled><i>power_settings_new</i> Restart</gt-button>
				<table>
					<tr><td>Server</td><td>{{serverInfos.name}}</td></tr>
					<tr><td>Version</td><td>{{serverInfos.version}}</td></tr>
					<tr><td>Start time</td><td>{{startTime}}</td></tr>
					<tr><td>Uptime</td><td>{{duration(serverInfos.uptime)}}</td></tr>
					<tr><td>Sockets</td><td>{{socketsInfos.length}}</td></tr>
				</table>
			</gt-box>
			<gt-box .infos heading="Runtime" scrollable>
				<gt-button (click)="runGC"><i>filter_tilt_shift</i> Run GC</gt-button>
				<table>
					<tr><td>Cores</td><td>{{runtimeInfos.cores}}</td></tr>
					<tr><td>Used</td><td>{{formatMemory(runtimeInfos.memory_used)}}</td></tr>
					<tr><td>Free</td><td>{{formatMemory(runtimeInfos.memory_free)}}</td></tr>
					<tr><td>Total</td><td>{{formatMemory(runtimeInfos.memory_total)}}</td></tr>
					<tr><td>Max</td><td>{{formatMemory(runtimeInfos.memory_max)}}</td></tr>
				</table>
			</gt-box>
			<gt-box #host .infos heading="Host" scrollable>
				<table>
					<tr><td>Server</td><td>{{hostInfos.name}}</td></tr>
					<tr><td>Version</td><td>{{hostInfos.version}}</td></tr>
					<tr><td>Uptime</td><td>{{hostInfos.uptime}}</td></tr>
				</table>
			</gt-box>
		</div>
		<div .col #middle [if]="channel_ready">
			<gt-box #sockets heading="Open sockets" scrollable>
				<gt-box dark [repeat]="socketsInfos">
					<div .heading>
						<gt-button (click)="killSocket"><i>block</i> Kill</gt-button>
						<i>settings_ethernet</i>
						<b .id>{{item.id}}</b>
						<b .user>{{username(item.user)}}</b>
						<b .name>{{item.name}}</b>
					</div>
					<div .opener>
						<table>
							<tr>
								<td>Open</td><td><b>{{duration(item.uptime)}}</b></td>
								<td>Remote</td><td>{{item.opener.ip}}</td>
							</tr>
							<tr>
								<td>State</td><td>{{item.state}}</td>
								<td>User-Agent</td><td>{{item.opener.ua}}</td>
							</tr>
						</table>
					</div>
					<div .channels>
						<gt-box .channel [repeat]="item.channels">
							<b>{{item.0}}</b><b>{{item.1}}</b>
						</gt-box>
					</div>
				</gt-box>
			</gt-box>
		</div>
		<gt-dialog #fail sticky>
			<gt-box heading="Access denied" scrollable>
				<p>It seems like the server denied you access to this page.</p>
				<p>This is a system inspection module and you're probably not supposed to be here.</p>
				<div #actions>
					<gt-button goto="/">Back to safety</gt-button>
				</div>
			</gt-box>
		</gt-dialog>
	</template>
</dom-module>
