<dom-module id="gt-streams">
	<link rel="stylesheet/less" href="/assets/less/streams.less" ns="gt-streams">
	<template>
		<meta is="streams-list" [list]="streams">
		<div #left>
			<gt-box #live-list scrollable heading="Live Streams">
				<gt-alert icon="pause_circle_outline" dark {hidden}="streams.length != 0">
					No live stream available
				</gt-alert>
				<div *for="streams">
					<streams-item (click)="SelectStream" [stream]="item" {active}="StreamIsActive(item.user, selected)"></streams-item>
				</div>
			</gt-box>
			<streams-viewers [stream]="selected" {hidden}="!selected"></streams-viewers>
		</div>
		<div #main-box>
			<streams-player {hide}="!selected" [stream]="selected"></streams-player>
			<div #placeholder {hide}="selected">
				<i>airplay</i>
			</div>
		</div>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="gt-streams-item">
	<link rel="stylesheet/less" href="/assets/less/streams.less" ns="streams-item">
	<template>
		<meta is="roster-main" [user]="stream.user" [main]>
		<gt-box dark>
			<div #layout>
				<div #live {live}="stream.live"><div #light></div></div>
				<div #name {class-color}="main.class">{{main.name}}</div>
				<div #locked {hidden}="!stream.progress"><i>lock</i></div>
				<div #viewers>
					<b>{{stream.viewers.length}}</b>
					<i>person</i>
				</div>
				<i #chevron>chevron_right</i>
			</div>
		</gt-box>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="gt-streams-viewers">
	<link rel="stylesheet/less" href="/assets/less/streams.less" ns="streams-viewers">
	<template>
		<gt-box #viewers scrollable heading="Viewers">
			<div #count>{{viewers.length}}</div>
			<streams-viewers-item *for="viewers" [user]="item"></streams-viewers-item>
		</gt-box>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="gt-streams-viewers-item">
	<link rel="stylesheet/less" href="/assets/less/streams.less" ns="streams-viewers-item">
	<template>
		<meta is="roster-main" [user] [main]>
		<gt-box dark>
			<span #name {class-color}="main.class">{{main.name}}</span>
		</gt-box>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="gt-streams-player">
	<link rel="stylesheet/less" href="/assets/less/streams.less" ns="streams-player">
	<template>
		<gt-alert dark icon="error_outline" *if="error">
			<b>{{error}}</b>
		</gt-alert>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="gt-streams-settings">
	<link rel="stylesheet/less" href="/assets/less/streams.less" ns="streams-settings">
	<template>
		<div #layout>
			<i>airplay</i>
			<div #right>
				<div *if="!hasToken">
					<h3>Create your streaming key</h3>
					<p .desc>
						Before publishing a live stream on GuildTools, you need to
						generate your streaming key. This key is personnal
						and must be kept secret.
					</p>
					<p>
						<gt-button fat collapse-left {disabled}="generating" (click)="Generate">Create key</gt-button>
					</p>
				</div>
				<div *if="hasToken">
					<h3>Streaming settings</h3>
					<p>
						<table>
							<tr><td>FMS URL</td><td><gt-box dark class="copyable"><span>rtmp://tv.fs-guild.net/live?key=</span><span>{{key}}</span></gt-box></td></tr>
							<tr><td>Stream Key</td><td><gt-box dark class="copyable"><span>{{token}}</span></gt-box></td></tr>
						</table>
					</p>
					<h3>Stream visibility <i #updated-check {visible}="visibility_check">done</i></h3>
					<p>
						<gt-label>
							<gt-checkbox [radio]="visibility" value="open" (click)="UpdateVisibility"></gt-checkbox>
							Open
						</gt-label>
						<gt-label>
							<gt-checkbox [radio]="visibility" value="limited" (click)="UpdateVisibility"></gt-checkbox>
							Limited
						</gt-label>
					</p>
					<p .desc>
						When limited visibility is enabled, officer approval is required to access your stream.
						This option must be enabled when live streaming progress content.
					</p>
				</div>
			</div>
		</div>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="gt-streams-whitelist">
	<link rel="stylesheet/less" href="/assets/less/streams.less" ns="streams-whitelist">
	<template>
		Whitelist
	</template>
</dom-module>
