<style>
	#welcome {
		background: url(/assets/background_welcome.jpg);
		height: 100%;
		width: 100%;
		background-position: center top;
		margin-top: -52px;
		padding-top: 52px;
		box-sizing: content-box;
	}
	
	#welcome-container {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin: auto;
		width: 300px;
		margin-top: -180px;
		box-sizing: border-box;
	}
	
	#welcome-container .box {
		background: rgba(99,180,255,0.06);
	}
	
	#welcome-container .welcome-text {
		padding: 0px 10px;
	}
	
	#welcome-container p {
		font-weight: 300;
	}
</style>

<div id="welcome">
	<div id="welcome-container" ng-include="'/views/player-add-char.html'"></div>
</div>
