@(profile: ProfileData)(implicit req: AuthController#AuthRequest[AnyContent])
@auth.layout("Mon compte", "account") {
	<link rel="stylesheet" href='@routes.Assets.versioned("auth/account.css")'>
	<div class="columns">

		<div class="box">
			<h2>Profile et confidentialité</h2>

			<div class="profile">
				<div id="username">
					<i class="material-icons">person</i>
					<span>Username</span>
					<b>@req.user.name</b>
				</div>
				<div id="rank">
					<i class="material-icons">grade</i>
					<span>Rank</span>
					<b>Officer</b>
				</div>

				<div id="access">
					<i class="material-icons">security</i>
					<span>Access tags</span>
					@if(req.user.developer) { <b>D</b> }
					@if(req.user.officer) { <b>O</b> }
					@if(req.user.member) { <b>M</b> }
					@if(req.user.roster) { <b>R</b> }
					@if(req.user.fs) { <b>G</b> } else { <b>&ndash;</b> }
				</div>

				<div id="rlname">
					<i class="material-icons">face</i>
					<span>Real-life name</span>
					<b>@profile.realname</b>
				</div>

				<div id="bday">
					<i class="material-icons">cake</i>
					<span>Age</span>
					<b>@profile.birthday</b>
				</div>

				<div id="location">
					<i class="material-icons">public</i>
					<span>Location</span>
					<b>@profile.location</b>
				</div>

				<div id="btag">
					<i class="material-icons">gamepad</i>
					<span>BattleTag</span>
					<b>@profile.btag</b>
				</div>

				<div id="mail">
					<i class="material-icons">local_post_office</i>
					<span>E-mail</span>
					<b>@profile.mail</b>
				</div>

				<div id="phone">
					<i class="material-icons">local_phone</i>
					<span>Phone</span>
					<b>@profile.phone</b>
				</div>
			</div>
			<a href='@req.url("/account/profile")' class="block">
				<i class="material-icons">edit</i>
				Modifier ces informations
				<i class="material-icons chevron">chevron_right</i>
			</a>
		</div>

		<div class="box">
			<h2>Login et sécurité</h2>

			<h3>Mot de passe</h3>
			<a href='@req.url("/account/sessions")' class="block">
				<i class="material-icons">security</i>
				Modifier mon mot de passe
				<i class="material-icons chevron">chevron_right</i>
			</a>

			<h3>Authentication forte</h3>
			<p class="gray">Cette fonctionnalité n'est pas encore disponible.</p>

			<h3>Connexions actives</h3>
			<p class="gray">Vous pouvez consulter la liste des connexions actives sur votre
			compte et les terminer si nécessaire.</p>
			<a href='@req.url("/account/sessions")' class="block">
				<i class="material-icons">settings_ethernet</i>
				Afficher les connexions actives
				<i class="material-icons chevron">chevron_right</i>
			</a>
		</div>

		<div class="box">
			<h2>Services</h2>

			<h3>Forum</h3>
			<p class="gray">Le forum de la guilde From Scratch.</p>
			<a href="http://www.fs-guild.net/forum" class="block">
				<i class="material-icons">forum</i>
				Forum
				<i class="material-icons chevron">chevron_right</i>
			</a>

			@if(req.user.fs) {
				<h3>Guild Tools</h3>
				<p class="gray">Les outils de gestion de guilde de From Scratch.</p>
				<a href="https://gt.fs-guild.net/" class="block">
					<i class="material-icons">settings</i>
					Guild Tools
					<i class="material-icons chevron">chevron_right</i>
				</a>
			}

			<h3>Web Tools</h3>
			<p class="gray">La version light des Guild Tools, librement accessibles.</p>
			<a href="https://www.fs-guild.net/" class="block">
				<i class="material-icons">layers</i>
				Web Tools
				<i class="material-icons chevron">chevron_right</i>
			</a>
		</div>

	</div>
}
