@(title: String, clazz: String)(content: Html)(implicit req: AuthController#AuthRequest[AnyContent])
<!DOCTYPE html>
<meta charset="utf-8">
<title>@title &ndash; From Scratch</title>

<link rel="shortcut icon" href='@routes.Assets.versioned("images/favicon.ico")'>
<link rel="stylesheet" href='@routes.Assets.versioned("auth/auth.css")'>
<script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment-with-locales.min.js"></script>

<div class="header">
	<div class="wrapper">
		<a href='@req.url("/")'><img src="@routes.Assets.versioned("images/login_logo.png")"></a>
	</div>
</div>

<div class="subheader">
	<div class="wrapper">
		<div class="right">
			@if(req.authenticated) {
				<span class="username">@req.user.name</span> &ndash;
			}
			<a class="btn" href='@req.url("/logout")'><i class="material-icons">exit_to_app</i> Logout</a>
		</div>
		<h1>
			@if(title != "Mon compte") {
				<a href='@req.url("/account")'>Mon compte</a>
				<i class="material-icons" style="position: relative; top: -2px;">chevron_right</i>
			}
			@title
		</h1>
	</div>
</div>

<div class="wrapper">
	<div class="content @clazz">
		@content
	</div>
</div>
