.line {
	display: flex;
	padding-top: 16px;
	padding-bottom: 38px;
	margin: 0 -16px 0 -24px;
}

.step {
	flex: 1;
	text-align: center;
	display: flex;
	align-items: center;
	position: relative;
}

.step .before, .step .after {
	flex: 1;
	border-top: 3px solid rgba(99, 180, 255, 0.3);
}

.step.done .before, .step.done .after, .step.cur .before, .step.done .num {
	border-color: rgba(99, 180, 255, 0.8);
	color: #eee;
}

.step.cur .num {
	border-left-color: rgba(99, 180, 255, 0.8);
	color: #fff;
}

.step .center {
	width: 50px;
}

.step .label {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin-top: 10px;
	font-weight: 400;
	color: #8EAFCE
}

.step.cur .label {
	color: #eee;
}

.num {
	border: 3px solid rgba(99, 180, 255, 0.3);
	font-size: 24px;
	font-weight: 500;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	line-height: 42px;
	text-align: center;
	display: inline-block;
	color: #8EAFCE;
	box-sizing: border-box;
}

div.continue {
	width: 500px;
	margin: auto;
	margin-top: 24px;
}

div.continue button {
	display: block;
	margin: 24px auto 0 auto;
}

.form {
	background: rgba(99, 180, 255, 0.1);
	border: 1px solid rgba(99, 180, 255, 0.1);
	box-shadow: 0 1px 1px rgba(17, 17, 17, 0.3);
	padding: 16px;
	margin-top: 16px;
}

#content .form h3 {
	margin-top: 0;
}

label {
	display: flex;
	margin: 8px 0;
	position: relative;
	/*font-weight: 300;*/
}

label > span {
	width: 210px;
	margin-right: 10px;
	padding-top: 3px;
}

label span .note {
	display: block;
	color: #A7AEB3;
	font-size: 13px;
	font-weight: 300;
}

input, select {
	width: 250px;
	height: 28px;
	font-family: "Roboto";
	font-size: 14px;
	background: rgba(17, 17, 17, 0.15);
	border: 1px solid rgba(17, 17, 17, 0.15);
	color: #fff;
	padding: 4px 8px;
	outline: none;
}

textarea {
	font-family: "Roboto";
	font-size: 14px;
	background: rgba(17, 17, 17, 0.15);
	border: 1px solid rgba(17, 17, 17, 0.15);
	color: #fff;
	width: 400px;
	height: 80px;
	padding: 8px;
	max-width: 600px;
	resize: none;
	outline: none;
}

#birth input:nth-child(2) {
	width: 40px;
	margin-right: 5px;
}

#birth input:nth-child(3) {
	width: 40px;
	margin-right: 5px;
}

#birth input:nth-child(4) {
	width: 60px;
	margin-right: 5px;
}

.char {
	width: 330px;
	height: 58px;
	position: relative;
	padding: 10px;
	padding-left: 68px;
	margin-right: 20px;
	margin-bottom: 16px;

	background: rgba(99, 180, 255, 0.1);
	border: 1px solid rgba(99, 180, 255, 0.1);
	box-shadow: 0 1px 1px rgba(17, 17, 17, 0.3);

	box-sizing: border-box;
}

.char .name {
	font-size: 16px;
	width: 170px;
	margin-top: -1px;
}

.char .details {
	font-size: 13px;
}

.char .thumb {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 57px;
	border-right: 1px solid rgba(99, 180, 255, 0.1);
}

.char .thumb img {
	width: 56px;
	height: 56px;
}

.char strong {
	font-weight: 400;
}

.char .realm {
	color: rgb(142, 175, 206);
	float: right;
	position: relative;
	font-weight: 300;
	top: -2px;
}

.message .layout {
	display: flex;
	margin: 6px 0;
}

.message .poster {
	min-width: 150px;
	max-width: 150px;
	padding: 6px 16px 6px 0;
	position: relative;
}

.message .name {
	font: 400 18px "Roboto Condensed";
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.message .date {
	font-size: 12px;
	color: #A7AEB3;
}

.message .body {
	flex: 1;
	display: flex;
	align-items: center;
}

.message .mline {
	display: none;
}

.message .box {
	flex: 1;
	box-shadow: none;
	background: rgba(100, 180, 255, 0.1);
	padding: 12px;
	border: 1px solid rgba(100, 180, 255, 0.1);
}

.message .layout[system] {
	padding: 6px 0;
	align-items: baseline;
}

.message .layout[system] .poster,
.message .layout[system] .box {
	padding: 0;
	display: inline-block;
	flex: none;
	position: static;
}

.message .layout[system] .poster {
	min-width: 0;
	max-width: 9999px;
	margin-right: 4px;
	display: flex;
	flex-direction: row-reverse;
}

.message .layout[system] .name {
	font: 400 1em "Roboto";
}

.message .layout[system] .time {
	width: 150px;
	padding-right: 16px;
	margin-top: 1px;
}

.message .layout[system] .body {
	flex: none;
}

.message .layout[system] .box {
	border: 0;
	background: none;
	font-weight: 300;
	margin-right: 12px;
}

.message .layout[system] .mline {
	display: block;
	flex: 1;
	position: relative;
	top: -4px;
	border-top: 1px dashed rgba(142, 175, 206, 0.3);
}

.markdown {
	display: block;
	user-select: text;
	font-weight: 400;
	color: #fff;
	margin-bottom: 0;
	position: relative;
	padding-left: 0;
	min-height: 0;
}

.markdown p, .markdown blockquote, .markdown ul, .markdown ol, .markdown pre, .markdown h1, .markdown h2 {
	margin: 1em 0;
}

.markdown p:first-child,
.markdown blockquote:first-child,
.markdown ul:first-child,
.markdown ol:first-child,
.markdown pre:first-child,
.markdown h1:first-child,
.markdown h2:first-child {
	margin-top: 0 !important;
}

.markdown p:last-child,
.markdown blockquote:last-child,
.markdown ul:last-child,
.markdown ol:last-child,
.markdown pre:last-child,
.markdown h1:last-child,
.markdown h2:last-child {
	margin-bottom: 0 !important;
}

.markdown li > p:last-child,
.markdown li > blockquote:last-child,
.markdown li > ul:last-child,
.markdown li > ol:last-child,
.markdown li > pre:last-child,
.markdown li > h1:last-child,
.markdown li > h2:last-child {
	margin: 0 !important;
}

.markdown h1, .markdown h2 {
	font: 400 1em "Roboto";
}

.markdown[headings] h1 {
	font: 300 24px "Roboto Condensed";
	margin: 14px 0;
}

.markdown[headings] h2 {
	font: 300 20px "Roboto Condensed";
	margin: 14px 0;
}

.markdown li {
	margin: 0.3em 0;
}

.markdown blockquote {
	background: rgba(100, 180, 255, 0.1);
	border: 1px solid rgba(100, 180, 255, 0.1);
	border-left-width: 3px;
	padding: 12px;
}

.markdown ul, .markdown ol {
	padding-left: 20px;
}

.markdown pre {
	background: rgba(17, 17, 17, 0.1);
	border: 1px solid rgba(17, 17, 17, 0.1);
	padding: 6px;
}

.markdown strong {
	font-weight: 500;
}

.markdown code {
	font: 400 0.9em "Roboto Mono";
}

.markdown a {
	color: #8EAFCE;
	transition: all .2s ease-out;
	text-decoration: none;
	cursor: pointer;
}

.markdown a:hover {
	color: #64B4FF;
}

.markdown hr {
	border: 1px solid rgba(100, 180, 255, 0.2);
}

.markdown img {
	max-width: 100%;
}
