#wishes {
    background: rgba(99, 180, 255, 0.1);
    padding: 0;
}

.boss {
    display: flex;
    border-top: 1px solid rgba(99, 180, 255, 0.2);
}

.boss:first-child {
    border-top: 0;
    background: rgba(99, 180, 255, 0.1);
}

.boss div {
    flex: 1;
    padding: 8px 16px;
    border-right: 1px solid rgba(99, 180, 255, 0.2);
    text-align: center;
}

.boss div:last-child {
    border-right: 0;
}

.boss .name {
    width: 150px;
    flex: none;
    background: rgba(99, 180, 255, 0.05);
    /*font-weight: 500;*/
}

input[type="radio"] {
    background: rgba(99, 180, 255, 0.1);
    border: 2px solid rgba(99, 180, 255, 0.2);
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    vertical-align: -2px;
    outline: none;
    margin-right: 2px;
}

input[type="radio"]:checked {
    box-shadow: 0px 0px 8px rgba(99, 180, 255, 0.5);
    background: rgba(99, 180, 255, 0.5);
}

label:first-child {
    margin-right: 30px;
}

.bad input[type="radio"][value="Oui"]:checked {
    background: rgba(255, 128, 64, 0.8);
    border-color: rgba(255, 128, 64, 0.8);
}

.name a:not(:hover) {
    color: #fff;
}

.name a:hover {
    color: #64B4FF;
}

.out .boss div {
    padding: 1px;
}

#sub-btn {
    margin-top: 16px;
}

#saved {
    display: none;
    color: lightgreen;
    position: relative;
    top: 5px;
    left: 5px;
}

#content #back-btn {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 16px;
    display: inline-block;
}

#wishlist-box {
    background: rgba(99, 180, 255, 0.1);
    padding: 0;
}
