@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Roboto+Condensed:400,300);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

* {
	margin: 0;
	padding: 0;
	cursor: default;
}

* {
	box-sizing: inherit;
	position: relative;
	flex-shrink: 0;
}

html, body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.overflow {
	overflow: auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

body {
	background: #2e3740 url(/assets/images/background_welcome.jpg) no-repeat top center;
	box-sizing: border-box;
	font-family: "Open Sans";
	font-size: 13px;
	color: #fff;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.unselectable, *:not(input):not(textarea):not(select) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selectable, .selectable * {
	-webkit-touch-callout: default !important;
	-webkit-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
}

html, body {
	overflow: hidden;
}

h2 {
	font-family: "Roboto Condensed";
	font-size: 24px;
	font-weight: 400;
	margin: 15px 0;
	line-height: 24px;
}

h3 {
	font-size: 18px;
	font-weight: 400;
	margin: 15px 0 10px 0;
	line-height: 1em;
	z-index: 30;
}

button.box-right, .box-right {
	z-index: 45;
	float: right;
}

h2:first-of-type, h3:first-of-type {
	margin-top: 0;
}

img {
	user-drag: none;
}

.awe-void {
	display: none;
}

.fsblue, .c99 {
	color: #64B4FF;
}

label {
	font-weight: 600;
	margin: 15px 0 15px 0;
	display: block;
}

label:first-child:not(.no-collapse) {
	margin-top: 0;
}

label:last-child {
	margin-bottom: 0;
}

label.empty {
	margin-bottom: 15px;
}

p {
	margin-bottom: 10px;
}

p > i {
	top: -2px;
}

p.light {
	color: #8eafce;
}

th {
	font-weight: 600;
}

div.inline {
	display: inline-block;
}

input, textarea, select {
	font-size: inherit;
	font-family: "Open Sans";
	padding: 5px 0;
	background: transparent;
	border: 0;
	border-bottom: 2px solid #3b556e;
	outline: none;
	color: #fff;
	transition: border ease-out .3s, opacity ease-out .3s;
	display: block;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=text], input[type=password], textarea {
	box-sizing: content-box;
	line-height: 18px;
	height: 18px;
}

textarea {
	resize: none;
	transition: border ease-out .3s, height ease-out .3s;
}

input:hover:not(:disabled), input[type=checkbox]:hover:not(:disabled), input[type=radio]:hover:not(:disabled), textarea:hover:not(:disabled), select:hover:not(:disabled) {
	border-color: #426585;
}

select {
	border: 2px solid #3b556e;
}

@-moz-document url-prefix() {
	select {
		background: 0 !important;
	}
}

select::-ms-expand {
	display: none;
}

select option {
	background: rgba(31, 41, 52, 0.95);
}

input[type=checkbox], input[type=radio] {
	width: 18px;
	height: 18px;
	border: 2px solid #3b556e;
	border-radius: 2px;
	float: left;
	margin-right: 15px;
}

input[type=radio] {
	border-radius: 50%;
}

input[type=checkbox]:after, input[type=radio]:after {
	position: absolute;
	top: 1px;
	left: 1px;
	width: 12px;
	height: 12px;
	background: url(/assets/images/icons/check.png);
	background-size: contain;
	content: " ";
	opacity: 0;
}

input[type=checkbox]:checked:after, input[type=radio]:checked:after {
	opacity: 1;
}

select {
	font-family: "Open Sans";
	display: block;
	margin-top: 5px;
	background: url(/assets/images/icons/down.png) no-repeat right center;
}

select:focus:not(:disabled) {
	border-color: #426585;
	transition: none;
}

input:focus:not([type=radio]):not([type=checkbox]):not(:disabled), textarea:focus:not(:disabled) {
	border-color: #64b4ff;
}

input:disabled, select:disabled, textarea:disabled {
	opacity: .4;
}

input.ng-invalid:not(.ng-pristine),
input:invalid:not(.ng-pristine) {
	box-shadow: none;
	border-bottom-color: #f44336;
}

:-moz-submit-invalid {
	box-shadow: none;
}

:-moz-ui-invalid {
	box-shadow: none;
}

button {
	display: inline-block;
	background: transparent;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	font-family: "Open Sans";
	font-weight: 600;
	font-size: inherit;
	transition: opacity ease-out .3s, color ease-out .3s;
	outline: none;
	line-height: 18px;
}

button + button {
	margin-left: 12px;
}

button i {
	top: -2px;
}

button:disabled {
	color: #fff !important;
	opacity: 0.26;
}

button.left {
	float: left;
	margin-left: 0;
	margin-right: 20px;
}

button.border {
	background-color: #1f5c7f;
	padding: 4px 10px;
	border: 1px solid #246a93;
	border-radius: 2px;
	transition: all ease-out .3s;
}

button:hover, button.active {
	color: #64b4ff;
}

button.border:hover {
	background: #2296c3;
	color: #fff;
}

form .error {
	color: #f44336;
}

.box {
	padding: 16px;
	background: rgba(99, 180, 255, 0.1);
	border: 1px solid #395066;
	box-shadow: 0 1px 1px rgba(17, 17, 17, 0.3);
}

.box .box {
	background: rgba(99, 180, 255, 0.075);
	box-shadow: 0 1px 1px rgba(17, 17, 17, 0.15);
}

.box *:last-child {
	margin-bottom: 0px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.box.parted {
	display: flex;
	flex-direction: column;
}

.box.parted h2 {
	margin: 0 -16px;
	border-bottom: 2px solid #426585;
	padding: 0 16px 16px 16px;
}

.box.parted .panel {
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0 -16px -16px -16px;
	padding: 16px;
}

.box .btns {
	float: right;
	z-index: 20;
	top: 3px;
}

img, i {
	vertical-align: middle;
}

.pace {
	box-sizing: content-box;
}

#loading-error {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #2e3740;
	z-index: 3000;
	display: none;
}

#loading-error-frame {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	width: 800px;
	height: 300px;
	margin: auto;
	padding: 20px 20px 20px 200px;

	background: url(/assets/images/icons/error.png) no-repeat 20px 10px;
}

#loading-error-title {
	font-family: "Roboto Condensed";
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 20px;
}

#loading-error-text {
	white-space: pre-wrap;
}

#loading-error-infos {
	margin-top: 20px;
	color: rgb(142, 175, 206);
}

#loading-error-actions {
	display: none;
}

#error-popup {
	position: fixed;
	bottom: 20%;
	left: 0;
	right: 0;
	width: 450px;
	margin: auto;
	background: rgba(31, 41, 52, 0.95);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
	z-index: 500;
	padding: 15px 15px 15px 60px;
}

#error-popup i {
	font-size: 32px;
	position: absolute;
	top: 50%;
	margin-top: -23px;
	left: 5px;
	color: #f44336;
}

.live #window-controls {
	display: none;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 56px;
	padding: 12px;
	z-index: 50;
	font-size: 14px;
}

#left-controls {
	display: flex;
	align-items: center;
	position: absolute;
	top: 12px;
	left: 12px;
}

#left-controls img {
	height: 32px;
	width: 32px;
	margin-right: 24px;
}

#left-controls nav {
	display: inline-block;
	top: -1px;
}

#left-controls button + button {
	margin-left: 24px;
}

/*#left-controls button.active:not(:hover) {
	color: #fff;
}*/

#app-menu-icon {
	transition: opacity ease-out .3s;
}

#left-controls i {
	color: #fff;
	font-size: 15px;
	opacity: 0.5;
	transition: opacity ease-out .3s;
}

#left-controls:hover i {
	opacity: 1;
}

#right-controls {
	position: absolute;
	top: 12px;
	right: 12px;
	height: 32px;
	display: flex;
	align-items: center;
}

#right-controls .user {
	line-height: 35px;
}

#right-controls .user i {
	opacity: .5;
	top: -2px;
	transition: opacity ease-out .3s;
}

#right-controls .user:hover i {
	opacity: 1;
}

#right-controls #chat-control {
	padding-left: 4px;
	margin-left: 12px;
	padding-right: 4px;
}

#right-controls #chat-control i {
	font-size: 18px;
	vertical-align: -2px;
}

#sidebar {
	display: none;
	position: fixed;
	top: 56px;
	bottom: 0;
	left: 0;
	width: 56px;
	z-index: 20;
}

.authenticated #sidebar {
	display: block;
}

#sidebar li {
	padding: 12px;
	transition: background ease-out .3s;
}

#sidebar li:hover {
	background: linear-gradient(to right, rgba(99, 180, 255, 0.10) 0%, rgba(99, 180, 255, 0) 100%);
}

#sidebar li.active {
	background: linear-gradient(to right, rgba(99, 180, 255, 0.15) 0%, rgba(99, 180, 255, 0.10) 20%, rgba(99, 180, 255, 0) 100%);
}

#sidebar img {
	width: 28px;
	margin-left: 2px;
}

#main-view-slider {
	position: absolute;
	top: 0;
	bottom: 12px;
	left: 0;
	right: 0;
	padding-top: 56px;
	z-index: 5;
	transition: all .2s ease-out;
}

.authenticated #main-view-slider {
	left: 56px;
}

.main-view {
	transition: all ease-out .3s;
	height: 100%;
	padding: 0 12px;
}

.main-view.ng-enter {
	transition: all ease-out .3s .5s;
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.25);
	z-index: 0;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-visible #modal {
	opacity: 1;
	z-index: 100;
}

.modal-visible .main-view, .modal-visible header, .modal-visible #sidebar {
	opacity: .3;
}

#modal .box {
	background: rgba(42, 56, 69, 0.9);
}

#modal .close-btn {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 15px;
	transition: color ease-out .3s;
	z-index: 150;
}

#modal .close-btn:hover {
	color: #64b4ff;
}

.tools-main {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: stretch;
}

#context-menu {
	position: fixed;
	z-index: 2500;
	list-style: none;
	display: none;
	padding: 5px 0;
}

#context-menu, #context-menu ul {
	background: rgba(31, 41, 52, 0.95);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	border-radius: 2px;
}

#context-menu li {
	padding: 1px 20px 2px 7px;
	line-height: 20px;
}

#context-menu li.sub {
	padding-right: 30px;
}

#context-menu li.sub:before {
	font-family: "awe";
	content: "\e8a5";
	position: absolute;
	right: 10px;
	top: 3px;
}

#context-menu li ul {
	position: absolute;
	display: none;
	top: 0px;
	left: 100%;
	list-style: none;
	margin-top: -1px;
}

#context-menu li:hover > ul {
	display: block;
}

#context-menu li i {
	vertical-align: baseline;
	color: #64b4ff;
	margin-left: 2px;
	margin-right: 6px;
}

#context-menu li:hover:not(.separator) {
	background: rgba(255, 255, 255, 0.05);
}

#context-menu li.separator {
	background: #354554;
	padding: 0;
	margin: 5px 0;
	height: 1px;
}

#context-menu li span {
	opacity: .75;
	margin-left: 5px;
	font-weight: 300;
}

.status-dot {
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	padding-right: .2em;
	text-align: center;

	line-height: 1em;
	padding-left: .2em;
	box-sizing: content-box;
}

.status-dot:before {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 0.8em;
	background-color: #41c32b;
	content: " ";
}

.status-dot.away:before {
	background: #f4d736;
}

.status-dot.busy:before {
	background: #f44336;
}

.animated {
	transition: all ease-out .3s;
}

.animated.ng-enter {
	opacity: 0 !important;
}

.animated.ng-enter-active {
	opacity: .999 !important;
}

.animated.ng-leave {
	opacity: .999 !important;
}

.animated.ng-leave-active {
	opacity: 0 !important;
}

.animated.ng-hide-add {
	opacity: .999 !important;
}

.animated.ng-hide-add.ng-hide-add-active {
	opacity: 0 !important;
}

.animated.ng-hide-remove {
	opacity: 0 !important;
}

.animated.ng-hide-remove.ng-hide-remove-active {
	opacity: .999 !important;
}

.wowhead-tooltip-powered {
	opacity: 0 !important;
}

.wowhead-tooltip td, .wowhead-tooltip th {
	background: none !important;
	font-family: inherit !important;
	font-size: inherit !important;
	line-height: inherit !important;
	color: inherit !important;
}

.wowhead-tooltip {
	background: rgba(31, 41, 52, 0.95);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	border-radius: 2px;
}

.wowhead-tooltip p {
	outline: 1px solid #383F4C;
	outline-offset: -5px;
	top: 0 !important;
	left: -48px !important;
	display: none;
}

.wowhead-tooltip p div {
	background: none !important;
}

#tooltip {
	position: fixed;
	background: rgba(31, 41, 52, 0.95);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	padding: 8px 12px;
	display: none;
	z-index: 2000;
	max-width: 300px;
	border-radius: 2px;
}

#tooltip .right {
	float: right;
}

#tooltip .nowrap {
	white-space: nowrap;
}

#tooltip .spaced {
	margin-top: 8px;
}

#tooltip .light {
	font-weight: 300;
}

#tooltip .row {
	display: flex;
}

#tooltip .cell:not(:first-child) {
	margin-left: 12px;
}

#tooltip .fill {
	flex: 1;
}

#tooltip .fillr {
	flex: 1;
	text-align: right;
}

#tooltip .blue {
	color: #8eafce;
}

#tooltip .gray {
	color: #A7AEB3;
}

.tooltip {
	display: none;
}

::-webkit-scrollbar {
	width: 12px
}

::-webkit-scrollbar-thumb {
	border-width: 1px 1px 1px 2px
}

::-webkit-scrollbar-track {
	border-width: 0
}

::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 16px;
}

::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 4px;
}

::-webkit-scrollbar-track:horizontal {
	border-width: 4px 0 0
}

::-webkit-scrollbar-track:hover {
	background-color: rgba(100, 180, 255, .05);
	box-shadow: inset 1px 0 0 rgba(100, 180, 255, .1);
}

::-webkit-scrollbar-track:horizontal:hover {
	box-shadow: inset 0 1px 0 rgba(100, 180, 255, .1)
}

::-webkit-scrollbar-track:active {
	background-color: rgba(100, 180, 255, .05);
	box-shadow: inset 1px 0 0 rgba(100, 180, 255, .14), inset -1px 0 0 rgba(100, 180, 255, .07);
}

::-webkit-scrollbar-track:horizontal:active {
	box-shadow: inset 0 1px 0 rgba(100, 180, 255, .14), inset 0 -1px 0 rgba(100, 180, 255, .07)
}

::-webkit-scrollbar-thumb {
	background-color: rgba(100, 180, 255, .2);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 1px 1px 6px;
	min-height: 28px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(100, 180, 255, .1), inset 0 -1px 0 rgba(100, 180, 255, .07);
}

::-webkit-scrollbar-thumb:horizontal {
	border-width: 6px 1px 1px;
	padding: 0 0 0 100px;
	box-shadow: inset 1px 1px 0 rgba(100, 180, 255, .1), inset -1px 0 0 rgba(100, 180, 255, .07);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(100, 180, 255, .4);
	box-shadow: inset 1px 1px 1px rgba(100, 180, 255, .25);
}

::-webkit-scrollbar-thumb:active {
	background-color: rgba(100, 180, 255, 0.5);
	box-shadow: inset 1px 1px 3px rgba(100, 180, 255, 0.35);
}

::-webkit-scrollbar-track {
	border-width: 0 1px 0 6px
}

::-webkit-scrollbar-track:horizontal {
	border-width: 6px 0 1px
}

::-webkit-scrollbar-track:hover {
	background-color: rgba(100, 180, 255, .035);
	box-shadow: inset 1px 1px 0 rgba(100, 180, 255, .14), inset -1px -1px 0 rgba(100, 180, 255, .07);
}

::-webkit-scrollbar-thumb {
	border-width: 0 1px 0 6px
}

::-webkit-scrollbar-thumb:horizontal {
	border-width: 6px 0 1px
}

::-webkit-scrollbar-corner {
	background: transparent
}

body .c7, body .c7 a {
	color: #2B6CFF !important;
}

body .c6, body .c6 a {
	color: #DE2243 !important;
}

body .c10, body .c10 a {
	color: #00A07D !important;
}
