:namespace("gt-composer") {
	@left-width: 400px;

	#left { .gpu;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: @left-width;

		.layout {
			.pos(absolute);
			display: flex;
			flex-direction: column;
		}

		.header {
			border-bottom: 2px solid #426585;
			padding: 12px;
			flex-shrink: 0;
			position: relative;

			.back {
				height: 0;
				opacity: 0;
				transition: all ease-in-out .2s;

				&[open] {
					opacity: 1;
					height: 24px;
				}

				gt-button {
					position: relative;
					top: -12px;
					padding-left: 0;
				}
			}

			h2 {
				font-family: "Roboto Condensed";
				font-size: 24px;
				font-weight: 400;
				line-height: 24px;
				margin: 0;
				width: 290px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.action {
				position: absolute;
				bottom: 6px;
				right: 0;
			}
		}

		#slider {
			flex: 1;
			width: 200%;
			display: flex;
			position: relative;
			left: 0;
			transition: left ease-in-out .2s;

			&.slided {
				left: -100%;
			}

			.panel {
				.custom-scrolls;
				width: 50%;
				height: 100%;
				padding: 12px;
				overflow: auto;
			}
		}
	}

	#right {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: @left-width + 8px;

		& > * {
			.pos(absolute);
		}
	}

	#create-document {
		gt-box {
			width: 400px;
		}
	}

	#edit-filter {
		gt-checkbox {
			width: 40%;
			margin: 0 0 8px 0;
		}

		gt-checkbox-group {
			margin-bottom: -8px;
		}
	}

	#drag-item {
		width: 120px;
		position: absolute;
		z-index: 100;
		box-shadow: 1px 1px 5px rgba(17, 17, 17, 0.2);
	}
}

:namespace("composer-document-list") {
	:host {
		display: block;
	}

	gt-box:not(:first-child) {
		margin-top: 8px;
	}

	gt-box:hover i.chevron {
		color: @fs-blue;
		transform: translateX(2px);
	}

	.layout {
		display: flex;
		align-items: center;

		& > * {
			flex-shrink: 0;
		}

		i.icon {
			font-size: 18px;
			margin-right: 8px;
			color: mix(@light-blue, @fs-blue);
			position: relative;
		}

		.title {
			flex: 1 !important;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		i.chevron {
			font-size: 24px;
			color: white;
			position: relative;
			transform: translateX(0);
			transition: transform ease-in-out .2s;
			margin-left: 8px;
		}
	}
}

:namespace("composer-roster") {
	:host {
		display: block;
	}

	.title {
		font-size: 18px;
		margin: 12px 0 8px 0;

		.group:first-child & {
			margin-top: 0;
		}
	}

	.toons {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -4px;
	}

	.toon {
		width: 33%;
		padding: 0 4px;
		margin-top: 4px;

		calendar-unit-frame {
			transition: opacity .2s ease-in-out;
			&.picked {
				opacity: 0.4;
			}
		}
	}
}

:namespace("composer-groups-document") {
	:host {
		display: block;
	}

	gt-box#main {
		.pos(absolute);
	}

	#actions {
		position: absolute;
		top: 6px;
		right: 12px;
	}

	.loading {
		padding: 100px;
		text-align: center;
		font-size: 14px;
		margin-bottom: 12px;
	}

	.add {
		font-size: 16px;
		text-align: center;

		i {
			opacity: 0.4;
			transition: opacity .2s ease-in-out;
		}

		&:hover i {
			opacity: 1;
		}
	}

	#rename-doc {
		gt-box {
			width: 400px;
		}
	}
}

:namespace("composer-groups-group") {
	gt-box {
		position: relative;
		margin-bottom: 8px;
	}

	.title {
		font-family: "Roboto Condensed";
		font-size: 16px;
	}

	.actions {
		position: absolute;
		top: 4px;
		right: 8px;
	}

	.stats {
		display: inline-flex;
		align-items: center;

		& > * {
			flex: none;
		}

		img {
			width: 17px;
			height: 17px;
			margin: 0 2px 0 8px;
		}

		.gray {
			color: @fs-gray;
			margin-left: 4px;
		}
	}

	.layout {
		display: flex;

		.left {
			flex: 1;
		}

		.right {
			min-width: 250px;
			width: 250px;
			flex: none;
		}
	}

	.conflicts {
		margin-top: 12px;
		margin-left: 12px;

		.items {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			font-size: 12px;

			&.space {
				margin-top: 6px;
			}

			& > div {
				width: 46%;
				display: flex;
			}

			.label {
				flex: 1;
			}

			.value {
				text-align: right;
			}
		}
	}

	.tier {
		min-height: 22px;
		border: 1px dotted transparent;
		display: flex;
		flex-wrap: wrap;
		margin: 8px -2px 0px -2px;
		padding: 0 2px;

		calendar-unit-frame {
			width: 113px;
			margin: 2px 4px 2px 0;
			flex: none;

			&[conflict] {
				box-shadow: 0 0 2px orange;
			}
		}

		&.new {
			display: none;
			:host([dragging][hover]) & {
				display: block;
			}
		}

		:host([dragging][hover]) & {
			border-color: fade(@fs-blue, 40%);
		}

		:host([dragging][hover]) &.hover {
			border-color: fade(@fs-blue, 80%);
		}
	}
}
