///////////////////////////////////////////////////////////////////////////////
// <gt-roster>

:namespace("gt-roster") {
	#layout {
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow: hidden;
	}

	#search-box {
		padding: 6px 12px 6px 12px;
		//height: 50px;
		flex: none;

		#search-layout {
			display: flex;
			align-items: center;

			& > i {
				font-size: 19px;
				margin-right: 12px;
				margin-top: 2px;
			}

			input {
				margin: 0;
				padding: 6px;
				background: rgba(17, 17, 17, 0.15);
				outline: none;
				color: #fff;
				flex: 1;
				border: 1px solid rgba(17, 17, 17, 0.1);
				font: 400 14px "Roboto Mono";
			}

			& > gt-button {
				margin-left: 12px;
				transition: all .2s ease-out;
				&[active] { color: #fff; }
				&:not([active]):not(:hover) { opacity: 0.5; }
			}
		}
	}

	#bottom-layout {
		margin-top: 6px;
		flex: 1;
		display: flex;
	}

	#main-box {
		flex: 1;
		position: relative;
		& > gt-box { .pos(absolute); }
	}

	#roster-view-opt {
		position: absolute;
		top: 6px;
		right: 6px;

		i {
			font-size: 15px;
		}

		gt-button {
			transition: all .2s ease-out;
			&[active]:hover { color: #fff; }
			&:not([active]) {
				opacity: 0.5;
				&:hover { opacity: 1; }
			}
		}
	}

	#filters-box {
		margin-left: 6px;
		width: 350px;
	}

	#results {
		roster-item {
			margin-bottom: 6px;
			&:last-of-type { margin-bottom: 0; }
		}
	}

	#matching {
		color: @light-blue;
		position: relative;
		top: -2px;
	}
}

:namespace("roster-filters") {
	:host {
		display: block;
		position: relative;
	}

	gt-box {
		.pos(absolute);
	}

	roster-filters-dropdown:first-child {
		margin-top: 4px;
	}

	roster-filters-dropdown:not(:first-child) {
		margin-top: 16px;
	}

	gt-label {
		display: inline-block;
		margin-top: 6px;
		width: 48%;
	}

	gt-checkbox {
		margin-right: 6px;
	}
}

:namespace("roster-filters-dropdown") {
	:host {
		display: block;
	}

	h3 {
		font: 500 14px Roboto;
		margin: 0 0 4px 0;

		i {
			margin-right: 2px;
			font-size: 18px;
			color: @light-blue;
		}

		i#icon {
			margin-right: 6px;
		}
	}

	#content {
		padding-left: 24px;
	}
}

:namespace("roster-item") {
	:host {
		display: block;
	}

	gt-box {
		padding: 0;
		transition: all .2s ease-out;

		&:hover {
			background: fade(mix(rgb(17, 17, 17), @fs-blue, 33%), 15%);
			border-color: fade(@fs-blue, 15%);
		}
	}

	#flex {
		display: flex;
		align-items: stretch;
		height: 32px;
	}

	bnet-thumb {
		width: 32px;
		height: 32px;
		border-right: 1px solid rgba(17, 17, 17, 0.1);
	}

	#name {
		font: 300 16px "Roboto";
		text-transform: capitalize;
		padding: 0 8px;
		display: flex;
		align-items: center;
		flex: 1;
	}

	#invalid {
		color: @light-blue;
		margin-left: 12px;
	}

	#chars, #infos {
		display: flex;
		align-items: stretch;
		background: rgba(17, 17, 17, 0.1);
		width: 1000px;
	}

	.char, .info {
		border-left: 1px solid rgba(17, 17, 17, 0.1);
		width: 200px;
		display: inline-flex;
		align-items: center;
		padding: 0 12px;
		box-sizing: border-box;

		.name {
			flex: 1;
		}

		.infos {
			color: @light-blue;
			font-weight: 300;
			font-size: 12px;
		}

		.label {
			color: @light-blue;
			margin-right: 6px;
		}
	}

	@media (max-width: 1700px) {
		.char:nth-child(5) { display: none; }
		#chars, #infos { width: 800px; }
	}

	@media (max-width: 1500px) {
		.char:nth-child(4), .info:nth-child(4) { display: none; }
		#chars, #infos { width: 600px; }
	}
}
