:host {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 900px;
	min-height: 600px;
}

#layout {
	display: flex;
	margin: -12px;
	width: 900px;
	height: 550px;
}

#left {
	width: 200px;
	border-right: 2px solid fade(#426585, 50%);

	ul {
		list-style: none;
		margin: 0;
		padding: 0 0 50px;
	}

	li {
		//border-bottom: 1px solid #426585;
		padding: 12px;
		transition: all .2s ease-out;
		//background: fade(@fs-blue, 5%);

		&:hover {
			background: fade(@fs-blue, 10%);
		}

		&[active] {
			background: fade(@fs-blue, 15%);
		}

		i {
			margin-right: 12px;
		}
	}
}

#right {
	position: relative;
	flex: 1;
	background: rgba(17,17,17,0.10);

	& > * {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: scroll;
		padding: 16px;
		.custom-scrolls();
	}

	h2 {
		font-family: "Roboto Condensed";
		font-weight: 300;
		margin: 0 0 12px;

		&:not(:first-child) {
			margin-top: 24px;
		}
		//color: @light-blue;
	}

	p.help, gt-label p {
		color: @light-blue;
	}

	gt-label {
		display: block;
		margin: 16px 0;
		p {	margin: 8px 0 0; }
	}

	gt-checkbox {
		margin-right: 8px;
	}

	.checkboxes {
		margin: 16px 0;

		h3 {
			font-family: "Roboto Condensed";
			font-weight: 300;
			margin: 0;
			font-size: 16px;
		}

		gt-label {
			display: inline-block;
			margin: 10px 10px 10px 0;
		}

		p {
			margin: 0;
			color: @light-blue;
		}
	}
}
