@(err: Option[String])
<!DOCTYPE html>
<meta charset="utf-8">
<title>Sign in - From Scratch</title>
<link rel="shortcut icon" href='@routes.Assets.versioned("images/favicon.ico")'>
<link rel="stylesheet" href='@routes.Assets.versioned("auth/auth.css")'>
<link rel="stylesheet" href='@routes.Assets.versioned("auth/login.css")'>
<body class="login">

<div class="header">
	<img src="@routes.Assets.versioned("images/login_logo.png")">
</div>

<div class="wrapper">
	<div class="content login">
		<h1>From Scratch Login</h1>
		<p>Connexion à votre compte From Scratch</p>

		<div class="box">
			<div class="side">
				<div class="person">
					<i class="material-icons">person</i>
				</div>
			</div>
			<form method="post" action="login">
				<input type="text" name="user" placeholder="Nom d'utilisateur">
				<input type="password" name="pass" placeholder="Mot de passe">

				<input type="submit" value="Connexion">
			</form>
		</div>

		@if(err.isDefined) {
			<div class="error">
				<i class="material-icons">error_outline</i>
				@err.get
			</div>
		}

		<a href="restore">Mot de passe oublié</a>
		<a href="register">Créer un compte</a>
	</div>
</div>

<script>
	var user = document.querySelector("input[name='user']");
	user.value = (localStorage.getItem("auth.user") || "").trim();

	if (user.value == "") {
		user.focus();
	} else {
		document.querySelector("input[name='pass']").focus();
	}

	user.onchange = function() {
		localStorage.setItem("auth.user", this.value);
	};
</script>
</body>
