@import url("https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,500|Roboto+Condensed:400,300,600|Roboto+Mono:400");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

a {
	color: rgba(100, 180, 255, 1);
	text-decoration: none;
}

a:hover {
	color: #fff;
}

body {
	font: 400 14px Roboto;
	background: #2e3740 url(/assets/images/background.jpg) top center no-repeat;
	color: #eee;
}

#wrapper {
	width: 960px;
	margin: 30px auto;
}

#header {
	border-bottom: 2px solid #394b60;
	padding-bottom: 20px;
	background: radial-gradient(ellipse at top, rgba(100, 180, 255, 0.15) 0%, rgba(100, 180, 255, 0) 120%), rgba(100, 180, 255, 0.03);
}

#header img {
	width: 300px;
}

#content {
	padding: 20px 0;
}

.box {
	padding: 12px;
	background: rgba(99, 180, 255, 0.1);
	border: 1px solid #395066;
	box-shadow: 0 1px 1px rgba(17, 17, 17, 0.3);
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

/*
	LOGIN
*/

.login .header {
	padding: 50px;
	text-align: center;
	background: radial-gradient(ellipse at top, rgba(100, 180, 255, 0.15) 0%, rgba(100, 180, 255, 0) 120%), rgba(100, 180, 255, 0.03);
	box-shadow: 0 0 10px rgba(17, 17, 17, 0.1);
}

.login #content {
	text-align: center;
	margin-top: 50px;
}

.login img {
	width: 300px;
	height: 70px;
	-webkit-user-drag: none;
	user-drag: none;
}

.login h1 {
	font-weight: 300;
}

.login p {
	font-weight: 300;
	margin-top: 5px;
	margin-bottom: 50px;
	letter-spacing: 0.03em;
	font-family: "Roboto Condensed";
}

.login .side {
	width: 156px;
	height: 190px;
	background: rgba(99, 180, 255, 0.05);
	padding: 12px;
	box-sizing: border-box;
	flex-shrink: 0;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

.login .person {
	background-color: rgba(17, 17, 17, 0.1);
	border-radius: 50px;
	font-size: 72px;
	width: 1em;
	height: 1em;
	overflow: hidden;
	margin: 20px auto;
	box-shadow: inset 0 0 2px rgba(17, 17, 17, 0.2);
	padding: 10px;
	box-sizing: content-box;
}

.login .person i {
	font-size: inherit;
	position: relative;
}

.login .box {
	width: 450px;
	margin: auto auto 50px;
	padding: 0;
	display: flex;
}

.login form {
	padding: 18px;
}

.login input:not([type="submit"]) {
	background: 0;
	font: 400 16px Roboto;
	outline: none;
	padding: 6px 1px;
	color: #f1f1f1;
	border: 0;
	border-bottom: 2px solid #45596d;
	resize: none;
	width: 100%;
	margin: 12px 0 3px;
	transition: border-color .3s ease-out;
}

.login input:not([type="submit"]):hover:not(:focus) {
	border-bottom-color: #4C6A86;
}

.login input:not([type="submit"]):hover, .login input:not([type="submit"]):focus {
	border-bottom-color: #537b9f;
}

.login input[type="submit"] {
	border: 0;
	background: none;
	text-transform: uppercase;
	color: #fff;
	font: 500 14px Roboto;
	position: absolute;
	bottom: 18px;
	right: 18px;
	transition: color .1s ease-out;
	outline: none;
}

.login input[type="submit"]:hover {
	color: #64b4ff;
	cursor: pointer;
}

.login .error {
	padding: 12px;
	position: relative;
	overflow: hidden;
	width: 450px;
	box-sizing: border-box;
	margin: -20px auto 50px;
	text-align: left;
	background: rgba(17, 17, 17, 0.15);
	border: 1px solid rgba(17, 17, 17, 0.1);
	box-shadow: none;
	line-height: 24px;
}

.login .error i {
	vertical-align: -7px;
	margin-right: 8px;
}

.login a {
	padding: 0 20px;
}

.login input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #344554 inset;
	-webkit-text-fill-color: #fff; !important;
}
