@import url("https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,500|Roboto+Condensed:400,300,600|Roboto+Mono:400");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.gray { color: #A7AEB3; }

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

a {
	color: rgba(100, 180, 255, 1);
	text-decoration: none;
}

a.btn {
	color: #fff;
	text-transform: uppercase;
}

a:hover {
	color: #fff;
}

a.btn:hover {
	color: rgba(100, 180, 255, 1);
}

a.block {
	display: block;
	padding: 8px;
	position: relative;
	box-sizing: border-box;
	text-align: left;
	background: rgba(17, 17, 17, 0.15);
	border: 1px solid rgba(17, 17, 17, 0.1);
	line-height: 24px;
	margin: 8px 0;
	font-size: 15px;
	color: #fff;
}

a.block:hover {
	color: #8eafce;
}

a.block i:not(.chevron) {
	margin-right: 5px;
	vertical-align: -4px;
	color: #8eafce;
}

a.block i.chevron {
	position: absolute;
	right: 8px;
	top: 12px;
	color: #fff;
}

.material-icons {
	font-size: 1.2em;
	vertical-align: middle;
}

body {
	font: 400 14px Roboto;
	background: #2e3740 url(/assets/images/background.jpg) top center no-repeat;
	color: #eee;
}

.wrapper {
	width: 1200px;
	margin: auto;
}

.header {
	padding: 20px;
	/*background: radial-gradient(ellipse at top, rgba(100, 180, 255, 0.15) 0%, rgba(100, 180, 255, 0) 120%), rgba(100, 180, 255, 0.03);*/
	background: rgba(100, 180, 255, 0.25);
}

.header img {
	width: 215px;
	height: 50px;
	border: 0;
}

.subheader {
	background: rgba(100, 180, 255, 0.15);
	font-size: 14px;
}

.subheader h1 {
	font: 400 20px "Roboto Condensed";
	padding: 15px 0;
}

.subheader .right {
	float: right;
	position: relative;
	top: 20px;
}

.subheader .btn {
	margin-left: 5px;
}

.subheader .username {
	margin-right: 5px;
	font-size: 16px;
	line-height: 14px;
}

.content {
	padding: 50px 0;
}

.box {
	padding: 12px;
	background: rgba(99, 180, 255, 0.1);
	border: 1px solid #395066;
	box-shadow: 0 1px 1px rgba(17, 17, 17, 0.3);
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.box h2 {
	font: 400 24px "Roboto Condensed";
	border-bottom: 2px solid #426585;
	padding: 12px;
	margin: -12px -12px 12px -12px;
}

.box h3 {
	font: 400 18px "Roboto Condensed";
	margin: 20px 0 6px 0;
}

.box h3:first-of-type {
	margin-top: 0;
}

.columns {
	display: flex;
}

.columns > .box {
	flex: 1;
	margin-right: 8px;
}

.columns > .box:last-child {
	margin-right: 0;
}
