@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Roboto+Condensed:400,300|Source+Code+Pro");

body {
	font-family: "Open Sans";
	color: #f1f1f1;
	font-size: 14px;
}

.font-roboto {
	font-family: "Roboto Condensed";
}

.font-source {
	font-family: "Source Code Pro";
}
