@import (css) url("https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,500|Roboto+Condensed:400,300,600|Roboto+Mono:400");
@import (css) url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
	font: 400 14px Roboto;
	text-shadow: 0 1px 2px rgba(17, 17, 17, 0.1);
	color: #f1f1f1;
}

#background {
	.cover;
	z-index: -2;
	background: url("/assets/images/background_welcome.jpg") center top;
	opacity: 0;

	.with-background & {
		opacity: 1;
		transition: opacity 1s ease-out;
		transition-delay: 0.5s;
	}
}

#fader {
	.cover;
	background: rgba(17, 17, 17, 0.3);
	display: none;
	opacity: 0;
	z-index: -2;

	.no-loader & {
		display: block;
		transition: opacity .5s ease-out;
	}

	.with-modal & {
		opacity: 1;
		z-index: 1000;
	}
}

@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fade-out {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
