@fs-blue: rgb(100, 180, 255);
@light-blue: #8eafce;

.cover() {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

i {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 1em;  /* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	vertical-align: middle;
	position: relative;
	top: -0.07em;
	
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	
	/* Support for IE. */
	font-feature-settings: 'liga';
}

b {
	font-weight: inherit;
}
