.cloak {
	opacity: 0.9;
	transition: opacity ease-in-out 1s;
}

#loader {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;
	width: 400px;
	height: 160px;
	background: url(/assets/loading/logo.png) no-repeat center 20px;
	background-size: contain;
	z-index: 500;
	
	.no-loader & {
		transition: all 0.75s ease-in;
		transform: translateY(-50px);
		opacity: 0;
		transition-delay: 0.4s;
	}
	
	.spinner {
		position: absolute;
		top: 150px;
		left: 0;
		right: 0;
		text-align: center;
		
		.no-loader & {
			transition: opacity .3s ease-in-out;
			transition-delay: .1s;
			opacity: 0;
		}
	}
}

.spinner {
	b {
		display: inline-block;
		background: #fff;
		width: 10px;
		height: 10px;
		border-radius: 20%;
		margin: 0px 4px;
		position: relative;
		animation: spinner 3s infinite;
		animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
		animation-fill-mode: both;
		
		&:nth-child(6) { animation-delay: 0.0s; }
		&:nth-child(5) { animation-delay: 0.15s; }
		&:nth-child(4) { animation-delay: 0.30s; }
		&:nth-child(3) { animation-delay: 0.45s; }
		&:nth-child(2) { animation-delay: 0.60s; }
		&:nth-child(1) { animation-delay: 0.75s; }
	}
}

@keyframes spinner {
	0%   { opacity: 0; }
	20%  { transform: translateX(-50px); opacity: 0; }
	40%  { opacity: 0.5; }
	50%  { opacity: 0.6; }
	60%  { opacity: 0.5; }
	80%  { transform: translateX(50px); opacity: 0; }
	100% { opacity: 0; }
}
