<xuen-component id="gt-calendar">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="gt-calendar">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="calendar-colors">
	<template>
		<!--<calendar-overview></calendar-overview>-->
		<gt-box #calendar>
			<div #layout>
				<gt-box #header>
					<div #top>
						<div #left>
							<gt-button (click)="currentMonth()"><i>last_page</i></gt-button>
						</div>
						<div #center>
							<gt-button (click)="previousMonth()"><i>chevron_left</i></gt-button>
							<span>{{current}}</span>
							<gt-button (click)="nextMonth()"><i>chevron_right</i></gt-button>
						</div>
						<div #right>
							<gt-button (click)="#add-dialog.show()">New event</gt-button>
						</div>
					</div>
					<div #days>
						<span>Monday</span>
						<span>Tuesday</span>
						<span>Wednesday</span>
						<span>Thursday</span>
						<span>Friday</span>
						<span>Saturday</span>
						<span>Sunday</span>
					</div>
				</gt-box>
				<div #body-scroll>
					<div #body>
						<div .row *for="row of layout by $index">
							<div .column *for="date of row by $index">
								<calendar-cell [date]></calendar-cell>
							</div>
						</div>
					</div>
				</div>
				<gt-box #footer dark>
					<div #legend>
						<div state="0">Non-register</div>
						<div answer="1">Accepted</div>
						<div answer="2">Declined</div>
						<div state="1">Locked</div>
						<div state="2">Canceled</div>
						<div><i>priority_high</i> Announce</div>
						<div><i>local_offer</i> Guild</div>
						<div><i>vpn_key</i> Restricted</div>
						<div><i>public</i> Public</div>
					</div>
				</gt-box>
			</div>
		</gt-box>
		<gt-tooltip passive #event-tooltip>
			<calendar-event-tooltip></calendar-event-tooltip>
		</gt-tooltip>
		<gt-tooltip passive #slacks-tooltip>
			<div style="margin-bottom: 8px;">Slackers this day:</div>
			<div *for="slack of slacks">
				<roster-toon [user]="slack.user"></roster-toon>
			</div>
		</gt-tooltip>
		<gt-dialog #delete-dialog>
			<gt-box heading="Are you sure ?" scrollable>
				<p>
					The event "<strong>{{deleteEventTitle}}</strong>" and every associated data (answers and tabs)
					will be deleted. This action cannot be undone.
				</p>
				<div .actions>
					<gt-button collapse-right (click)="#delete-dialog.hide()">Cancel</gt-button>
					<gt-button collapse-right (click)="deleteEvent()">Delete</gt-button>
				</div>
			</gt-box>
		</gt-dialog>
		<gt-dialog>
			<calendar-add-dialog #add-dialog></calendar-add-dialog>
		</gt-dialog>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="calendar-cell">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="calendar-cell">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="calendar-colors">
	<template>
		<div #day>
			<b>{{day}}</b>
			<span #slacks [hidden]="slacksCount < 1">
				<i>flash_on</i><b>{{slacksCount}}</b>
			</span>
		</div>
		<div #events>
			<calendar-cell-event *for="event of events by event.id" [event]></calendar-cell-event>
		</div>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="calendar-cell-event">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="calendar-cell-event">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="calendar-colors">
	<template>
		<gt-context-menu *if="canContextMenu">
			<ul>
				<template *if="canAcceptDecline">
					<li (click)="acceptEvent()" [hidden]="answer == 1"><i>check</i> Accept</li>
					<li (click)="declineEvent()" [hidden]="answer == 2"><i>clear</i> Decline</li>
					<li .separator></li>
				</template>
				<template *if="canEdit">
					<template *if="!announce">
						<li (click)="openEvent()" [hidden]="event.state == 0"><i>panorama_fish_eye</i> Open</li>
						<li (click)="closeEvent()" [hidden]="event.state == 1"><i>lock_outline</i> Close</li>
						<li (click)="cancelEvent()" [hidden]="event.state == 2"><i>remove_circle_outline</i> Cancel</li>
						<li .separator></li>
					</template>
					<li (click)="editEvent()"><i>edit</i> Edit</li>
					<li (click)="deleteEvent()" [hidden]="!canDelete"><i>delete_forever</i> Delete</li>
				</template>
			</ul>
		</gt-context-menu>
		<div #layout [@type]="event.type" [@state]="event.state" [@answer]="answer">
			<i #icon *if="icon">{{icon}}</i>
			<b #title>{{event.title}}</b>
			<i #note *if="hasDesc">edit</i>
			<b #time *if="showTime">{{event.time | calendarTime}}</b>
			<template *match="canAcceptDecline">
				<span #actions *case="true">
					<i (click)="acceptEvent()">check</i>
					<i (click)="declineEvent()">clear</i>
				</span>
				<span #actions *case="false">
					<i .lock>lock_outline</i>
				</span>
			</template>
		</div>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="calendar-event-tooltip">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="calendar-event-tooltip">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="calendar-colors">
	<template>
		<div .row>
			<b [@state]="event.state" [@type]="event.type" [@answer]="answer.answer">{{event.title}}</b>
			<b [hidden]="announce">{{event.time | calendarTime}}</b>
		</div>
		<div .row>
			<span><roster-toon [user]="event.owner"></roster-toon></span>
			<b #type>{{eventType}}</b>
		</div>
		<div #desc [hidden]="!event.desc">{{event.desc}}</div>
		<div #declined [hidden]="!hasDeclines">
			<div .title>Declined:</div>
			<span .decline *for="answer of declines">
				<roster-toon [user]="answer.user"></roster-toon>
			</span>
		</div>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="calendar-overview">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="calendar-overview">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="calendar-colors">
	<template>
		<gt-box heading="Overview" scrollable>
			<h2 #this-lockout>
				This lockout
			</h2>
			<gt-alert dark icon="cloud_off">No data available</gt-alert>
			<h2 #next-lockout>
				Next lockout
			</h2>
			<gt-alert dark icon="cloud_off">No data available</gt-alert>
		</gt-box>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="calendar-add-dialog">
	<link rel="stylesheet/less" href="/assets/less/calendar.less" ns="calendar-add-dialog">
	<template>
		<gt-box [heading]="editing ? 'Edit event' : 'New event'" scrollable>
			<template *match="step">
				<div #step1 *case="1">
					<p>Select the day on which the new event should happen:</p>
					<div #calendars>
						<div #left .calendar>
							<div .title>{{currentMonthName}}</div>
							<div .layout>
								<div .cell .name>Mon</div>
								<div .cell .name>Tue</div>
								<div .cell .name>Wed</div>
								<div .cell .name>Thu</div>
								<div .cell .name>Fri</div>
								<div .cell .name>Sat</div>
								<div .cell .name>Sun</div>
								<div .cell .padding *for="_ of currentMonthPadding"></div>
								<div .cell .day *for="day of currentMonthDays"
										.selectable="day >= lowLimit" .today="day == currentDay"
										.selected="selected(day, currentMonth, currentYear)"
										(click)="day >= lowLimit && select(day, currentMonth, currentYear, $event)">{{day}}</div>
							</div>
						</div>
						<div #right .calendar>
							<div .title>{{nextMonthName}}</div>
							<div .layout>
								<div .cell .name>Mon</div>
								<div .cell .name>Tue</div>
								<div .cell .name>Wed</div>
								<div .cell .name>Thu</div>
								<div .cell .name>Fri</div>
								<div .cell .name>Sat</div>
								<div .cell .name>Sun</div>
								<div .cell .padding *for="_ of nextMonthPadding"></div>
								<div .cell .day *for="day of nextMonthDays" .selectable
										.selected="selected(day, nextMonth, nextYear)"
										(click)="select(day, nextMonth, nextYear, $event)">{{day}}</div>
							</div>
						</div>
					</div>
					<p #tip [hidden]="!app.user.promoted">
						<i>priority_high</i>
						Tip: Officers can use shift or ctrl to create the same event on multiple days.
					</p>
					<div .actions>
						<gt-button collapse-right (click)="hide()">Cancel</gt-button>
						<gt-button collapse-right (click)="step = 2; #event-title.focus()" [disabled]="!canGoNext">Next</gt-button>
					</div>
				</div>
				<div #step2 *case="2">
					<div .top>
						<div .left>
							<gt-input #event-title [(value)]="eventTitle" label="Event title"></gt-input>
							<gt-textarea [(value)]="eventDesc" label="Description"></gt-textarea>
						</div>
						<div .right>
							<div .title>Time</div>
							<div .time-display>
								<span (click)="clockMinutes = false">{{ eventHours < 10 ? '0' + eventHours : eventHours }}</span>
								:
								<span (click)="clockMinutes = true">{{ eventMinutes < 10 ? '0' + eventMinutes : eventMinutes }}</span>
							</div>
							<div .clock>
								<div .face .hours .mini="clockMinutes">
									<div .face>
										<div *for="digit <- 0 to 11; hours = digit + 12"
												digit="{{digit}}" .selected="eventHours == hours"
												(click)="setHours(hours)">{{hours}}</div>
									</div>
									<div .face .morning>
										<div *for="digit <- 0 to 11" digit="{{digit}}" .selected="eventHours == digit"
												(click)="setHours(digit)">{{digit}}</div>
									</div>
								</div>
								<div .face .minutes [hidden]="!clockMinutes">
									<div .face>
										<div *for="digit <- 0 to 11; minutes = digit * 5"
												digit="{{digit}}" .selected="eventMinutes == minutes"
												(click)="setMinutes(minutes)">{{minutes}}</div>
										<div .back-zone (click)="clockMinutes = false">
											<i>replay</i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div .bottom>
						<div .title>Event visibility</div>
						<gt-checkbox [radio]="1" [(value)]="eventVisibility" label="Roster" *if="app.user.promoted" [disabled]="isAnnounce">
							<gt-tooltip>
								Visible only to members of the guild roster<br>
								<span .light .gray .small>Use this for progress events</span>
							</gt-tooltip>
						</gt-checkbox>
						<gt-checkbox [radio]="5" [(value)]="eventVisibility" label="Guild" *if="app.user.roster" [disabled]="isAnnounce">
							<gt-tooltip>
								Visible to any guilded player<br>
								<span .light .gray .small>Use this for heroic split runs or optional events</span>
							</gt-tooltip>
						</gt-checkbox>
						<gt-checkbox [radio]="3" [(value)]="eventVisibility" label="Restricted" [disabled]="isAnnounce">
							<gt-tooltip>
								Visible only to invited players<br>
								<span .light .gray .small>Use this for private events</span>
							</gt-tooltip>
						</gt-checkbox>
						<gt-checkbox [radio]="2" [(value)]="eventVisibility" label="Public" *if="app.user.member" [disabled]="isAnnounce">
							<gt-tooltip>
								Visible to everybody<br>
								<span .light .gray .small>Use this for community events</span>
							</gt-tooltip>
						</gt-checkbox>
						<gt-checkbox [radio]="4" [(value)]="eventVisibility" label="Announce" *if="app.user.promoted" [disabled]="editing && !isAnnounce">
							<gt-tooltip>
								A special kind of event without answers<br>
								<span .light .gray .small>It is pretty obvious when to use this...</span>
							</gt-tooltip>
						</gt-checkbox>
					</div>
					<div .actions>
						<gt-button collapse-right (click)="hide()">Cancel</gt-button>
						<gt-button collapse-right (click)="step = 1" [hidden]="editing">Back</gt-button>
						<gt-button collapse-right (click)="create()" [disabled]="!canCreate">Create</gt-button>
					</div>
				</div>
			</template>
		</gt-box>
	</template>
</xuen-component>
