<xuen-component id="gt-composer">
	<link rel="stylesheet/less" href="/assets/less/composer.less" ns="gt-composer">
	<template>
		<div #layout>
			<gt-box #left>
				<div .layout>
					<div .header>
						<div .back [@open]="hasDoc">
							<gt-button collapse-left goto="/composer"><i>keyboard_arrow_left</i> Back</gt-button>
						</div>
						<template *match="hasDoc">
							<h2 *case="false">Composer</h2>
							<h2 *case="true">Roster</h2>
						</template>
						<template *match="hasDoc">
							<gt-button .action *case="false" (click)="showCreate()"><i>add</i> New</gt-button>
							<gt-button .action *case="true" (click)="#edit-filter.show()"><i>filter_list</i> Filters</gt-button>
						</template>
					</div>
					<div #slider .slided="hasDoc">
						<div .panel>
							<composer-document-list></composer-document-list>
						</div>
						<div .panel>
							<composer-roster [filter]></composer-roster>
						</div>
					</div>
				</div>
			</gt-box>
			<div #right *if="hasDoc">
				<template *match="doc.style">
					<composer-groups-document *case="'GROUPS'" [doc]></composer-groups-document>
				</template>
			</div>
		</div>
		<gt-dialog #create-document>
			<gt-box heading="New composer document" scrollable>
				<gt-form #create-document-form (submit)="createDocument()">
					<gt-input .autofocus [(value)]="createTitle" label="Title"></gt-input>
					<gt-checkbox-group label="Document type">
						<gt-checkbox label="Groups" [(value)]="createStyle" radio="GROUPS"></gt-checkbox>
						<gt-checkbox label="Grid" [(value)]="createStyle" radio="GRID" disabled></gt-checkbox>
					</gt-checkbox-group>
					<div .actions>
						<gt-button collapse-right (click)="#create-document.hide()">Cancel</gt-button>
						<gt-button collapse-right (click)="#create-document-form.submit()" [disabled]="!canCreate">Create</gt-button>
					</div>
				</gt-form>
			</gt-box>
		</gt-dialog>
		<gt-dialog #edit-filter>
			<gt-box heading="Roster filter configuration" scrollable>
				<gt-checkbox-group label="Display members of the following groups">
					<gt-checkbox label="Roster" [(checked)]="filterRoster"></gt-checkbox>
					<gt-checkbox label="Casuals" [(checked)]="filterCasuals"></gt-checkbox>
					<gt-checkbox label="Veterans" [(checked)]="filterVeterans"></gt-checkbox>
					<gt-checkbox label="Guests" [(checked)]="filterGuests"></gt-checkbox>
				</gt-checkbox-group>
				<div .actions>
					<gt-button collapse-right (click)="#edit-filter.hide()">Ok</gt-button>
				</div>
			</gt-box>
		</gt-dialog>
	</template>
</xuen-component>

<xuen-component id="composer-document-list">
	<link rel="stylesheet/less" href="/assets/less/composer.less" ns="composer-document-list">
	<template>
		<gt-box dark *for="doc <- docs" (click)="selectDocument(doc.id)">
			<div .layout>
				<i .icon>description</i>
				<span .title>{{doc.title}}</span>
				<i .chevron>chevron_right</i>
			</div>
		</gt-box>
	</template>
</xuen-component>

<xuen-component id="composer-roster">
	<link rel="stylesheet/less" href="/assets/less/composer.less" ns="composer-roster">
	<template>
		<gt-alert dark *if="empty" icon="perm_identity">
			No toons are matching your filters.
		</gt-alert>
		<div .group *for="group <- groups">
			<div .title>{{group.title}}</div>
			<div .toons>
				<div .toon *for="toon <- group.sorted by toon.id">
					<calendar-unit-frame [toon]="toon.id">
						<gt-tooltip>
							<div .row>
								<span [@class-color]="toon.clss.id">{{toon.name}}</span>
								<span .light>{{toon.ilvl}} ilvl</span>
							</div>
							<div .row .small>
								<span>{{ownerName(toon.owner)}}</span>
								<span .light-blue>{{toon.server | serverSlang}}</span>
							</div>
						</gt-tooltip>
						<gt-context-menu>
							<ul>
								<li (click)="gotoProfile(toon.owner)"><i>account_circle</i> Profile</li>
							</ul>
						</gt-context-menu>
					</calendar-unit-frame>
				</div>
			</div>
		</div>
	</template>
</xuen-component>

<xuen-component id="composer-header">
	<link rel="stylesheet/less" href="/assets/less/composer.less" ns="composer-header">
	<template>
		<gt-box>
			<div .layout>
				<div .title>{{doc.title}}</div>
				<div .actions>
					<content></content>
					<gt-button><i>edit</i> Rename</gt-button>
					<gt-button><i>delete_forever</i> Delete</gt-button>
				</div>
			</div>
		</gt-box>
	</template>
</xuen-component>

<xuen-component id="composer-groups-document">
	<link rel="stylesheet/less" href="/assets/less/composer.less" ns="composer-groups-document">
	<template>
		<gt-box #main [heading]="doc.title" scrollable>
			<div #actions>
				<gt-button collapse-right (click)="#rename-doc.show()"><i>edit</i> Rename</gt-button>
				<gt-button collapse-right><i>delete_forever</i> Delete</gt-button>
			</div>
		</gt-box>
		<gt-dialog #rename-doc>
			<gt-box heading="Rename document" scrollable>
				<gt-form (submit)="renameDocument(#rename-input.value); #rename-doc.hide()">
					<gt-input #rename-input .autofocus [value]="doc.title" label="Document title"></gt-input>
					<div .actions .spacing>
						<gt-button (click)="#rename-doc.hide()"> Cancel</gt-button>
						<gt-button submit> Ok</gt-button>
					</div>
				</gt-form>
			</gt-box>
		</gt-dialog>
	</template>
</xuen-component>
