<xuen-component id="gt-composer">
	<link rel="stylesheet/less" href="/assets/less/composer.less" ns="gt-composer">
	<template>
		<div #layout>
			<gt-box #left>
				<div .layout>
					<div .header>
						<div .back [@open]="hasDoc">
							<gt-button collapse-left goto="/composer"><i>keyboard_arrow_left</i> Back</gt-button>
						</div>
						<template *match="hasDoc">
							<h2 *case="false">Composer</h2>
							<h2 *case="true">Roster</h2>
						</template>
						<template *match="hasDoc">
							<gt-button .action *case="false" (click)="showCreate()"><i>add</i> New</gt-button>
							<gt-button .action *case="true" (click)="#edit-filter.show()"><i>filter_list</i> Filters</gt-button>
						</template>
					</div>
					<div #slider .slided="hasDoc">
						<div .panel>
							<composer-document-list></composer-document-list>
						</div>
						<div .panel>
							<composer-roster [filter] [picked] [provider]="usedProvider"></composer-roster>
						</div>
					</div>
				</div>
			</gt-box>
			<div #right *if="hasDoc">
				<template *match="doc.style">
					<composer-groups-document *case="'GROUPS'" [doc] [dragging]="hasPicked"></composer-groups-document>
				</template>
			</div>
		</div>
		<gt-dialog #create-document>
			<gt-box heading="New composer document" scrollable>
				<gt-form #create-document-form (submit)="createDocument()">
					<gt-input .autofocus [(value)]="createTitle" label="Title"></gt-input>
					<gt-checkbox-group label="Document type">
						<gt-checkbox label="Groups" [(value)]="createStyle" radio="GROUPS"></gt-checkbox>
						<gt-checkbox label="Grid" [(value)]="createStyle" radio="GRID" disabled></gt-checkbox>
					</gt-checkbox-group>
					<div .actions>
						<gt-button collapse-right (click)="#create-document.hide()">Cancel</gt-button>
						<gt-button collapse-right (click)="#create-document-form.submit()" [disabled]="!canCreate">Create</gt-button>
					</div>
				</gt-form>
			</gt-box>
		</gt-dialog>
		<gt-dialog #edit-filter>
			<gt-box heading="Roster filter configuration" scrollable>
				<gt-checkbox-group label="Display members of the following groups">
					<gt-checkbox label="Roster" [(checked)]="filterRoster"></gt-checkbox>
					<gt-checkbox label="Casuals" [(checked)]="filterCasuals"></gt-checkbox>
					<gt-checkbox label="Veterans" [(checked)]="filterVeterans"></gt-checkbox>
					<gt-checkbox label="Guests" [(checked)]="filterGuests"></gt-checkbox>
				</gt-checkbox-group>
				<div .actions>
					<gt-button collapse-right (click)="#edit-filter.hide()">Ok</gt-button>
				</div>
			</gt-box>
		</gt-dialog>
		<calendar-unit-frame #drag-item [hidden]="!hasPicked" [toon]="picked" plain></calendar-unit-frame>
	</template>
</xuen-component>

<xuen-component id="composer-document-list">
	<link rel="stylesheet/less" href="/assets/less/composer.less" ns="composer-document-list">
	<template>
		<gt-alert *if="empty" icon="content_paste">
			No document available.
		</gt-alert>
		<gt-box dark *for="doc <- docs" (click)="selectDocument(doc.id)">
			<div .layout>
				<i .icon>description</i>
				<span .title>{{doc.title}}</span>
				<i .chevron>chevron_right</i>
			</div>
		</gt-box>
	</template>
</xuen-component>

<xuen-component id="composer-roster">
	<link rel="stylesheet/less" href="/assets/less/composer.less" ns="composer-roster">
	<template>
		<gt-alert dark *if="empty" icon="perm_identity">
			No toons are matching your filters.
		</gt-alert>
		<div .group *for="group <- groups">
			<div .title>{{group.title}}</div>
			<div .toons>
				<div .toon *for="toon <- group.sorted by toon.id">
					<calendar-unit-frame [toon]="toon.id" (mousedown)="pickup(toon.id, $event)" .picked="isUsed(toon.id)">
						<gt-tooltip>
							<composer-toon-tooltip [toon]></composer-toon-tooltip>
						</gt-tooltip>
						<gt-context-menu>
							<ul>
								<li (click)="gotoProfile(toon.owner)"><i>account_circle</i> Profile</li>
								<li (click)="openBnet(toon)"><i>open_in_new</i> Battle.net</li>
							</ul>
						</gt-context-menu>
					</calendar-unit-frame>
				</div>
			</div>
		</div>
	</template>
</xuen-component>

<xuen-component id="composer-toon-tooltip">
	<link rel="stylesheet/less" href="/assets/less/floating.less" ns="tooltip-helpers">
	<template>
		<div .row>
			<span [@class-color]="toon.clss.id">{{toon.name}}</span>
			<span .light>{{toon.ilvl}} ilvl</span>
		</div>
		<div .row .small>
			<span>{{ownerName(toon.owner)}}</span>
			<span .light-blue>{{toon.server | serverSlang}}</span>
		</div>
		<div .row .space .light-blue .small>Spec</div>
		<div .row .small>{{spec}}</div>
		<div .row .space .light-blue .small>{{artifact}}</div>
		<div .row .small>{{relics}}</div>
	</template>
</xuen-component>

<xuen-component id="composer-header">
	<link rel="stylesheet/less" href="/assets/less/composer.less" ns="composer-header">
	<template>
		<gt-box>
			<div .layout>
				<div .title>{{doc.title}}</div>
				<div .actions>
					<content></content>
					<gt-button><i>edit</i> Rename</gt-button>
					<gt-button><i>delete_forever</i> Delete</gt-button>
				</div>
			</div>
		</gt-box>
	</template>
</xuen-component>

<xuen-component id="composer-groups-document">
	<link rel="stylesheet/less" href="/assets/less/composer.less" ns="composer-groups-document">
	<template>
		<gt-box #main [heading]="doc.title" scrollable>
			<div #actions>
				<gt-button collapse-right (click)="#rename-doc.show()"><i>edit</i> Rename</gt-button>
				<gt-button collapse-right (click)="#delete-doc.show()"><i>delete_forever</i> Delete</gt-button>
			</div>
			<gt-box .group dark .loading *if="loading">
				Loading ...
			</gt-box>
			<composer-groups-group *for="group <- groups;" [@dragging]="dragging"
					[group] [channel] [slots]="slotsForGroup(group.id)"></composer-groups-group>
			<gt-box .add dark (click)="createGroup()" *if="!loading">
				<i>add</i>
			</gt-box>
		</gt-box>
		<gt-dialog #rename-doc>
			<gt-box heading="Rename document" scrollable>
				<gt-form (submit)="renameDocument(#rename-input.value); #rename-doc.hide()">
					<gt-input #rename-input .autofocus [value]="doc.title" label="Document title"></gt-input>
					<div .actions .spacing>
						<gt-button (click)="#rename-doc.hide()"> Cancel</gt-button>
						<gt-button submit> Ok</gt-button>
					</div>
				</gt-form>
			</gt-box>
		</gt-dialog>
		<gt-dialog #delete-doc>
			<gt-box heading="Delete document" scrollable>
				Are you sure you want to delete this document ?<br>
				This operation cannot be undone.
				<div .actions .spacing>
					<gt-button (click)="#delete-doc.hide()"> Cancel</gt-button>
					<gt-button (click)="deleteDocument(); #delete-doc.hide()">Delete</gt-button>
				</div>
			</gt-box>
		</gt-dialog>
	</template>
</xuen-component>

<xuen-component id="composer-groups-group">
	<link rel="stylesheet/less" href="/assets/less/composer.less" ns="composer-groups-group">
	<template>
		<gt-box .group dark>
			<div .actions>
				<div .stats>
					{{count}} <span .gray>({{overallIlvl}})</span>
					<img src="/assets/images/roles/TANK.png"> {{tanksCount}} <span .gray>({{tanksIlvl}})</span>
					<img src="/assets/images/roles/HEALING.png"> {{healersCount}} <span .gray>({{healersIlvl}})</span>
					<img src="/assets/images/roles/DPS.png"> {{dpsCount}} <span .gray>({{dpsIlvl}})</span>
				</div>
				<gt-button collapse-right><i>edit</i></gt-button>
				<gt-button collapse-left collapse-right (click)="deleteGroup()"><i>delete_forever</i></gt-button>
			</div>
			<div .title>{{group.title}}</div>
			<div .layout>
				<div .left>
					<div .tier *for="i <- 0 to tiers" .hover="hover == i" (mouseenter)="enterTier(i)" (mouseleave)="leaveTier(i)">
						<calendar-unit-frame *for="slot <- slotsForTier(i)" [toon]="slot.toon" (mousedown)="beginDrag(i, slot.toon, $event)"
								[@focus]="isFocused(slot.toon)" [@conflict]="isConflict(slot.toon)">
							<gt-tooltip>
								<composer-toon-tooltip [toon]="getToon(slot.toon)"></composer-toon-tooltip>
							</gt-tooltip>
						</calendar-unit-frame>
					</div>
					<div .tier .new .hover="hover == tiers + 1" (mouseenter)="enterTier(tiers + 1)" (mouseleave)="leaveTier(tiers + 1)"></div>
				</div>
				<div .right>
					<gt-box dark .conflicts>
						<div .items>
							<div>
								<span .label>Cloth</span>
								<span .value>
									{{clothsCount}}
								</span>
								<gt-tooltip *if="clothsCount > 0">
									<div *for="user <- cloths" [@class-color]="user.classid">{{user.name}}</div>
								</gt-tooltip>
							</div>
							<div>
								<span .label>Leather</span>
								<span .value>
									{{leathersCount}}
								</span>
								<gt-tooltip *if="leathersCount > 0">
									<div *for="user <- leathers" [@class-color]="user.classid">{{user.name}}</div>
								</gt-tooltip>
							</div>
							<div>
								<span .label>Mail</span>
								<span .value>
									{{mailsCount}}
								</span>
								<gt-tooltip *if="mailsCount > 0">
									<div *for="user <- mails" [@class-color]="user.classid">{{user.name}}</div>
								</gt-tooltip>
							</div>
							<div>
								<span .label>Plate</span>
								<span .value>
									{{platesCount}}
								</span>
								<gt-tooltip *if="platesCount > 0">
									<div *for="user <- plates" [@class-color]="user.classid">{{user.name}}</div>
								</gt-tooltip>
							</div>
						</div>
						<div .items .space>
							<div>
								<span .label>Conqueror</span>
								<span .value>
									{{conquerorsCount}}
								</span>
								<gt-tooltip *if="conquerorsCount > 0">
									<div *for="user <- conquerors" [@class-color]="user.classid">{{user.name}}</div>
								</gt-tooltip>
							</div>
							<div>
								<span .label>Protector</span>
								<span .value>
									{{protectorsCount}}
								</span>
								<gt-tooltip *if="protectorsCount > 0">
									<div *for="user <- protectors" [@class-color]="user.classid">{{user.name}}</div>
								</gt-tooltip>
							</div>
							<div>
								<span .label>Vanquisher</span>
								<span .value>
									{{vanquishersCount}}
								</span>
								<gt-tooltip *if="vanquishersCount > 0">
									<div *for="user <- vanquishers" [@class-color]="user.classid">{{user.name}}</div>
								</gt-tooltip>
							</div>
						</div>
						<div .items .space>
							<div>
								<span .label>Arcane</span>
								<span .value>
									{{arcaneRelicsCount}}
								</span>
								<gt-tooltip *if="arcaneRelicsCount > 0">
									<div *for="user <- arcaneRelics" [@class-color]="user.classid">{{user.name}}</div>
								</gt-tooltip>
							</div>
							<div>
								<span .label>Blood</span>
								<span .value>
									{{bloodRelicsCount}}
								</span>
								<gt-tooltip *if="bloodRelicsCount > 0">
									<div *for="user <- bloodRelics" [@class-color]="user.classid">{{user.name}}</div>
								</gt-tooltip>
							</div>
							<div>
								<span .label>Fel</span>
								<span .value>
									{{felRelicsCount}}
								</span>
								<gt-tooltip *if="felRelicsCount > 0">
									<div *for="user <- felRelics" [@class-color]="user.classid">{{user.name}}</div>
								</gt-tooltip>
							</div>
							<div>
								<span .label>Fire</span>
								<span .value>
									{{fireRelicsCount}}
								</span>
								<gt-tooltip *if="fireRelicsCount > 0">
									<div *for="user <- fireRelics" [@class-color]="user.classid">{{user.name}}</div>
								</gt-tooltip>
							</div>
							<div>
								<span .label>Frost</span>
								<span .value>
									{{frostRelicsCount}}
								</span>
								<gt-tooltip *if="frostRelicsCount > 0">
									<div *for="user <- frostRelics" [@class-color]="user.classid">{{user.name}}</div>
								</gt-tooltip>
							</div>
							<div>
								<span .label>Holy</span>
								<span .value>
									{{holyRelicsCount}}
								</span>
								<gt-tooltip *if="holyRelicsCount > 0">
									<div *for="user <- holyRelics" [@class-color]="user.classid">{{user.name}}</div>
								</gt-tooltip>
							</div>
							<div>
								<span .label>Iron</span>
								<span .value>
									{{ironRelicsCount}}
								</span>
								<gt-tooltip *if="ironRelicsCount > 0">
									<div *for="user <- ironRelics" [@class-color]="user.classid">{{user.name}}</div>
								</gt-tooltip>
							</div>
							<div>
								<span .label>Life</span>
								<span .value>
									{{lifeRelicsCount}}
								</span>
								<gt-tooltip *if="lifeRelicsCount > 0">
									<div *for="user <- lifeRelics" [@class-color]="user.classid">{{user.name}}</div>
								</gt-tooltip>
							</div>
							<div>
								<span .label>Shadow</span>
								<span .value>
									{{shadowRelicsCount}}
								</span>
								<gt-tooltip *if="shadowRelicsCount > 0">
									<div *for="user <- shadowRelics" [@class-color]="user.classid">{{user.name}}</div>
								</gt-tooltip>
							</div>
							<div>
								<span .label>Storm</span>
								<span .value>
									{{stormRelicsCount}}
								</span>
								<gt-tooltip *if="stormRelicsCount > 0">
									<div *for="user <- stormRelics" [@class-color]="user.classid">{{user.name}}</div>
								</gt-tooltip>
							</div>
						</div>
					</gt-box>
				</div>
			</div>
		</gt-box>
	</template>
</xuen-component>
