<xuen-component id="gt-dashboard">
	<link rel="stylesheet/less" href="/assets/less/dashboard.less" ns="gt-dashboard">
	<template>
		<div #layout>
			<div #left>
				<div #col1>
					<dashboard-news></dashboard-news>
				</div>
				<div #col2>
					<gt-box #activity heading="Guild activity" scrollable>
						<div style="position: absolute; top: 60px; left: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center; font-size: 60px;">
							<i>build</i>
						</div>
					</gt-box>
					<dashboard-shoutbox #shoutbox></dashboard-shoutbox>
				</div>
			</div>
			<div #right>
				<profile-user #profile [user]="app.user.id"></profile-user>
				<gt-box #informations heading="Informations" hidden></gt-box>
				<dashboard-onlines #onlines></dashboard-onlines>
			</div>
		</div>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="dashboard-news">
	<link rel="stylesheet/less" href="/assets/less/dashboard.less" ns="dashboard-news">
	<template>
		<gt-box #feed heading="News Feed" scrollable>
			<div #disconnected *if="!available">
				<i>cloud_off</i>
			</div>
			<!--<div #actions>
				<dashboard-news-filter key="MMO" [active]="filters.MMO"></dashboard-news-filter>
				<dashboard-news-filter key="BLUE" [active]="filters.BLUE"></dashboard-news-filter>
				<dashboard-news-filter key="WOW" [active]="filters.WOW"></dashboard-news-filter>
			</div>-->
			<gt-alert #none *if="count < 1" icon="cloud_off" dark>
				No news to display.<br>
				The news feed may be temporarily unavailable.
			</gt-alert>
			<div #list>
				<div .news *for="item of news" [@visible]="visible(item.source)" (click)="open">
					<img [src]="icon(item)">
					<b {tags}="item.tags" {source}="item.source">{{item.title}}</b>
					<gt-timeago [date]="item.time"></gt-timeago>
				</div>
			</div>
		</gt-box>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="dashboard-news-filter">
	<link rel="stylesheet/less" href="/assets/less/dashboard.less" ns="dashboard-news-filter">
	<template>
		<gt-button {active}><img [src]="icon"></gt-button>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="dashboard-shoutbox">
	<link rel="stylesheet/less" href="/assets/less/dashboard.less" ns="dashboard-shoutbox">
	<template>
		<gt-box #shoutbox heading="Shoutbox" scrollable>
			<div style="position: absolute; top: 60px; left: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center; font-size: 60px;">
				<i>build</i>
			</div>
			<!--<div .message *for="messages" hidden>
				<span .left>
					<gt-timeago .time [date]="item.date"></gt-timeago>
					<span .actions>
					</span>
				</span>
				<span .author>{{item.from}}</span>
				<span .message>{{item.text}}</span>
			</div>-->
		</gt-box>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="dashboard-onlines">
	<link rel="stylesheet/less" href="/assets/less/dashboard.less" ns="dashboard-onlines">
	<template>
		<gt-box #onlines heading="Onlines" scrollable>
			<dashboard-onlines-user [user]="user" *for="user of onlines"></dashboard-onlines-user>
		</gt-box>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="dashboard-onlines-user">
	<link rel="stylesheet/less" href="/assets/less/dashboard.less" ns="dashboard-onlines-user">
	<template>
		<meta is="roster-main" [user] [main]>
		<div #layout {away}>
			<b #name>{{main.name}}</b>
			<div #state-container>
				<div #state></div>
			</div>
			<bnet-thumb [char]="main"></bnet-thumb>
		</div>
	</template>
</xuen-component>
