<xuen-component id="gt-profile">
	<link rel="stylesheet/less" href="/assets/less/profile.less" ns="gt-profile">
	<template>
		<div #left>
			<profile-user #profile [user]></profile-user>
			<profile-info #infos [user] [editable]></profile-info>
			<gt-box #stats heading="Statistics" scrollable>
				<div style="display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; position: absolute; top: 0; left: 0;">
					<i style="color: #64B4FF; opacity: 0.5; font-size: 60px;">build</i>
				</div>
			</gt-box>
		</div>
		<div #middle>
			<profile-chars #chars [user] [editable]></profile-chars>
		</div>
		<div #right>
			<gt-box heading="Actions" #actions scrollable>
				<div .buttons>
					<gt-button disabled><i>mail</i> Send message</gt-button>
					<gt-button disabled><i>textsms</i> Open talk</gt-button>
					<gt-button disabled><i>settings</i> Settings</gt-button>
					<gt-button *if="app.user.promoted" disabled><i>build</i> Manage</gt-button>
				</div>
			</gt-box>
		</div>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="profile-user">
	<link rel="stylesheet/less" href="/assets/less/profile.less" ns="profile-user">
	<template>
		<gt-box>
			<div #layout>
				<bnet-thumb [toon]="main"></bnet-thumb>
				<div #infos>
					<div #name [@class-color]="main.clss">{{main.name}}</div>
					<div #main>
						<b>{{main.level}}</b>
						<b>{{main.race | race}}</b>
						<b>{{main.clss | class}}</b>
					</div>
					<div #rank>
						<b>{{rank | rank}}</b>
					</div>
				</div>
			</div>
		</gt-box>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="profile-info">
	<link rel="stylesheet/less" href="/assets/less/profile.less" ns="profile-infos">
	<template>
		<gt-box heading="Profile" scrollable>
			<gt-button *if="editable" (click)="edit()"><i>edit</i> Edit</gt-button>
			<div #username>
				<i>person</i>
				<span>Username</span>
				<b>{{info?.name }}</b>
			</div>
			<div #rank>
				<i>grade</i>
				<span>Rank</span>
				<b>{{info?.group | rank}}</b>
			</div>
			<div #access>
				<i>security</i>
				<span>Access tags</span>
				<b *if="info?.developer">D</b>
				<b *if="info?.officer">O</b>
				<b *if="info?.member">M</b>
				<b *if="info?.roster">R</b>
				<b *if="info?.fs">G</b>
				<span *if="!info?.fs">&mdash;</span>
			</div>
			<div #rlname>
				<i>face</i>
				<span>Real-life name</span>
				<b>{{data?.realname}}</b>
			</div>
			<div #bday>
				<i>cake</i>
				<span>Age</span>
				<b>{{age}}</b>
			</div>
			<div #location>
				<i>public</i>
				<span>Location</span>
				<b>{{data?.location}}</b>
			</div>
			<div #btag>
				<i>gamepad</i>
				<span>BattleTag</span>
				<b>{{data?.btag}}</b>
			</div>
			<div #mail *if="app.user.promoted">
				<i>local_post_office</i>
				<span>E-mail</span>
				<b>{{data?.mail}}</b>
			</div>
			<div #phone *if="app.user.promoted">
				<i>local_phone</i>
				<span>Phone</span>
				<b>{{data?.phone| phone}}</b>
			</div>
		</gt-box>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="profile-chars">
	<link rel="stylesheet/less" href="/assets/less/profile.less" ns="profile-chars">
	<template>
		<gt-box heading="Characters" scrollable>
			<gt-button *if="editable" (click)="#addchar.show()"><i>person_add</i> Add character</gt-button>
			<div #layout>
				<div #no-char *if="empty">
					<i>error_outline</i>
					<div *if="!me">
						There is no registered character for this user<br>
						<span .smaller>If he's a new guild member, maybe you could help him get started!</span>
					</div>
					<div *if="me">
						You have no registered character<br>
						<span .smaller>Click on the Add Character button to register your first character</span>
					</div>
				</div>
				<profile-chars-card *for="char of chars by char.id" [char] [editable]></profile-chars-card>
				<div .padding></div>
				<div .padding></div>
				<div .padding></div>
			</div>
			<profile-add-char #addchar [owner]="user"></profile-add-char>
		</gt-box>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="profile-chars-card">
	<link rel="stylesheet/less" href="/assets/less/profile.less" ns="profile-chars-card">
	<template>
		<gt-box [@inactive]="!char.active" dark>
			<div #layout>
				<bnet-thumb [toon]="char"></bnet-thumb>
				<div #infos>
					<div #name [@class-color]="char.clss">{{ char.name }}</div>
					<div>
						{{ char.level }}
						{{ char.race | race }}
						{{ char.clss | class }}
					</div>
					<div #meta>
						{{ char.last_update | ago | capitalize }}
						&ndash;
						{{ char.ilvl }} ilvl
					</div>
				</div>
				<div #icon [@main]="char.main" [@active]="char.active">
					<i #main>star</i>
					<i #active>star_border</i>
					<i #inactive>brightness_3</i>
				</div>
			</div>
			<div #actions [hidden]="!editable">
				<div #roles [hidden]="!char.active">
					<img src="/assets/images/roles/TANK.png" [@active]="char.role == 'TANK'" (click)="setRole('TANK')">
					<img src="/assets/images/roles/HEALING.png" [@active]="char.role == 'HEALING'" (click)="setRole('HEALING')">
					<img src="/assets/images/roles/DPS.png" [@active]="char.role == 'DPS'" (click)="setRole('DPS')">
				</div>
				<span [hidden]="!char.active">
					<gt-button [hidden]="char.main" (click)="promote()">Main</gt-button>
					<gt-button [hidden]="char.main" (click)="disable()">Disable</gt-button>
					<gt-button [@disabled]="!updatable" (click)="update()">Update</gt-button>
				</span>
				<gt-button [hidden]="char.active" (click)="enable()">Enable</gt-button>
				<gt-button [hidden]="char.active" (click)="delete()">Remove</gt-button>
			</div>
		</gt-box>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="profile-add-char">
	<link rel="stylesheet/less" href="/assets/less/profile.less" ns="profile-add-char">
	<template>
		<gt-dialog #dialog>
			<gt-box>
				<div #background>
					<img default src="/assets/images/profile/addchar-default.jpg">
				</div>
				<div #middle></div>
				<div #foreground>
					<h3>Add character</h3>
					<gt-form #form (submit)="load()">
						<gt-input #server type="text" label="Server name" [(value)]="server" [disabled]="hasToon" required></gt-input>
						<gt-input #name type="text" label="Character name" [(value)]="name" [disabled]="hasToon" required></gt-input>
					</gt-form>
					<div #load>
						<gt-button #load-btn [disabled]="!canLoad" (click)="load()"><i>file_download</i> Load</gt-button>
					</div>
					<div #bottom [@disabled]="confirmDisabled">
						<div #roles-label>
							Character main role
						</div>
						<div #roles>
							<img src="/assets/images/roles/TANK.png" [@active]="role == 'TANK'" (click)="role = 'TANK'">
							<img src="/assets/images/roles/HEALING.png" [@active]="role == 'HEALING'" (click)="role = 'HEALING'">
							<img src="/assets/images/roles/DPS.png" [@active]="role == 'DPS'" (click)="role = 'DPS'">
						</div>
						<div #actions>
							<gt-button (click)="#dialog.hide()">Cancel</gt-button>
							<gt-button [disabled]="confirmDisabled" (click)="confirm()">Confirm</gt-button>
						</div>
					</div>
				</div>
			</gt-box>
		</gt-dialog>
	</template>4
</xuen-component>
