<xuen-component id="gt-settings">
	<link rel="stylesheet/less" href="/assets/less/settings.less">
	<template>
		<gt-box heading="GuildTools Settings" scrollable>
			<div #layout>
				<div #left>
					<ul #selector>
						<li *for="item of tabs" [@active]="tab == item.id" (click)="tab = item.id">
							<i>{{item.icon}}</i>
							<b>{{item.title}}</b>
						</li>
					</ul>
				</div>
				<div #right *match="tab">
					<div *case="'general'">
						<h2>General settings</h2>
					</div>
					<div *case="'advanced'">
						<h2>Streaming</h2>
						<gt-label>
							<gt-checkbox></gt-checkbox> Disable playback buffering
							<p>This may drastically reduce playback quality and cause freezes, rollbacks and artifacts.</p>
						</gt-label>

						<h2>Developer settings</h2>
						<!--<p .help>These settings are specific to your current computer and will be cleared if you delete local browser data.</p>-->
						<gt-label>
							<gt-checkbox [(checked)]="loadingFast"></gt-checkbox> Disable loading animation synchronization
						</gt-label>
						<gt-label>
							<gt-checkbox [(checked)]="socketVerbose"></gt-checkbox> Enable GTP3 verbose mode
						</gt-label>
					</div>
				</div>
			</div>
		</gt-box>
	</template>
</xuen-component>
