<xuen-component id="gt-streams">
	<link rel="stylesheet/less" href="/assets/less/streams.less" ns="gt-streams">
	<template>
		<div #left>
			<gt-box #live-list scrollable heading="Live Streams">
				<gt-alert icon="pause_circle_outline" dark [@hidden]="hasStreams">
					No live stream available
				</gt-alert>
				<div *for="stream <- list">
					<stream-item (click)="selectStream(stream.user)" [stream] [@active]="selected == stream.user"></stream-item>
				</div>
			</gt-box>
			<stream-viewers [stream]="selected" [@hidden]="selected < 1"></stream-viewers>
		</div>
		<div #main-box>
			<stream-player [@hidden]="selected < 0" [stream]="selected"></stream-player>
			<div #placeholder [@hidden]="selected > 0">
				<i>airplay</i>
			</div>
		</div>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="stream-item">
	<link rel="stylesheet/less" href="/assets/less/streams.less" ns="streams-item">
	<template>
		<gt-box dark>
			<div #layout>
				<div #live [@live]="stream.live"><div #light></div></div>
				<div #name [@class-color]="main.classid">{{main.name}}</div>
				<div #locked [@hidden]="!stream.progress"><i>lock</i></div>
				<div #viewers>
					<b>{{viewers}}</b>
					<i>person</i>
				</div>
				<i #chevron>chevron_right</i>
			</div>
		</gt-box>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="stream-viewers">
	<link rel="stylesheet/less" href="/assets/less/streams.less" ns="streams-viewers">
	<template>
		<gt-box #viewers scrollable heading="Viewers">
			<div #count>{{count}}</div>
			<calendar-unit-frame *for="viewer <- viewers" [toon]="viewer"></calendar-unit-frame>
		</gt-box>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<xuen-component id="stream-player">
	<link rel="stylesheet/less" href="/assets/less/streams.less" ns="streams-player">
	<template>
		<gt-alert dark icon="error_outline" *if="error">
			<b>{{error}}</b>
		</gt-alert>
	</template>
</xuen-component>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="gt-streams-settings">
	<link rel="stylesheet/less" href="/assets/less/streams.less" ns="streams-settings">
	<template>
		<div #layout>
			<i>airplay</i>
			<div #right>
				<div *if="!hasToken">
					<h3>Create your streaming key</h3>
					<p .desc>
						Before publishing a live stream on GuildTools, you need to
						generate your streaming key. This key is personnal
						and must be kept secret.
					</p>
					<p>
						<gt-button fat collapse-left {disabled}="generating" (click)="Generate">Create key</gt-button>
					</p>
				</div>
				<div *if="hasToken">
					<h3>Streaming settings</h3>
					<p>
						<table>
							<tr><td>FMS URL</td><td><gt-box dark class="copyable"><span>rtmp://tv.fromscratch.gg/live?key=</span><span>{{key}}</span></gt-box></td></tr>
							<tr><td>Stream Key</td><td><gt-box dark class="copyable"><span>{{token}}</span></gt-box></td></tr>
						</table>
					</p>
					<h3>Stream visibility <i #updated-check {visible}="visibility_check">done</i></h3>
					<p>
						<gt-label>
							<gt-checkbox [radio]="visibility" value="open" (click)="UpdateVisibility"></gt-checkbox>
							Open
						</gt-label>
						<gt-label>
							<gt-checkbox [radio]="visibility" value="limited" (click)="UpdateVisibility"></gt-checkbox>
							Limited
						</gt-label>
					</p>
					<p .desc>
						When limited visibility is enabled, officer approval is required to access your stream.
						This option must be enabled when live streaming progress content.
					</p>
				</div>
			</div>
		</div>
	</template>
</dom-module>

<!-- ////////////////////////////////////////////////////////////////////// -->

<dom-module id="gt-streams-whitelist">
	<link rel="stylesheet/less" href="/assets/less/streams.less" ns="streams-whitelist">
	<template>
		Whitelist
	</template>
</dom-module>
