@(host: String, stream: String)
<!DOCTYPE html>

<style>
	html, body, #player {
		margin: 0;
		padding: 0;
		background: transparent;
		width: 100%;
		height: 100%;
	}
</style>

<div id="player"></div>

<script src="/clappr/proxy/clappr.min.js"></script>
<script src="/assets/javascripts/clappr.rtmp.js"></script>

<script>
	// Change controls layout
	(function(setupPlaybackType) {
		RTMP.prototype.setupPlaybackType = function() {
			setupPlaybackType.apply(this, arguments);
			this.settings = { 'left': ["volume"], 'default': [""], 'right': ["fullscreen"] };
			this.settings.seekEnabled = false;
		};
	})(RTMP.prototype.setupPlaybackType);

	// Construct player
	var player = new Clappr.Player({
		source: "rtmp://@host/live/@stream",
		parentId: "#player",
		height: "100%",
		width: "100%",
		autoPlay: true,
		plugins: { "playback": [ RTMP ] },
		rtmpConfig: {
			swfPath: "/assets/swfs/RTMP.swf",
			bufferTime: 0.1
		}
	});
</script>
