<!DOCTYPE html>
<meta charset="UTF-8">
<title>Guild Tools</title>
<style>body{background-color:#2e3740}.cloak{opacity:0;}</style>
<script>
	(function() {
		var xhr = new XMLHttpRequest();
		xhr.open("GET", '@routes.Assets.versioned("/public", "less/loading.css")', true);
		xhr.responseType = "text";
		xhr.onload = function() {
			var style = document.createElement("style");
			style.type = "text/css";
			style.appendChild(document.createTextNode(this.response));
			document.head.appendChild(style);
		};
		xhr.send();
	})();
</script>
<script defer data-async="true" data-env="production" src='@routes.Assets.versioned("/public", "javascripts/less.js")'></script>
<script defer src='@routes.Assets.versioned("/public", "javascripts/reflect.js")'></script>
<script defer src='@routes.Assets.versioned("/public", "javascripts/traceur.js")'></script>
<script defer src='@routes.Assets.versioned("/public", "javascripts/system.js")'></script>
<script defer src='@routes.Assets.versioned("/public", "javascripts/system-polyfills.js")'></script>
<script defer src='@routes.Assets.versioned("/public", "tools/config.js")'></script>
<script defer id="wc-lite" src='@routes.Assets.versioned("/public", "javascripts/webcomponents-lite.js")'></script>
<script>
	document.getElementById("wc-lite").onload = function() {
		System.import("client/boot").then(function(boot){boot.default();});
	};
</script>
<div id="loader" class="cloak"><div class="spinner"><b></b><b></b><b></b><b></b><b></b><b></b></div></div>
<div id="background"></div>
<div id="fader"></div>
<div id="app-loader" class="cloak"><img src="/assets/images/spinner.svg"></div>
