@import scala.collection.concurrent.TrieMap
@(digests: TrieMap[String, Option[String]])
<!DOCTYPE html>
<meta charset="UTF-8">
<title>Guild Tools</title>
<link rel="shortcut icon" href='@routes.Assets.versioned("images/favicon.ico")'>

<!-- Background and nothing else -->
<style>
	body {
		overflow: hidden;
		background-color: #2e3740;
	}

	.cloak {
		opacity: 0;
	}

	#borders {
		position: absolute;
		z-index: -1;
		top: 0; left: 0; right: 0; bottom: 0;
		display: none;
	}

	.app #borders {
		border: 1px solid rgb(17, 17, 17);
		display: block;
	}

	.app #borders::after {
		content: "";
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		border: 1px solid rgba(200, 200, 200, 0.20);
	}
</style>

<!-- Client-side routes -->
<script>
	var gt_routes = {
		@for((source, target) <- digests if target.isDefined) { "@source": "@target.get", }
	};
	function gt_asset(path) {
		if (typeof path !== "string") return path;
		path = path.replace(/^(?:\/assets\/)?(.+)$/, "$1");
		var digest = gt_routes["/public/" + path];
		if (digest) return path.replace(/^(.+)\/([^\/]+)$/, "/assets/$1/" + digest + "-$2");
		return "/assets/" + path;
	}
</script>

<!-- Load the loading stylesheet -->
<script>
	var APP = typeof require == "function";
	if (APP) document.querySelector("html").classList.add("app");
	(function() {
		var xhr = new XMLHttpRequest();
		xhr.open("GET", '@routes.Assets.versioned("less/loading.css")', true);
		xhr.responseType = "text";
		xhr.onload = function() {
			var style = document.createElement("style");
			style.type = "text/css";
			style.appendChild(document.createTextNode(this.response));
			document.head.appendChild(style);
		};
		xhr.send();
	})();
</script>

<!-- Loading cover spinner -->
<div id="loader" class="cloak">
	<div class="spinner"><b></b><b></b><b></b><b></b><b></b><b></b></div>
</div>
<div id="loader-titlebar" class="cloak">
	<i onclick="window.close();">close</i>
</div>

<!-- Application utility divs -->
<div id="borders"></div>
<div id="background"></div>
<div id="app-loader" class="cloak"><img src='@routes.Assets.versioned("images/spinner.svg")'></div>

<!-- Base framework -->
<script src='@routes.Assets.versioned("javascripts/reflect.js")'></script>
<script src='@routes.Assets.versioned("javascripts/traceur-runtime.js")'></script>
<script src='@routes.Assets.versioned("javascripts/system.js")'></script>
<script src='@routes.Assets.versioned("tools/config.js")'></script>
<script src='@routes.Assets.versioned("javascripts/webcomponents-lite.js")'></script>
<script src='@routes.Assets.versioned("javascripts/prefixfree.js")'></script>

<!-- Check browser compatibility -->
<script src='@routes.Assets.versioned("javascripts/bowser.js")'></script>
<script>
	(function() {
		var valid = (function() {
			var version = parseInt(bowser.version.split(".")[0]);
			switch (bowser.name) {
				case "Chrome": return version >= 46;
				case "Firefox": return version >= 41;
				default: return false;
			}
		})();

		if (!valid) {
			document.location.href = "/unsupported";
		}
	})();
</script>

<!-- Load application -->
<script>
	System.import("client/boot").then(function(boot) {
		boot.default();
	});
</script>
