@import gt.GuildTools
@(session: Option[String])
<!DOCTYPE html>
<meta charset="UTF-8">
<title>Guild Tools</title>
<link rel="shortcut icon" href='@routes.Assets.versioned("images/favicon.ico")'>

<!-- Background and nothing else -->
<style>
	body {
		overflow: hidden;
		background-color: #2e3740;
	}

	.cloak {
		opacity: 0;
	}

	#borders {
		position: absolute;
		z-index: -1;
		top: 0; left: 0; right: 0; bottom: 0;
		display: none;
	}

	.app #borders {
		border: 1px solid rgb(17, 17, 17);
		display: block;
	}

	.app #borders::after {
		content: "";
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		border: 1px solid rgba(200, 200, 200, 0.20);
	}
</style>

<!-- Loading cover spinner -->
<div id="loader" class="cloak">
	<div class="spinner"><b></b><b></b><b></b><b></b><b></b><b></b></div>
</div>
<div id="loader-titlebar" class="cloak">
	<i onclick="window.close();">close</i>
</div>

<!-- Application utility divs -->
<div id="borders"></div>
<div id="background"></div>
<div id="app-loader" class="cloak"><img src="/assets/images/spinner.svg"></div>

<!-- Load the loading stylesheet -->
<script>
@if(session.isDefined) {
	localStorage.setItem("auth.session", '@session.get');
}

	var APP = typeof require == "function";
	if (APP) document.querySelector("html").classList.add("app");

@if(GuildTools.dev) {
	var DEV = true;
} else {
	var DEV = false;
}

	function sso_url() {
		var sso = DEV ? "/auth/sso" : "https://auth.fromscratch.gg/sso";
		return sso + "?service=gt&token=" + encodeURIComponent(document.location.pathname);
	}

	var ready = new Promise(function(res, rej) {
		if (!localStorage.getItem("auth.session")) {
			// Fail fast if authentication data is not available
			(function() {
				document.location.href = sso_url();
			})();
		} else {
			(function() {
				var xhr = new XMLHttpRequest();
				xhr.open("GET", '@routes.Assets.versioned("less/loading.css")', true);
				xhr.responseType = "text";
				xhr.onload = function() {
					var style = document.createElement("style");
					style.type = "text/css";
					style.appendChild(document.createTextNode(this.response));
					document.head.appendChild(style);
					res();
				};
				xhr.send();
			})();
		}
	});
</script>

<!-- Check browser compatibility -->
<script src='@routes.Assets.versioned("javascripts/bowser.js")'></script>
<script>
	(function() {
		var bowser = this.bowser || module.exports;

		var valid = (function() {
			var version = parseInt(bowser.version.split(".")[0]);
			if (bowser.chrome) return version >= 49;
			//else if (bowser.firefox) return version >= 41;
			else return false;
		})();

		var same = localStorage.getItem("unsupported.ignored") == navigator.userAgent;

		if (!valid && !same) {
			document.location.href = "/unsupported";
		}
	})();
</script>

<!-- Base framework -->
<script src='@routes.Assets.versioned("javascripts/reflect.js")'></script>
<script src='@routes.Assets.versioned("javascripts/system.js")'></script>
<script src='@routes.Assets.versioned("tools/config.js")'></script>
<script src='@routes.Assets.versioned("javascripts/promise.js")'></script>
<script src='@routes.Assets.versioned("javascripts/prefixfree.js")'></script>

<!-- Load application -->
<script>
	ready.then(function() {
		var script = document.createElement("script");
		script.onload = function() {
			System.import("boot").then(function(boot) {
				boot.default();
			});
		};
		script.src = '@routes.Assets.versioned("tools/tools.js")';
		document.head.appendChild(script);
	});
</script>
