<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="apple-touch-icon-precomposed" sizes="196x196" href='@routes.Assets.versioned("/public", "images/icon_big.png")'>
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="196x196" href='@routes.Assets.versioned("/public", "images/icon_big.png")'>
	<meta name="viewport" content="width=1200">

	<link rel="shortcut icon" href='@routes.Assets.versioned("/public", "images/favicon.ico")'>

	<title>GuildTools</title>

	<script>
		(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,"script","//www.google-analytics.com/analytics.js","ga");

		ga("create", "UA-51329998-4", "auto");
		ga("require", "displayfeatures");
	</script>

	<script>
		var paceOptions = {
			elements: {
				selectors: [
					"body",
					"#loading-done"
				]
			},
			extraSources: [
				function() {
					Object.defineProperty(this, "progress", {
						get: function() {
							if (typeof $ !== "object") return 100;
							return Math.round(100 / ($.getInflight() + 1));
						},
						set: function() {}
					});
				},
				function() {
					Object.defineProperty(this, "progress", {
						get: function() {
							if (typeof $ !== "object") return 100;
							return Math.round(100 / ($.bnInflight() + 1));
						},
						set: function() {}
					});
				}
			],
			ajax: {
				trackWebSockets: false
			},
			restartOnPushState: false
		};
	</script>
	<link href='@routes.Assets.versioned("/public", "loading/loading.css")' rel="stylesheet" data-noprefix="true">
	<script src='@routes.Assets.versioned("/public", "javascripts/pace.js")'></script>
	<script src='@routes.WebJarAssets.at(WebJarAssets.locate("es6-shim.js"))'></script>

	<script src='@routes.Assets.versioned("/public", "javascripts/modernizr.js")'></script>
	<script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
	<script>
		if (typeof module === "object" && module.exports) {
			// DUMB JQUERY!
			_ = jQuery = module.exports;
		} else {
			_ = $.noConflict();
		}
	</script>
	<script src='@routes.WebJarAssets.at(WebJarAssets.locate("moment.min.js"))'></script>
	<script>if (typeof module === "object" && module.exports) { moment = module.exports; }</script>
	<script src='@routes.Assets.versioned("/public", "javascripts/velocity.js")'></script>
	<script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
	<script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-route.min.js"))'></script>
	<script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-animate.min.js"))'></script>
	<script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-moment.js"))'></script>
	<script src='@routes.WebJarAssets.at(WebJarAssets.locate("compressed/showdown.js"))'></script>
	<script src='@routes.Assets.versioned("/public", "javascripts/crypto.js")'></script>
	<script src='@routes.Assets.versioned("/public", "javascripts/phpbb_hash.js")'></script>
	<script src='@routes.Assets.versioned("/public", "javascripts/elastic.js")'></script>

	<script src='@routes.Assets.versioned("/public", "javascripts/core.js")'></script>
	<script src='@routes.Assets.versioned("/public", "javascripts/app.js")'></script>
	<script src='@routes.Assets.versioned("/public", "javascripts/tools.js")'></script>
	<script src='@routes.Assets.versioned("/public", "javascripts/controllers/global.js")'></script>
	<script src='@routes.Assets.versioned("/public", "javascripts/controllers/title_bar.js")'></script>
	<script src='@routes.Assets.versioned("/public", "javascripts/controllers/dashboard.js")'></script>
	<script src='@routes.Assets.versioned("/public", "javascripts/controllers/login.js")'></script>
	<script src='@routes.Assets.versioned("/public", "javascripts/controllers/profile.js")'></script>
	<script src='@routes.Assets.versioned("/public", "javascripts/controllers/calendar.js")'></script>
	<script src='@routes.Assets.versioned("/public", "javascripts/controllers/absences.js")'></script>
	<script src='@routes.Assets.versioned("/public", "javascripts/controllers/roster.js")'></script>
	<script src='@routes.Assets.versioned("/public", "javascripts/controllers/misc.js")'></script>

	<link data-href='@routes.Assets.versioned("/public", "stylesheets/awe.css")' rel="stylesheet">
	<link data-href='@routes.Assets.versioned("/public", "stylesheets/tools.css")' rel="stylesheet">
	<link data-href='@routes.Assets.versioned("/public", "stylesheets/app.css")' rel="stylesheet">
	<link data-href='@routes.Assets.versioned("/public", "stylesheets/pace.css")' rel="stylesheet">
	<script src='@routes.WebJarAssets.at(WebJarAssets.locate("prefixfree.min.js"))'></script>

	<script>
		ga("set", {
			"appName": "GuildTools",
			"appVersion": "fs-" + ($$ ? $$.version : "web")
		});

		$.init();
		Pace.once("hide", function() {
			$.load();

			Pace.on("start", function() {
				_("#app-menu-icon").css("opacity", 0.3);
			});

			Pace.on("hide", function() {
				_("#app-menu-icon").css("opacity", 1);
			});
		});
	</script>
</head>
<body class="loading live" ng-controller="GlobalCtrl" ng-class="{ 'modal-visible': modalView, 'authenticated': $.user }">
	<div id="loading-cover"></div>

	<div id="loading-error">
		<div id="loading-error-frame">
			<h2 id="loading-error-title"></h2>
			<p id="loading-error-text"></p>
			<p id="loading-error-infos"></p>
			<div id="loading-error-actions">
				<button onclick='_("#loading-error").css({ display: "none", opacity: 1 }); _("#loading-error-actions").css({ display: "none" });'>Dismiss</button>
				<button onclick='document.location.reload();'>Reload</button>
			</div>
		</div>
	</div>

	<ul id="context-menu" style="display: none">
		<li ng-repeat="entry in menuContent | orderBy:'order'" ng-class="{ sub: !!entry.sub, separator: entry.separator }" ng-click="entry.action(); menuClose()">
			<div ng-if="!entry.separator">
				<i class="{{ entry.icon }}" ng-if="entry.icon"></i>
				{{ entry.text }}
				<span ng-if="entry.text2">{{ entry.text2 }}</span>
			</div>
		</li>
	</ul>

	<div id="tooltip" class="tooltip"></div>

	<header ng-controller="TitleBarCtrl">
		<div id="left-controls">
			<img src="/assets/images/logo_small2.png" id="app-menu-icon" ng-click="$.user && menu(titleMenu, $event)">
			<nav ng-if="$.user">
				<button ng-repeat="entry in navigator" ng-click="entry[2]()" ng-class="{ active: entry[0] == navigator_tab }">{{ entry[1] }}</button>
				<button ng-if="!navigator" class="active">{{ navigator_fallback }}</button>
			</nav>
		</div>
		<div id="right-controls" ng-if="$.user">
			<div class="user" ng-if="$.user" ng-click="menu(userMenu, $event)">
				<span class="status-dot"></span>
				{{ $.user.name }}
				<i class="awe-down-dir"></i>
			</div>
			<button id="chat-control">
				<i class="awe-chat-empty"></i>
				{{ $.online.length }}
			</button>
		</div>
		<div id="window-controls">
			<span class="minify"><i class="awe-minus"></i></span>
			<span class="maximize"><i class="awe-resize-full"></i></span>
			<span class="close"><i class="awe-cancel"></i></span>
		</div>
	</header>

	<div id="modal" class="animated" ng-if="modalView" ng-click="modalClose($event)">
		<div ng-include="modalView" class="animated"></div>
	</div>

	<nav id="sidebar">
		<ul ng-if="$.user" class="animated">
			<li ng-click="goto('/')" ng-class="{ active: navigator_current == 'dashboard' }">
				<img src="/assets/images/icons/home.png">
			</li>

			<li ng-click="goto('/profile')" ng-class="{ active: navigator_current == 'profile' }">
				<img src="/assets/images/icons/helm2.png">
			</li>

			<li ng-click="goto('/calendar')" ng-class="{ active: navigator_current == 'calendar' }">
				<img src="/assets/images/icons/calendar.png">
			</li>

			<!--<li ng-click="breadcrumb.reset('/_')">
				<img src="/assets/images/icons/whishlist.png">
			</li>-->

			<li ng-click="goto('/roster')" ng-class="{ active: navigator_current == 'roster' }">
				<img src="/assets/images/icons/roster.png">
			</li>

			<li onclick="document.location = 'http://www.fs-guild.net/forum/';">
				<img src="/assets/images/icons/forum.png">
			</li>

			<!--
			<li ng-click="breadcrumb.reset('/_')">
				<img src="/assets/images/icons/blueprint.png">
				<div>Blueprint</div>
			</li>
			-->
		</ul>
	</nav>

	<div id="main-view-slider">
		<div class="main-view animated" ng-view></div>
	</div>

	<div id="error-popup" class="animated" ng-if="popupErrorText">
		<i class="awe-attention-circled"></i>
		{{ popupErrorText }}
	</div>

	<script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
	<script>
		var wowhead_tooltips = {}
	</script>
</body>
</html>

