@()
@error() {
	<script src='@routes.Assets.versioned("javascripts/bowser.js")'></script>
	<script>
			var good = false;
			var bowser = this.bowser || module.exports;
			/*if (bowser.firefox) {
				bowser.name = "Mozilla Firefox";
				bowser.url = "http://getfirefox.com";
				good = true;
			} else*/ if (bowser.chrome) {
				bowser.name = "Google Chrome";
				bowser.url = "http://www.google.com/chrome";
				good = true;
			}
	</script>

	<p>
		It looks like you are using an unsupported browser.
	</p>
	<p>
		To be as awesome as possible, GuildTools takes advantage of some of the latest web technologies that
		may not yet be supported by your current browser.
	</p>
	<p id="good">
		Since you are already using <script>document.write(bowser.name);</script>, you simply need to update
		your browser to the <a id="upgrade" href="">most-recent version</a> to access GuildTools.
		<script>
				document.getElementById("upgrade").href = bowser.url;
		</script>
	</p>
	<p id="bad">
		Unfortunately, GuildTools is only developed and supported on
		<a href="http://www.google.com/chrome">Google Chrome</a> <!--and
		<a href="http://getfirefox.com">Mozilla Firefox</a>-->.<br>
		A <a href="http://app.fs-guild.net/">standalone application</a>
		is also available if you don't want to install Chrome.
	</p>
	<p>
		Alternatively, in case you really wish to continue using <script>document.write(bowser.name);</script>,
		you can choose to <a href="/" onclick="localStorage.setItem('unsupported.ignored', navigator.userAgent);">
		ignore</a>
		this message and continue anyway.
	</p>
	<p class="mono gray"><script>document.write(bowser.name + " " + bowser.version);</script></p>
	<p class="mono gray"><script>document.write(navigator.userAgent);</script></p>

	<script>
			function remove(id) {
				var node = document.getElementById(id);
				node.parentNode.removeChild(node);
			}

			if (good) {
				remove("bad");
			} else {
				remove("good");
			}
	</script>
}
